# Dummy Data Preparation

In [216]:
import random
import sqlite3
from datetime import datetime, timedelta

import pandas as pd
from faker import Faker
from IPython.display import display

In [217]:
fake = Faker()

Note:

The `id` column will be in string. This is to mimic the real life scenario, whereby the ids may consist of characters.

## Users Table

In [218]:
# Function to generate a name-based email
def generate_email(name):
    name_parts = name.lower().split()
    email_username = ".".join(
        name_parts
    )  # Convert name to lowercase and join with dots
    email_domain = fake.free_email_domain()  # Use a real email domain
    return f"{email_username}@{email_domain}"


# Users Table
users_data = {
    "id": [str(i) for i in range(1, 201)],
    "name": [fake.name() for _ in range(200)],
}

# Generate emails based on names
users_data["email"] = [generate_email(name) for name in users_data["name"]]

# Generate other attributes
users_data["date_of_birth"] = [
    fake.date_of_birth(minimum_age=18, maximum_age=80) for _ in range(200)
]
users_data["gender"] = [
    fake.random_element(elements=["Male", "Female"]) for _ in range(200)
]

users_df = pd.DataFrame(users_data)

display(users_df)

      id              name                         email date_of_birth  gender
0      1      Richard Ruiz        richard.ruiz@yahoo.com    1958-11-12  Female
1      2    Kristen Howell      kristen.howell@gmail.com    1987-02-17    Male
2      3    Breanna Arnold      breanna.arnold@gmail.com    1971-11-27    Male
3      4        Ivan Simon          ivan.simon@yahoo.com    1991-12-23    Male
4      5  Dr. Louis Burton  dr..louis.burton@hotmail.com    1955-09-25    Male
..   ...               ...                           ...           ...     ...
195  196    Diane Gonzalez    diane.gonzalez@hotmail.com    1994-12-15  Female
196  197  Alejandro Martin    alejandro.martin@yahoo.com    1989-09-12    Male
197  198       Anne Jarvis         anne.jarvis@yahoo.com    1982-12-11  Female
198  199   Benjamin Garcia   benjamin.garcia@hotmail.com    1996-11-20  Female
199  200    Cynthia Jordan    cynthia.jordan@hotmail.com    1972-01-15  Female

[200 rows x 5 columns]

In [219]:
# Check that the names are all unique
print(users_df["name"].nunique())

# Check that dates are in range
start_date = "1920-01-01"
end_date = "2025-03-01"

users_df["date_of_birth"] = pd.to_datetime(users_df["date_of_birth"])
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

is_in_range = (users_df["date_of_birth"] >= start_date) & (
    users_df["date_of_birth"] <= end_date
)

# check if the date is under range
if is_in_range.all():
    print("All date are in range")
else:
    print("Some dates are not in range")

200
All date are in range

## Vaccines Table

In [220]:
# Vaccine Table
vaccines_data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8],
    "name": [
        "Influenza (INF)",
        "Human Papillomavirus (HPV)",
        "Pneumococcal",
        "Human Immunodeficiency Viruses (HIV)",
        "Tetanus, Diphtheria, Pertussis (Tdap)",
        "Hepatitis B (HepB)",
        "Measles, Mumps, Rubella (MMR)",
        "Varicella (VAR)",
    ],
    "price": [9.0, 0.0, 16.0, 23.0, 10.0, 9.0, 9.0, 11.0],
    "doses_required": [2, 4, 1, 2, 1, 2, 1, 3],
    "age_criteria": [
        "18+ years old",
        "18+ years old",
        "65+ years old",
        "18-26 years old",
        "27-64 years old",
        "18+ years old",
        "18+ years old",
        "18+ years old",
    ],
    "gender_criteria": [
        "None",
        "None",
        "None",
        "Female",
        "Female",
        "None",
        "None",
        "None",
    ],
    # condition_crietria
}
vaccines_df = pd.DataFrame(vaccines_data)
vaccines_df["id"] = vaccines_df["id"].astype(str)
display(vaccines_df)

,id,name,price,doses_required,age_criteria,gender_criteria
0,1,Influenza (INF),9.0,2,18+ years old,None
1,2,Human Papillomavirus (HPV),0.0,4,18+ years old,None
2,3,Pneumococcal,16.0,1,65+ years old,None
3,4,Human Immunodeficiency Viruses (HIV),23.0,2,18-26 years old,Female
4,5,"Tetanus, Diphtheria, Pertussis (Tdap)",10.0,1,27-64 years old,Female
5,6,Hepatitis B (HepB),9.0,2,18+ years old,None
6,7,"Measles, Mumps, Rubella (MMR)",9.0,1,18+ years old,None
7,8,Varicella (VAR),11.0,3,18+ years old,None

## Polyclinics Table

In [221]:
# Polyclinic Table
polyclinics_data = {
    "id": [i for i in range(1, 31)],  # 30 polyclinics
    "name": [fake.company() + " Polyclinic" for _ in range(30)],
    "address": [fake.address() for _ in range(30)],
}
polyclinics_df = pd.DataFrame(polyclinics_data)
polyclinics_df["id"] = polyclinics_df["id"].astype(str)
display(polyclinics_df)

,id,name,address
0,1,Quinn Group Polyclinic,"0977 Francisco Ridges\nJillshire, UT 20751"
1,2,Campbell-Johnson Polyclinic,"299 Brown Roads Suite 243\nWest Nicole, UT 36884"
2,3,Pierce-Garcia Polyclinic,"1026 Regina Road\nJuliemouth, OR 63304"
3,4,"Baker, Simmons and Vincent Polyclinic","51789 Adkins Mews\nNew Kimberly, SD 87832"
4,5,Esparza Ltd Polyclinic,"18885 John Way\nConnieton, ME 31348"
5,6,Coleman Ltd Polyclinic,"PSC 8231, Box 0303\nAPO AP 45811"
6,7,"Collins, Khan and Martinez Polyclinic","8470 Perry Station\nEast Edward, AL 17611"
7,8,"Yang, Castillo and Sanchez Polyclinic","0814 Steele Radial\nPort Davidside, NY 79097"
8,9,Brown-Strickland Polyclinic,"3015 Sandra Greens Apt. 732\nAndreaberg, PA 27220"
9,10,Williams and Sons Polyclinic,"5705 Jackson Estates Apt. 276\nAnnabury, FM 83503"
10,11,Taylor-Boyle Polyclinic,USNS Price\nFPO AE 65728
11,12,Lucas-Scott Polyclinic,"053 Joe Summit Apt. 241\nJeffside, TN 75688"
12,13,Joyce-Nelson Polyclinic,"96021 Powell Trace\nSouth Henry, LA 61712"
13,14,Brown PLC Polyclinic,"982 Reilly Ridge Apt. 025\nMeyermouth, AR 56831"
14,15,Carter LLC Polyclinic,"4345 Olson Rapid\nBerryberg, MN 61593"
15,16,"Escobar, Parks and Baxter Polyclinic","682 Adams Way\nNorth Dustinbury, MI 17149"
16,17,"Lawrence, Walker and Frank Polyclinic","83347 Nicholas Plains\nNewmanburgh, ND 50532"
17,18,Jackson PLC Polyclinic,"879 Katherine Lakes\nMarkview, OR 76814"
18,19,"Ortiz, Martinez and Wallace Polyclinic",Unit 9518 Box 1360\nDPO AA 87874
19,20,"Hobbs, Dunn and Webster Polyclinic","444 James Trafficway\nWilliamsland, UT 19585"
20,21,"Osborne, Chambers and Diaz Polyclinic","200 Derek Walk Suite 889\nFernandezberg, KY 23710"
21,22,Lopez and Sons Polyclinic,"76859 Miller Estate\nNew Terri, PW 99231"
22,23,Wright-Chandler Polyclinic,"655 Thomas Stream\nEast Mary, IL 33036"
23,24,Mathews Group Polyclinic,"533 Lori Points Suite 584\nMerrittstad, OR 71705"
24,25,Parker and Sons Polyclinic,"4175 Page Prairie\nGibbsfurt, FM 27428"
25,26,"Watts, Stephenson and Wilson Polyclinic","22626 Miller Brook Suite 913\nHawkinsfort, OK ..."
26,27,Curry-Cox Polyclinic,"116 Julie Forges Apt. 585\nPort Mariashire, RI..."
27,28,Hull Ltd Polyclinic,"154 Michael Isle\nSouth Peterview, ID 14451"
28,29,"Chan, Peterson and Benjamin Polyclinic","5241 Kristen Mills Apt. 113\nNorth Megan, MA 5..."
29,30,Garcia Ltd Polyclinic,"742 Moore Trail\nSouth John, ND 61417"

In [222]:
# Check that the names are all unique
print(polyclinics_df["name"].nunique())

30

## Booking Slots Table

In [223]:
# 1 day: 5 slots
# 1 week (5 working days): 25 slots
# 30 polyclincs: 750
# Booking Slots Table

# Define the start and end dates for the range
start_date = datetime(2025, 3, 17)
end_date = datetime(2025, 3, 21)

# Booking Slots Table
booking_slots_data = {
    "id": [i for i in range(1, 751)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(750)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(750)],
    "datetime": [
        # Generate random date between 17th March and 21st March
        (
            start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
        ).replace(
            hour=random.randint(9, 18),  # Random hour between 9 AM and 6 PM
            minute=0,  # Set minute to 0 for hourly slots
            second=0,  # Set second to 0
            microsecond=0,  # Set microsecond to 0
        )
        for _ in range(750)
    ],
    "is_booked": [random.choice([True, False]) for _ in range(750)],
}

booking_slots_df = pd.DataFrame(booking_slots_data)
booking_slots_df["id"] = booking_slots_df["id"].astype(str)
display(booking_slots_df)

      id  polyclinic_id  vaccine_id            datetime  is_booked
0      1             28           6 2025-03-21 16:00:00       True
1      2             25           4 2025-03-20 17:00:00       True
2      3             19           3 2025-03-20 16:00:00       True
3      4             14           1 2025-03-19 18:00:00      False
4      5              8           3 2025-03-20 11:00:00       True
..   ...            ...         ...                 ...        ...
745  746             26           3 2025-03-17 09:00:00      False
746  747             19           3 2025-03-19 16:00:00      False
747  748              1           4 2025-03-17 18:00:00      False
748  749              4           7 2025-03-20 15:00:00       True
749  750             25           6 2025-03-21 18:00:00       True

[750 rows x 5 columns]

In [224]:
# Assign user_id only for booked slots
unique_bookings = set()  # To ensure uniqueness
user_ids = list(range(1, 201))  # User IDs from 1 to 200


def assign_user_id(row):
    if row["is_booked"]:
        random.shuffle(user_ids)  # Shuffle to randomize selection
        for user_id in user_ids:
            key = (row["polyclinic_id"], row["datetime"], user_id)
            if key not in unique_bookings:
                unique_bookings.add(key)
                return str(user_id)
    return "None"


booking_slots_df["user_id"] = booking_slots_df.apply(assign_user_id, axis=1)
booking_slots_df["polyclinic_id"] = booking_slots_df["polyclinic_id"].astype(str)
booking_slots_df["vaccine_id"] = booking_slots_df["vaccine_id"].astype(str)
# Display the DataFrame
display(booking_slots_df)

      id polyclinic_id vaccine_id            datetime  is_booked user_id
0      1            28          6 2025-03-21 16:00:00       True      87
1      2            25          4 2025-03-20 17:00:00       True     183
2      3            19          3 2025-03-20 16:00:00       True     198
3      4            14          1 2025-03-19 18:00:00      False    None
4      5             8          3 2025-03-20 11:00:00       True      47
..   ...           ...        ...                 ...        ...     ...
745  746            26          3 2025-03-17 09:00:00      False    None
746  747            19          3 2025-03-19 16:00:00      False    None
747  748             1          4 2025-03-17 18:00:00      False    None
748  749             4          7 2025-03-20 15:00:00       True      53
749  750            25          6 2025-03-21 18:00:00       True     115

[750 rows x 6 columns]

In [225]:
# Check balance
booking_slots_df["is_booked"].value_counts()

is_booked
True     398
False    352
Name: count, dtype: int64

## Vaccine Records Table

In [226]:
# Vaccine Records Table
vaccine_records_data = {
    "id": [i for i in range(1, 501)],
    "user_id": [random.choice(users_data["id"]) for _ in range(500)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(500)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(500)],
    "vaccination_date": [fake.date_this_year() for _ in range(500)],
}
vaccine_records_df = pd.DataFrame(vaccine_records_data)
vaccine_records_df["id"] = vaccine_records_df["id"].astype(str)
vaccine_records_df["user_id"] = vaccine_records_df["user_id"].astype(str)
vaccine_records_df["vaccine_id"] = vaccine_records_df["vaccine_id"].astype(str)
vaccine_records_df["polyclinic_id"] = vaccine_records_df["polyclinic_id"].astype(str)
display(vaccine_records_df)

      id user_id vaccine_id polyclinic_id vaccination_date
0      1      86          5            10       2025-01-02
1      2     181          7            17       2025-01-26
2      3      95          1            22       2025-03-08
3      4     130          2             7       2025-03-07
4      5      81          4             6       2025-02-19
..   ...     ...        ...           ...              ...
495  496      84          3            19       2025-01-14
496  497     200          2            25       2025-01-28
497  498      30          3            25       2025-02-18
498  499     148          6             7       2025-01-14
499  500     133          3            13       2025-01-11

[500 rows x 5 columns]

In [227]:
print(type(vaccine_records_df.iloc[0]["id"]))
print(type(vaccine_records_df.iloc[0]["user_id"]))
print(type(vaccine_records_df.iloc[0]["vaccine_id"]))
print(type(vaccine_records_df.iloc[0]["polyclinic_id"]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## Vaccine Stock Inventory Table

In [228]:
# 30 polyclinics
# 8 vaccines
# Vaccine Stock Inventory Table
# Number of records
total_records = 200

# Initialize a list to hold the vaccine stock data
vaccine_stock_data = {
    "id": [],
    "polyclinic_id": [],
    "vaccine_id": [],
    "stock_quantity": [],
}

# Initialize a set to track unique (polyclinic_id, vaccine_id) combinations
existing_combinations = set()

id_counter = 1

# Loop to create 200 records with random vaccine availability
while len(vaccine_stock_data["polyclinic_id"]) < total_records:
    polyclinic = random.choice(polyclinics_df["id"])  # Randomly choose a polyclinic
    available_vaccines = random.sample(
        vaccines_df["id"].tolist(), random.randint(1, len(vaccines_df))
    )  # Randomly pick some vaccines for the polyclinic

    for vaccine in available_vaccines:
        # Ensure the (polyclinic_id, vaccine_id) combination is unique
        combination = (polyclinic, vaccine)
        if combination not in existing_combinations:
            vaccine_stock_data["id"].append(id_counter)
            vaccine_stock_data["polyclinic_id"].append(polyclinic)  # Polyclinic ID
            vaccine_stock_data["vaccine_id"].append(vaccine)  # Vaccine ID
            vaccine_stock_data["stock_quantity"].append(
                random.randint(50, 200)
            )  # Random stock quantity
            existing_combinations.add(combination)  # Track the combination
            id_counter += 1  # Increment ID

# Convert to DataFrame
vaccine_stock_df = pd.DataFrame(vaccine_stock_data)
vaccine_stock_df["id"] = vaccine_stock_df["id"].astype(str)
# Display the resulting DataFrame
display(vaccine_stock_df)

      id polyclinic_id vaccine_id  stock_quantity
0      1             3          2              65
1      2             3          6             155
2      3             3          5              73
3      4             3          4             126
4      5             3          8             122
..   ...           ...        ...             ...
195  196            16          8             188
196  197            16          3             101
197  198            25          4              62
198  199            16          5             126
199  200            26          6             131

[200 rows x 4 columns]

In [229]:
# Group the dataframe by polyclinic_id and vaccine_id and count occurrences
grouped = (
    vaccine_stock_df.groupby(["polyclinic_id", "vaccine_id"])
    .size()
    .reset_index(name="count")
)

# Check if any combination appears more than once
duplicates = grouped[grouped["count"] > 1]

# Display the duplicates if any
if not duplicates.empty:
    print("Found duplicate entries:")
    display(duplicates)
else:
    print("All polyclinic_id and vaccine_id combinations are unique.")

All polyclinic_id and vaccine_id combinations are unique.

## Insert Vaccination Data into SQLite Database

Remember to delete the existing SQLite file before running the cell below.

In [230]:
# Define SQLite database file path again
sqlite_db_path = "../data/vaccination_db.sqlite"

# Reconnect to SQLite database
conn = sqlite3.connect(sqlite_db_path)
cursor = conn.cursor()


# Function to insert DataFrame data into SQLite
def insert_csv_to_sqlite(
    csv_data: pd.DataFrame, table_name: str, conn: sqlite3.Connection
):
    csv_data.to_sql(table_name, conn, if_exists="append", index=False)


# Insert data into SQLite tables
insert_csv_to_sqlite(users_df, "Users", conn)
insert_csv_to_sqlite(vaccines_df, "Vaccines", conn)
insert_csv_to_sqlite(polyclinics_df, "Polyclinics", conn)
insert_csv_to_sqlite(booking_slots_df, "BookingSlots", conn)
insert_csv_to_sqlite(vaccine_records_df, "VaccineRecords", conn)
insert_csv_to_sqlite(vaccine_stock_df, "VaccineStockInventory", conn)

# Commit changes and close connection
conn.commit()
conn.close()

## Query SQLite Database

In [231]:
conn = sqlite3.connect("../data/vaccination_db.sqlite")
cursor = conn.cursor()

In [232]:
# Example: Fetch all users
cursor.execute("SELECT * FROM Users")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

('1', 'Richard Ruiz', 'richard.ruiz@yahoo.com', '1958-11-12 00:00:00', 'Female')
('2', 'Kristen Howell', 'kristen.howell@gmail.com', '1987-02-17 00:00:00', 'Male')
('3', 'Breanna Arnold', 'breanna.arnold@gmail.com', '1971-11-27 00:00:00', 'Male')
('4', 'Ivan Simon', 'ivan.simon@yahoo.com', '1991-12-23 00:00:00', 'Male')
('5', 'Dr. Louis Burton', 'dr..louis.burton@hotmail.com', '1955-09-25 00:00:00', 'Male')
('6', 'Colleen Mercer', 'colleen.mercer@yahoo.com', '1959-02-01 00:00:00', 'Male')
('7', 'William Boyd', 'william.boyd@hotmail.com', '1946-11-17 00:00:00', 'Female')
('8', 'Meagan Lopez', 'meagan.lopez@yahoo.com', '1984-01-14 00:00:00', 'Female')
('9', 'Eric Mejia', 'eric.mejia@hotmail.com', '1966-03-08 00:00:00', 'Female')
('10', 'Michelle Porter', 'michelle.porter@gmail.com', '1957-12-27 00:00:00', 'Female')
('11', 'Joshua Leach', 'joshua.leach@yahoo.com', '1986-11-25 00:00:00', 'Male')
('12', 'Holly Gonzalez', 'holly.gonzalez@yahoo.com', '1956-03-12 00:00:00', 'Male')
('13', 'Jeremy Porter', 'jeremy.porter@hotmail.com', '1982-02-26 00:00:00', 'Female')
('14', 'Hunter Figueroa', 'hunter.figueroa@gmail.com', '1996-08-28 00:00:00', 'Male')
('15', 'Sara Hernandez', 'sara.hernandez@gmail.com', '1980-06-26 00:00:00', 'Male')
('16', 'Michael Carter', 'michael.carter@yahoo.com', '1970-05-05 00:00:00', 'Female')
('17', 'Jeremy Dominguez', 'jeremy.dominguez@gmail.com', '1961-03-13 00:00:00', 'Female')
('18', 'Theresa Torres', 'theresa.torres@hotmail.com', '1956-06-19 00:00:00', 'Female')
('19', 'Monique Smith', 'monique.smith@gmail.com', '1944-11-05 00:00:00', 'Male')
('20', 'Connie Mitchell', 'connie.mitchell@hotmail.com', '1981-01-28 00:00:00', 'Male')
('21', 'Amber Summers', 'amber.summers@hotmail.com', '1985-12-24 00:00:00', 'Female')
('22', 'Curtis Estrada', 'curtis.estrada@hotmail.com', '1944-06-29 00:00:00', 'Female')
('23', 'Melissa Black', 'melissa.black@yahoo.com', '1974-09-16 00:00:00', 'Male')
('24', 'Kyle Hutchinson', 'kyle.hutchinson@yahoo.com', '1944-12-27 00:00:00', 'Male')
('25', 'Anna Johnson', 'anna.johnson@yahoo.com', '1967-01-29 00:00:00', 'Female')
('26', 'Gerald Griffin', 'gerald.griffin@gmail.com', '1947-01-11 00:00:00', 'Female')
('27', 'Jonathan Davila', 'jonathan.davila@gmail.com', '1978-03-21 00:00:00', 'Female')
('28', 'Caroline Davis', 'caroline.davis@gmail.com', '1992-03-07 00:00:00', 'Male')
('29', 'Allen Calhoun', 'allen.calhoun@hotmail.com', '2000-06-25 00:00:00', 'Female')
('30', 'Danny Taylor', 'danny.taylor@yahoo.com', '1947-11-24 00:00:00', 'Male')
('31', 'David Pratt', 'david.pratt@hotmail.com', '1958-10-24 00:00:00', 'Female')
('32', 'Krystal Miller', 'krystal.miller@yahoo.com', '1970-02-16 00:00:00', 'Female')
('33', 'Samantha Mercer', 'samantha.mercer@yahoo.com', '1977-01-13 00:00:00', 'Female')
('34', 'Alicia Reed', 'alicia.reed@yahoo.com', '1979-11-03 00:00:00', 'Female')
('35', 'Nathan Estes', 'nathan.estes@hotmail.com', '1969-07-20 00:00:00', 'Male')
('36', 'Wendy Carlson', 'wendy.carlson@gmail.com', '1977-05-31 00:00:00', 'Male')
('37', 'Andrea Miller', 'andrea.miller@yahoo.com', '1971-04-17 00:00:00', 'Female')
('38', 'William Crawford', 'william.crawford@yahoo.com', '1962-08-23 00:00:00', 'Male')
('39', 'Michelle Lawson', 'michelle.lawson@hotmail.com', '1967-11-30 00:00:00', 'Male')
('40', 'Adam Shepard', 'adam.shepard@hotmail.com', '1980-09-12 00:00:00', 'Male')
('41', 'Carolyn Frazier', 'carolyn.frazier@gmail.com', '1961-06-09 00:00:00', 'Male')
('42', 'Brian Palmer', 'brian.palmer@yahoo.com', '1995-03-09 00:00:00', 'Female')
('43', 'Sean Watson', 'sean.watson@hotmail.com', '1965-08-26 00:00:00', 'Male')
('44', 'Tammy Kelley', 'tammy.kelley@yahoo.com', '1972-04-02 00:00:00', 'Male')
('45', 'Tyrone Henry', 'tyrone.henry@yahoo.com', '1949-08-27 00:00:00', 'Male')
('46', 'James Nelson', 'james.nelson@yahoo.com', '1989-02-06 00:00:00', 'Male')
('47', 'Mary Schneider', 'mary.schneider@hotmail.com', '1960-10-05 00:00:00', 'Female')
('48', 'Sheila Rice', 'sheila.rice@yahoo.com', '2006-08-23 00:00:00', 'Male')
('49', 'Johnny Rivera', 'johnny.rivera@hotmail.com', '1956-02-14 00:00:00', 'Male')
('50', 'Brian Davis', 'brian.davis@hotmail.com', '1986-12-01 00:00:00', 'Male')
('51', 'Anthony Wright', 'anthony.wright@gmail.com', '1961-06-11 00:00:00', 'Male')
('52', 'Lisa Cook', 'lisa.cook@hotmail.com', '1993-12-25 00:00:00', 'Male')
('53', 'Angela Rodriguez', 'angela.rodriguez@yahoo.com', '1944-06-07 00:00:00', 'Female')
('54', 'Katherine Alexander', 'katherine.alexander@gmail.com', '1997-07-22 00:00:00', 'Male')
('55', 'Angela Mccormick', 'angela.mccormick@hotmail.com', '1952-08-04 00:00:00', 'Female')
('56', 'Julie Everett', 'julie.everett@hotmail.com', '1969-06-14 00:00:00', 'Female')
('57', 'Larry Daniels', 'larry.daniels@yahoo.com', '1984-11-29 00:00:00', 'Female')
('58', 'Nathan Clark', 'nathan.clark@gmail.com', '2006-01-29 00:00:00', 'Female')
('59', 'Patrick Robertson', 'patrick.robertson@yahoo.com', '1964-10-14 00:00:00', 'Female')
('60', 'Dennis Rivera', 'dennis.rivera@hotmail.com', '2000-01-15 00:00:00', 'Female')
('61', 'Anita Gilbert', 'anita.gilbert@gmail.com', '1973-12-07 00:00:00', 'Female')
('62', 'Matthew Perry Jr.', 'matthew.perry.jr.@hotmail.com', '1949-04-23 00:00:00', 'Female')
('63', 'David Allen', 'david.allen@hotmail.com', '1958-02-21 00:00:00', 'Female')
('64', 'William Fry', 'william.fry@yahoo.com', '2001-11-01 00:00:00', 'Female')
('65', 'Isabel Black', 'isabel.black@gmail.com', '1973-04-26 00:00:00', 'Female')
('66', 'Diane Daniels', 'diane.daniels@yahoo.com', '1989-10-01 00:00:00', 'Female')
('67', 'Tyler Wallace', 'tyler.wallace@gmail.com', '1998-10-24 00:00:00', 'Male')
('68', 'Angel Hodges', 'angel.hodges@yahoo.com', '1951-01-15 00:00:00', 'Female')
('69', 'Gregory Smith', 'gregory.smith@yahoo.com', '1950-08-06 00:00:00', 'Female')
('70', 'Desiree Walsh', 'desiree.walsh@yahoo.com', '2003-09-06 00:00:00', 'Male')
('71', 'Danielle Fisher', 'danielle.fisher@hotmail.com', '1967-12-23 00:00:00', 'Female')
('72', 'Nicholas Snyder', 'nicholas.snyder@yahoo.com', '1947-10-18 00:00:00', 'Female')
('73', 'Sharon Gray', 'sharon.gray@hotmail.com', '2007-01-29 00:00:00', 'Female')
('74', 'Sandra Hudson', 'sandra.hudson@gmail.com', '2002-01-19 00:00:00', 'Male')
('75', 'Brad Smith', 'brad.smith@hotmail.com', '1945-10-27 00:00:00', 'Female')
('76', 'Randy Kane', 'randy.kane@yahoo.com', '1972-07-26 00:00:00', 'Female')
('77', 'Andrew Becker', 'andrew.becker@yahoo.com', '1958-02-26 00:00:00', 'Male')
('78', 'April Baird', 'april.baird@yahoo.com', '1953-07-22 00:00:00', 'Female')
('79', 'Darin Brooks', 'darin.brooks@hotmail.com', '1977-07-22 00:00:00', 'Male')
('80', 'Rodney Cooper', 'rodney.cooper@yahoo.com', '2002-10-01 00:00:00', 'Female')
('81', 'Bradley Robinson', 'bradley.robinson@yahoo.com', '1950-07-08 00:00:00', 'Female')
('82', 'James Willis', 'james.willis@gmail.com', '1973-10-06 00:00:00', 'Male')
('83', 'Trevor Henry', 'trevor.henry@yahoo.com', '1958-10-16 00:00:00', 'Male')
('84', 'Elizabeth Ellis', 'elizabeth.ellis@yahoo.com', '1995-04-02 00:00:00', 'Male')
('85', 'Wayne Rodriguez', 'wayne.rodriguez@gmail.com', '1981-04-21 00:00:00', 'Female')
('86', 'Donald King', 'donald.king@gmail.com', '1944-08-27 00:00:00', 'Female')
('87', 'Amy Schneider', 'amy.schneider@gmail.com', '1948-07-21 00:00:00', 'Male')
('88', 'Alicia Dunlap', 'alicia.dunlap@yahoo.com', '1952-03-23 00:00:00', 'Male')
('89', 'Gabriella Yang PhD', 'gabriella.yang.phd@gmail.com', '1957-10-19 00:00:00', 'Male')
('90', 'Victor Ball', 'victor.ball@gmail.com', '1973-04-06 00:00:00', 'Female')
('91', 'Deanna Watson', 'deanna.watson@yahoo.com', '1946-12-31 00:00:00', 'Female')
('92', 'Lisa Maldonado', 'lisa.maldonado@gmail.com', '1950-12-20 00:00:00', 'Male')
('93', 'Laurie Perkins', 'laurie.perkins@yahoo.com', '1954-08-03 00:00:00', 'Female')
('94', 'Michael Fields', 'michael.fields@yahoo.com', '1998-12-25 00:00:00', 'Female')
('95', 'James Burch', 'james.burch@yahoo.com', '2006-10-20 00:00:00', 'Male')
('96', 'Michele Soto', 'michele.soto@hotmail.com', '1949-12-14 00:00:00', 'Female')
('97', 'Joshua Haynes', 'joshua.haynes@gmail.com', '1954-11-30 00:00:00', 'Male')
('98', 'Douglas Hernandez', 'douglas.hernandez@yahoo.com', '1977-09-07 00:00:00', 'Female')
('99', 'Kathryn Maxwell', 'kathryn.maxwell@gmail.com', '1981-01-09 00:00:00', 'Male')
('100', 'Mr. Geoffrey Hamilton', 'mr..geoffrey.hamilton@gmail.com', '1945-04-05 00:00:00', 'Female')
('101', 'Alex Little', 'alex.little@hotmail.com', '1992-10-14 00:00:00', 'Male')
('102', 'Andrew Hamilton', 'andrew.hamilton@hotmail.com', '1995-06-19 00:00:00', 'Male')
('103', 'Stefanie Potter', 'stefanie.potter@gmail.com', '1968-01-06 00:00:00', 'Male')
('104', 'Dr. Terrance Powers', 'dr..terrance.powers@gmail.com', '2005-03-20 00:00:00', 'Male')
('105', 'Brianna Brady', 'brianna.brady@hotmail.com', '1992-02-24 00:00:00', 'Male')
('106', 'Nicholas Wade', 'nicholas.wade@hotmail.com', '1953-11-28 00:00:00', 'Female')
('107', 'Veronica Flowers', 'veronica.flowers@hotmail.com', '1973-08-02 00:00:00', 'Female')
('108', 'Michael Turner', 'michael.turner@gmail.com', '1994-05-08 00:00:00', 'Male')
('109', 'Heather White', 'heather.white@gmail.com', '1996-12-30 00:00:00', 'Male')
('110', 'Derrick Pacheco', 'derrick.pacheco@yahoo.com', '1962-03-05 00:00:00', 'Female')
('111', 'Joseph Sanchez', 'joseph.sanchez@yahoo.com', '1959-06-30 00:00:00', 'Female')
('112', 'Megan Christian', 'megan.christian@gmail.com', '1985-02-03 00:00:00', 'Female')
('113', 'Stuart Ramirez', 'stuart.ramirez@gmail.com', '1983-02-21 00:00:00', 'Male')
('114', 'Justin Scott', 'justin.scott@hotmail.com', '1965-09-20 00:00:00', 'Male')
('115', 'Gregory Hinton', 'gregory.hinton@hotmail.com', '2005-04-01 00:00:00', 'Male')
('116', 'Nicholas Mcfarland', 'nicholas.mcfarland@hotmail.com', '1949-12-22 00:00:00', 'Male')
('117', 'Jean Carey', 'jean.carey@gmail.com', '1966-02-09 00:00:00', 'Male')
('118', 'Gloria Anderson', 'gloria.anderson@yahoo.com', '1999-04-19 00:00:00', 'Male')
('119', 'Samantha Craig', 'samantha.craig@yahoo.com', '1988-01-01 00:00:00', 'Male')
('120', 'Cynthia Thompson', 'cynthia.thompson@hotmail.com', '1956-01-24 00:00:00', 'Female')
('121', 'Wendy Johnson', 'wendy.johnson@gmail.com', '1951-01-18 00:00:00', 'Male')
('122', 'Billy Martin', 'billy.martin@hotmail.com', '1988-12-07 00:00:00', 'Female')
('123', 'Emily Hernandez', 'emily.hernandez@hotmail.com', '1995-03-31 00:00:00', 'Male')
('124', 'Ryan Wood', 'ryan.wood@yahoo.com', '1946-07-06 00:00:00', 'Male')
('125', 'George Cunningham', 'george.cunningham@gmail.com', '1949-10-18 00:00:00', 'Female')
('126', 'Terry Lane', 'terry.lane@yahoo.com', '1957-01-17 00:00:00', 'Female')
('127', 'Joel Payne', 'joel.payne@hotmail.com', '1978-01-15 00:00:00', 'Female')
('128', 'Timothy Thompson', 'timothy.thompson@hotmail.com', '1961-01-12 00:00:00', 'Female')
('129', 'Tina Martin', 'tina.martin@gmail.com', '1953-12-06 00:00:00', 'Male')
('130', 'Julie Palmer', 'julie.palmer@yahoo.com', '1994-05-06 00:00:00', 'Male')
('131', 'Kathy Myers', 'kathy.myers@yahoo.com', '2003-03-12 00:00:00', 'Female')
('132', 'Anthony Mckenzie', 'anthony.mckenzie@hotmail.com', '1984-11-14 00:00:00', 'Male')
('133', 'Amber Clark', 'amber.clark@gmail.com', '1996-06-21 00:00:00', 'Male')
('134', 'Catherine Alexander', 'catherine.alexander@yahoo.com', '1951-03-16 00:00:00', 'Male')
('135', 'Carrie Contreras', 'carrie.contreras@gmail.com', '1961-02-11 00:00:00', 'Male')
('136', 'Kimberly Hughes', 'kimberly.hughes@yahoo.com', '1946-08-17 00:00:00', 'Male')
('137', 'Robert Fowler', 'robert.fowler@gmail.com', '2005-06-16 00:00:00', 'Male')
('138', 'Amanda Rodriguez', 'amanda.rodriguez@hotmail.com', '1998-06-18 00:00:00', 'Male')
('139', 'Sherry Jordan', 'sherry.jordan@gmail.com', '1985-07-18 00:00:00', 'Female')
('140', 'Kathleen Stout', 'kathleen.stout@hotmail.com', '1983-08-14 00:00:00', 'Female')
('141', 'Cynthia Nicholson', 'cynthia.nicholson@yahoo.com', '1961-09-25 00:00:00', 'Female')
('142', 'Mrs. Julia Chapman', 'mrs..julia.chapman@yahoo.com', '1975-02-26 00:00:00', 'Female')
('143', 'Christopher Garrison', 'christopher.garrison@yahoo.com', '1987-10-26 00:00:00', 'Male')
('144', 'Michelle Kerr', 'michelle.kerr@gmail.com', '1959-08-16 00:00:00', 'Male')
('145', 'Kelly Graham', 'kelly.graham@hotmail.com', '1962-08-30 00:00:00', 'Male')
('146', 'Chelsea Perez', 'chelsea.perez@yahoo.com', '1971-04-28 00:00:00', 'Male')
('147', 'Joseph Marsh', 'joseph.marsh@gmail.com', '1966-08-06 00:00:00', 'Male')
('148', 'Richard Miller', 'richard.miller@yahoo.com', '1949-10-05 00:00:00', 'Male')
('149', 'Jessica Mcneil', 'jessica.mcneil@yahoo.com', '2004-11-29 00:00:00', 'Male')
('150', 'Jillian Ibarra', 'jillian.ibarra@gmail.com', '1946-01-22 00:00:00', 'Male')
('151', 'Dillon Cummings', 'dillon.cummings@yahoo.com', '1980-06-05 00:00:00', 'Female')
('152', 'Laura Young', 'laura.young@hotmail.com', '1967-04-05 00:00:00', 'Female')
('153', 'Lisa Roth', 'lisa.roth@gmail.com', '1961-07-21 00:00:00', 'Male')
('154', 'Janet Cooper', 'janet.cooper@yahoo.com', '2003-02-21 00:00:00', 'Female')
('155', 'Victor Lopez', 'victor.lopez@gmail.com', '1968-12-06 00:00:00', 'Male')
('156', 'Andrew Ruiz', 'andrew.ruiz@yahoo.com', '2005-09-02 00:00:00', 'Female')
('157', 'Krystal Torres', 'krystal.torres@yahoo.com', '1982-10-28 00:00:00', 'Female')
('158', 'Jeffrey Duke', 'jeffrey.duke@gmail.com', '1993-07-05 00:00:00', 'Male')
('159', 'Maureen Cooper', 'maureen.cooper@gmail.com', '1993-06-24 00:00:00', 'Female')
('160', 'Isaac Burgess', 'isaac.burgess@hotmail.com', '1981-02-28 00:00:00', 'Female')
('161', 'Caleb Padilla', 'caleb.padilla@yahoo.com', '1957-11-10 00:00:00', 'Female')
('162', 'Stephanie Parks', 'stephanie.parks@hotmail.com', '1957-11-24 00:00:00', 'Female')
('163', 'Keith Wallace', 'keith.wallace@yahoo.com', '1984-05-23 00:00:00', 'Male')
('164', 'Derrick Swanson', 'derrick.swanson@yahoo.com', '1983-03-29 00:00:00', 'Male')
('165', 'Lisa Stanton', 'lisa.stanton@gmail.com', '1975-04-24 00:00:00', 'Male')
('166', 'Bradley Everett', 'bradley.everett@yahoo.com', '1991-05-15 00:00:00', 'Male')
('167', 'Frank Orozco Jr.', 'frank.orozco.jr.@gmail.com', '1952-06-07 00:00:00', 'Female')
('168', 'Zachary Weber', 'zachary.weber@gmail.com', '1974-04-27 00:00:00', 'Female')
('169', 'John Charles', 'john.charles@yahoo.com', '1947-11-03 00:00:00', 'Female')
('170', 'Xavier Lam', 'xavier.lam@gmail.com', '1949-01-11 00:00:00', 'Male')
('171', 'Andrew Orozco', 'andrew.orozco@yahoo.com', '1960-09-21 00:00:00', 'Male')
('172', 'Nicholas Stevens', 'nicholas.stevens@yahoo.com', '1995-08-11 00:00:00', 'Male')
('173', 'Cindy Mercer', 'cindy.mercer@hotmail.com', '1991-01-21 00:00:00', 'Male')
('174', 'Nicole Burns', 'nicole.burns@gmail.com', '1950-11-21 00:00:00', 'Male')
('175', 'Robert Romero', 'robert.romero@yahoo.com', '1968-10-26 00:00:00', 'Male')
('176', 'Lauren Wood', 'lauren.wood@hotmail.com', '1962-09-30 00:00:00', 'Female')
('177', 'Dr. Erica Cherry DVM', 'dr..erica.cherry.dvm@hotmail.com', '1977-10-28 00:00:00', 'Male')
('178', 'William Campos', 'william.campos@hotmail.com', '1977-10-08 00:00:00', 'Male')
('179', 'Beth Williams', 'beth.williams@gmail.com', '2006-07-10 00:00:00', 'Female')
('180', 'Stephen Scott', 'stephen.scott@yahoo.com', '1998-01-22 00:00:00', 'Male')
('181', 'Christopher Williams V', 'christopher.williams.v@gmail.com', '2005-08-10 00:00:00', 'Male')
('182', 'Lisa Oconnor', 'lisa.oconnor@gmail.com', '1986-06-01 00:00:00', 'Female')
('183', 'Lauren Peters', 'lauren.peters@yahoo.com', '2006-10-22 00:00:00', 'Female')
('184', 'Stephanie Garrison', 'stephanie.garrison@hotmail.com', '1998-12-27 00:00:00', 'Male')
('185', 'Darryl Shields', 'darryl.shields@yahoo.com', '1976-03-11 00:00:00', 'Male')
('186', 'Tara Heath', 'tara.heath@gmail.com', '1998-12-02 00:00:00', 'Female')
('187', 'James Moon', 'james.moon@yahoo.com', '1998-07-17 00:00:00', 'Male')
('188', 'Timothy Decker', 'timothy.decker@hotmail.com', '1992-04-11 00:00:00', 'Male')
('189', 'John Tate', 'john.tate@hotmail.com', '1978-09-05 00:00:00', 'Male')
('190', 'Daniel Lambert', 'daniel.lambert@hotmail.com', '1978-05-18 00:00:00', 'Female')
('191', 'Kaylee Chandler', 'kaylee.chandler@hotmail.com', '1953-01-14 00:00:00', 'Male')
('192', 'Amber Carey', 'amber.carey@gmail.com', '1969-01-19 00:00:00', 'Male')
('193', 'Ryan Salazar', 'ryan.salazar@gmail.com', '1983-10-14 00:00:00', 'Female')
('194', 'Tyler Ramirez', 'tyler.ramirez@yahoo.com', '1948-02-22 00:00:00', 'Male')
('195', 'Douglas Smith', 'douglas.smith@gmail.com', '1985-02-28 00:00:00', 'Female')
('196', 'Diane Gonzalez', 'diane.gonzalez@hotmail.com', '1994-12-15 00:00:00', 'Female')
('197', 'Alejandro Martin', 'alejandro.martin@yahoo.com', '1989-09-12 00:00:00', 'Male')
('198', 'Anne Jarvis', 'anne.jarvis@yahoo.com', '1982-12-11 00:00:00', 'Female')
('199', 'Benjamin Garcia', 'benjamin.garcia@hotmail.com', '1996-11-20 00:00:00', 'Female')
('200', 'Cynthia Jordan', 'cynthia.jordan@hotmail.com', '1972-01-15 00:00:00', 'Female')

In [233]:
db_filename = "../data/vaccination_db.sqlite"

try:
    conn = sqlite3.connect(db_filename)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = [row[0] for row in cursor.fetchall()]

    print("Tables in the database:")
    for table_name in table_names:
        print(table_name)

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        conn.close()

Tables in the database:
Users
Vaccines
Polyclinics
BookingSlots
VaccineRecords
VaccineStockInventory