# Dummy Data Preparation

In [393]:
import random
import re
import sqlite3
from datetime import datetime, timedelta

import pandas as pd
from faker import Faker
from IPython.display import display

In [394]:
fake = Faker()

Note:

The `id` column will be in string. This is to mimic the real life scenario, whereby the ids may consist of characters.

## Users Table

In [395]:
# Regex pattern for nric
nric_regex = r"[STFGM]\d{7}[A-Z]"

# Generate nric based on birthdate


def generate_nric(dob):
    year = dob.year
    year_suffix = str(year % 100).zfill(2)  # Extract last two digits of the year
    serial_number = str(random.randint(10000, 99999))  # Ensure exactly 7 digits
    checksum = random.choice("ABCDEFGHIJKLMNOPQRSTUVWXYZ")  # Random letter for checksum

    # Determine prefix based on birth year
    prefix = "S" if year < 2000 else "T"

    sample_nric = f"{prefix}{year_suffix}{serial_number}{checksum}"

    # Validate against regex before returning
    if not re.fullmatch(nric_regex, sample_nric):
        raise ValueError(
            f"Generated nric '{sample_nric}' does not match expected pattern."
        )

    return sample_nric


# Generate emails based on names


def generate_email(name):
    name_parts = name.lower().split()
    email_username = ".".join(
        name_parts
    )  # Convert name to lowercase and join with dots
    email_domain = fake.free_email_domain()  # Use a real email domain
    return f"{email_username}@{email_domain}"

In [396]:
# Users Table
users_data = {
    "name": [fake.name() for _ in range(200)],
}

# Generate other attributes
users_data["date_of_birth"] = [
    fake.date_of_birth(minimum_age=18, maximum_age=80) for _ in range(200)
]
users_data["gender"] = [
    fake.random_element(elements=["Male", "Female"]) for _ in range(200)
]

# Generate nric based on date of birth
dob_list = users_data["date_of_birth"]
users_data["nric"] = [generate_nric(dob) for dob in dob_list]  # Fixed function call

users_data["email"] = [generate_email(name) for name in users_data["name"]]

users_df = pd.DataFrame(users_data)
# Reorder columns
column_order = ["nric", "name", "email", "date_of_birth", "gender"]
users_df = users_df[column_order]

# Verify all nrics match the expected pattern
if all(re.fullmatch(nric_regex, nric) for nric in users_df["nric"]):
    print("All nrics match the expected format.")
else:
    print("Some nrics do not match the expected format.")
    print(
        users_df.loc[~users_df["nric"].str.match(nric_regex), ["nric"]]
    )  # Show incorrect nrics

display(users_df)

All nrics match the expected format.

,nric,name,email,date_of_birth,gender
0,S9023750P,Jason Hull,jason.hull@gmail.com,1990-12-18,Male
1,S6452972K,Jessica Weiss,jessica.weiss@yahoo.com,1964-06-24,Male
2,S9225451F,Tracy Hobbs,tracy.hobbs@yahoo.com,1992-11-29,Female
3,S9029526C,Julie Keith,julie.keith@gmail.com,1990-01-20,Male
4,T0470925A,Patrick Watts,patrick.watts@hotmail.com,2004-01-30,Male
...,...,...,...,...,...
195,S4787101O,Christopher Wilson,christopher.wilson@yahoo.com,1947-07-03,Female
196,S8042180E,Vanessa Brooks,vanessa.brooks@hotmail.com,1980-06-16,Male
197,S8460015L,April Bennett,april.bennett@hotmail.com,1984-03-12,Male
198,S4970882Y,Christy Cervantes,christy.cervantes@hotmail.com,1949-10-28,Male
199,T0053896Q,Alison Gomez,alison.gomez@hotmail.com,2000-08-22,Male

In [397]:
# Check that the names are all unique
print(users_df["name"].nunique())

# Check that dates are in range
start_date = "1920-01-01"
end_date = "2025-03-01"

users_df["date_of_birth"] = pd.to_datetime(users_df["date_of_birth"])
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

is_in_range = (users_df["date_of_birth"] >= start_date) & (
    users_df["date_of_birth"] <= end_date
)

# check if the date is under range
if is_in_range.all():
    print("All date are in range")
else:
    print("Some dates are not in range")

200
All date are in range

## Vaccines Table

In [398]:
# Vaccine Table
vaccines_data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8],
    "name": [
        "Influenza (INF)",
        "Human Papillomavirus (HPV)",
        "Pneumococcal",
        "Human Immunodeficiency Viruses (HIV)",
        "Tetanus, Diphtheria, Pertussis (Tdap)",
        "Hepatitis B (HepB)",
        "Measles, Mumps, Rubella (MMR)",
        "Varicella (VAR)",
    ],
    "price": [9.0, 0.0, 16.0, 23.0, 10.0, 9.0, 9.0, 11.0],
    "doses_required": [2, 4, 1, 2, 1, 2, 1, 3],
    "age_criteria": [
        "18+ years old",
        "18+ years old",
        "65+ years old",
        "18-26 years old",
        "27-64 years old",
        "18+ years old",
        "18+ years old",
        "18+ years old",
    ],
    "gender_criteria": [
        "None",
        "None",
        "None",
        "Female",
        "Female",
        "None",
        "None",
        "None",
    ],
    # condition_crietria
}
vaccines_df = pd.DataFrame(vaccines_data)
display(vaccines_df)

,id,name,price,doses_required,age_criteria,gender_criteria
0,1,Influenza (INF),9.0,2,18+ years old,None
1,2,Human Papillomavirus (HPV),0.0,4,18+ years old,None
2,3,Pneumococcal,16.0,1,65+ years old,None
3,4,Human Immunodeficiency Viruses (HIV),23.0,2,18-26 years old,Female
4,5,"Tetanus, Diphtheria, Pertussis (Tdap)",10.0,1,27-64 years old,Female
5,6,Hepatitis B (HepB),9.0,2,18+ years old,None
6,7,"Measles, Mumps, Rubella (MMR)",9.0,1,18+ years old,None
7,8,Varicella (VAR),11.0,3,18+ years old,None

## Polyclinics Table

In [399]:
# Polyclinic Table
polyclinics_data = {
    "id": [i for i in range(1, 31)],  # 30 polyclinics
    "name": [fake.company() + " Polyclinic" for _ in range(30)],
    "address": [fake.address() for _ in range(30)],
}
polyclinics_df = pd.DataFrame(polyclinics_data)
display(polyclinics_df)

,id,name,address
0,1,"Simon, Taylor and Cunningham Polyclinic","259 Tamara Keys\nMasonfurt, IL 82540"
1,2,Shelton and Sons Polyclinic,"PSC 7274, Box 2164\nAPO AE 94733"
2,3,"Mahoney, Soto and Clarke Polyclinic","38967 Nguyen Courts\nNew Barbaraland, AL 60240"
3,4,Simmons-Frank Polyclinic,"595 Julie Avenue Apt. 648\nMichellestad, OR 32398"
4,5,Carter-Benjamin Polyclinic,"55259 Hannah Center\nAbbottburgh, VI 22321"
5,6,Gould Ltd Polyclinic,"83557 Newton Haven Apt. 334\nJustinfort, MN 15909"
6,7,Bailey and Sons Polyclinic,"123 Andrew Lock Apt. 769\nCraigshire, MT 67128"
7,8,"Richmond, Cannon and Pittman Polyclinic","99604 Knight Spurs Suite 484\nHamptonchester, ..."
8,9,Torres-Bell Polyclinic,"49910 Stacey Island\nWest Juliefort, OR 89338"
9,10,"Sanchez, Spencer and Hurst Polyclinic","7635 Willis Avenue Suite 183\nJoannafurt, NV 9..."
10,11,Drake LLC Polyclinic,"94429 Hernandez Loop Suite 970\nThomasberg, NJ..."
11,12,Horton-Thomas Polyclinic,"688 Amanda Parks\nGregoryton, WA 70553"
12,13,Wu-Lopez Polyclinic,"PSC 1406, Box 9154\nAPO AE 20868"
13,14,Reed Inc Polyclinic,"58369 Patrick Shores Suite 782\nEast Lauren, M..."
14,15,Washington Group Polyclinic,"2491 Garcia Tunnel Suite 897\nWest Derekhaven,..."
15,16,Bradford Group Polyclinic,"868 Gardner Knoll\nChentown, SC 18754"
16,17,Eaton-Ward Polyclinic,"459 Miller Divide\nNorth Jasmine, NV 26649"
17,18,"Moon, Gomez and Smith Polyclinic","50936 John Crossing\nMontoyamouth, LA 85854"
18,19,Arnold-Schwartz Polyclinic,"4644 Flores Lake\nMarkland, DE 40287"
19,20,Lynch PLC Polyclinic,"PSC 5083, Box 8783\nAPO AA 37137"
20,21,Stewart-Warren Polyclinic,"75660 Casey Loaf\nNew Troy, MH 84204"
21,22,Casey Ltd Polyclinic,"52042 Brooke Drive Suite 024\nGentryburgh, AR ..."
22,23,"Sharp, Brown and Perez Polyclinic","714 Rebecca Flat\nMurphyburgh, ME 83972"
23,24,Sanders PLC Polyclinic,"282 Megan Mission Suite 020\nChristinemouth, A..."
24,25,Green-Wiley Polyclinic,"8044 Jose Views Suite 364\nNew Wendyburgh, AK ..."
25,26,Lopez Group Polyclinic,"7936 Joseph Road\nWallaceberg, PW 61179"
26,27,"Duke, Foster and Osborn Polyclinic","219 Green Corner\nJamesport, MI 62876"
27,28,Molina-Harris Polyclinic,"52968 Phillips Parks Suite 897\nNew William, D..."
28,29,Pierce-Glenn Polyclinic,"33345 Hall Springs\nNorth Jason, NC 54089"
29,30,"Powers, Mercado and Perez Polyclinic","26486 Gregory Crossroad\nJeffreyport, FM 34766"

In [400]:
# Check that the names are all unique
print(polyclinics_df["name"].nunique())

30

## Booking Slots Table

In [401]:
# 1 day: 5 slots
# 1 week (5 working days): 25 slots
# 30 polyclincs: 750
# Booking Slots Table

# Define the start and end dates for the range
start_date = datetime(2025, 3, 17)
end_date = datetime(2025, 3, 21)

# Booking Slots Table
booking_slots_data = {
    "id": [i for i in range(1, 751)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(750)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(750)],
    "datetime": [
        # Generate random date between 17th March and 21st March
        (
            start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
        ).replace(
            hour=random.randint(9, 18),  # Random hour between 9 AM and 6 PM
            minute=0,  # Set minute to 0 for hourly slots
            second=0,  # Set second to 0
            microsecond=0,  # Set microsecond to 0
        )
        for _ in range(750)
    ],
    "is_booked": [random.choice([True, False]) for _ in range(750)],
}

booking_slots_df = pd.DataFrame(booking_slots_data)

# Assign user_id only for booked slots
unique_bookings = set()  # To ensure uniqueness
user_nrics = users_df["nric"]


def assign_user_id(row):
    if row["is_booked"]:
        random.shuffle(user_nrics)  # Shuffle to randomize selection
        for user_id in user_nrics:
            key = (row["polyclinic_id"], row["datetime"], user_id)
            if key not in unique_bookings:
                unique_bookings.add(key)
                return user_id
    return None


booking_slots_df["user_nric"] = booking_slots_df.apply(assign_user_id, axis=1)

# Display the DataFrame
display(booking_slots_df)

      id  polyclinic_id  vaccine_id            datetime  is_booked  user_nric
0      1              5           4 2025-03-17 09:00:00       True  T0195932K
1      2             10           2 2025-03-19 10:00:00      False       None
2      3             13           2 2025-03-20 17:00:00      False       None
3      4             23           8 2025-03-19 16:00:00       True  S5857431S
4      5              9           7 2025-03-20 15:00:00      False       None
..   ...            ...         ...                 ...        ...        ...
745  746             28           6 2025-03-21 18:00:00       True  S8477164C
746  747             29           7 2025-03-18 18:00:00      False       None
747  748             16           2 2025-03-19 11:00:00       True  S6452972K
748  749             22           5 2025-03-21 13:00:00       True  S6883705H
749  750             29           4 2025-03-20 14:00:00       True  S4953513M

[750 rows x 6 columns]

In [403]:
# Check balance
booking_slots_df["is_booked"].value_counts()

is_booked
True     398
False    352
Name: count, dtype: int64

## Vaccine Records Table

In [404]:
# Vaccine Records Table
vaccine_records_data = {
    "id": [i for i in range(1, 501)],
    "user_nric": [random.choice(users_data["nric"]) for _ in range(500)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(500)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(500)],
    "vaccination_date": [fake.date_this_year() for _ in range(500)],
}
vaccine_records_df = pd.DataFrame(vaccine_records_data)
display(vaccine_records_df)

      id  user_nric  vaccine_id  polyclinic_id vaccination_date
0      1  S4596847Y           2             20       2025-02-26
1      2  T0165401U           7              5       2025-01-03
2      3  S9813264L           2              5       2025-01-07
3      4  S6082123Z           7              1       2025-01-21
4      5  S4897648J           1             12       2025-01-15
..   ...        ...         ...            ...              ...
495  496  S9230948P           7             27       2025-02-18
496  497  S7630569X           3             10       2025-01-15
497  498  S6638882M           5             27       2025-03-16
498  499  S8650967W           4             21       2025-01-30
499  500  S9266774Z           1             19       2025-01-10

[500 rows x 5 columns]

## Vaccine Stock Inventory Table

In [406]:
# 30 polyclinics
# 8 vaccines
# Vaccine Stock Inventory Table
# Number of records
total_records = 200

# Initialize a list to hold the vaccine stock data
vaccine_stock_data = {
    "id": [],
    "polyclinic_id": [],
    "vaccine_id": [],
    "stock_quantity": [],
}

# Initialize a set to track unique (polyclinic_id, vaccine_id) combinations
existing_combinations = set()

id_counter = 1

# Loop to create 200 records with random vaccine availability
while len(vaccine_stock_data["polyclinic_id"]) < total_records:
    polyclinic = random.choice(polyclinics_df["id"])  # Randomly choose a polyclinic
    available_vaccines = random.sample(
        vaccines_df["id"].tolist(), random.randint(1, len(vaccines_df))
    )  # Randomly pick some vaccines for the polyclinic

    for vaccine in available_vaccines:
        # Ensure the (polyclinic_id, vaccine_id) combination is unique
        combination = (polyclinic, vaccine)
        if combination not in existing_combinations:
            vaccine_stock_data["id"].append(id_counter)
            vaccine_stock_data["polyclinic_id"].append(polyclinic)  # Polyclinic ID
            vaccine_stock_data["vaccine_id"].append(vaccine)  # Vaccine ID
            vaccine_stock_data["stock_quantity"].append(
                random.randint(50, 200)
            )  # Random stock quantity
            existing_combinations.add(combination)  # Track the combination
            id_counter += 1  # Increment ID

# Convert to DataFrame
vaccine_stock_df = pd.DataFrame(vaccine_stock_data)
# Display the resulting DataFrame
display(vaccine_stock_df)

      id  polyclinic_id  vaccine_id  stock_quantity
0      1              5           5              86
1      2              5           6             135
2      3              5           8             107
3      4              5           7             132
4      5              5           1             144
..   ...            ...         ...             ...
196  197             13           6              77
197  198             25           1             116
198  199             25           2             162
199  200             25           3             154
200  201             25           8             172

[201 rows x 4 columns]

In [407]:
# Group the dataframe by polyclinic_id and vaccine_id and count occurrences
grouped = (
    vaccine_stock_df.groupby(["polyclinic_id", "vaccine_id"])
    .size()
    .reset_index(name="count")
)

# Check if any combination appears more than once
duplicates = grouped[grouped["count"] > 1]

# Display the duplicates if any
if not duplicates.empty:
    print("Found duplicate entries:")
    display(duplicates)
else:
    print("All polyclinic_id and vaccine_id combinations are unique.")

All polyclinic_id and vaccine_id combinations are unique.

## Insert Vaccination Data into SQLite Database

Remember to delete the existing SQLite file before running the cell below.

In [408]:
# Define SQLite database file path again
sqlite_db_path = "../data/vaccination_db.sqlite"

# Reconnect to SQLite database
conn = sqlite3.connect(sqlite_db_path)
cursor = conn.cursor()


# Function to insert DataFrame data into SQLite
def insert_csv_to_sqlite(
    csv_data: pd.DataFrame, table_name: str, conn: sqlite3.Connection
):
    csv_data.to_sql(table_name, conn, if_exists="append", index=False)


# Insert data into SQLite tables
insert_csv_to_sqlite(users_df, "Users", conn)
insert_csv_to_sqlite(vaccines_df, "Vaccines", conn)
insert_csv_to_sqlite(polyclinics_df, "Polyclinics", conn)
insert_csv_to_sqlite(booking_slots_df, "BookingSlots", conn)
insert_csv_to_sqlite(vaccine_records_df, "VaccineRecords", conn)
insert_csv_to_sqlite(vaccine_stock_df, "VaccineStockInventory", conn)

# Commit changes and close connection
conn.commit()
conn.close()

## Query SQLite Database

In [409]:
conn = sqlite3.connect("../data/vaccination_db.sqlite")
cursor = conn.cursor()

In [410]:
# Example: Fetch all users
cursor.execute("SELECT * FROM Users")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

('S4953513M', 'Jason Hull', 'jason.hull@gmail.com', '1990-12-18 00:00:00', 'Male')
('S9959458B', 'Jessica Weiss', 'jessica.weiss@yahoo.com', '1964-06-24 00:00:00', 'Male')
('S8275482H', 'Tracy Hobbs', 'tracy.hobbs@yahoo.com', '1992-11-29 00:00:00', 'Female')
('S5557889B', 'Julie Keith', 'julie.keith@gmail.com', '1990-01-20 00:00:00', 'Male')
('T0560939K', 'Patrick Watts', 'patrick.watts@hotmail.com', '2004-01-30 00:00:00', 'Male')
('S4527596P', 'Alexander Williams', 'alexander.williams@gmail.com', '1990-09-01 00:00:00', 'Female')
('S6269040P', 'Michael Graham', 'michael.graham@yahoo.com', '1962-11-10 00:00:00', 'Male')
('S9630089U', 'Cindy Holden', 'cindy.holden@gmail.com', '2000-08-31 00:00:00', 'Female')
('T0053896Q', 'William Galloway', 'william.galloway@hotmail.com', '1984-05-22 00:00:00', 'Female')
('S5739991M', 'Yvonne Williams', 'yvonne.williams@hotmail.com', '1954-01-18 00:00:00', 'Male')
('S6172221A', 'Melissa Anderson', 'melissa.anderson@hotmail.com', '1968-03-29 00:00:00', 'Male')
('S5241797Y', 'William Landry', 'william.landry@gmail.com', '1982-09-18 00:00:00', 'Female')
('S4858965O', 'Charles Daniels', 'charles.daniels@gmail.com', '1963-05-04 00:00:00', 'Female')
('S9756936C', 'Jonathon Smith', 'jonathon.smith@hotmail.com', '1951-06-15 00:00:00', 'Female')
('S7236696Q', 'Jared Sims', 'jared.sims@yahoo.com', '1945-06-26 00:00:00', 'Male')
('S8199198A', 'Daniel Hughes', 'daniel.hughes@gmail.com', '1951-02-06 00:00:00', 'Male')
('S6869619N', 'Alyssa Powell', 'alyssa.powell@yahoo.com', '1983-06-09 00:00:00', 'Female')
('S5943104Y', 'Willie Carroll', 'willie.carroll@gmail.com', '1991-02-12 00:00:00', 'Male')
('S8070402S', 'Dan Gray', 'dan.gray@gmail.com', '1972-04-27 00:00:00', 'Male')
('S9023750P', 'David Nelson DVM', 'david.nelson.dvm@gmail.com', '1958-08-06 00:00:00', 'Male')
('S7591179X', 'Timothy Arnold', 'timothy.arnold@hotmail.com', '1967-05-14 00:00:00', 'Male')
('S5555534I', 'Timothy Hansen', 'timothy.hansen@yahoo.com', '1999-07-07 00:00:00', 'Female')
('S8387780I', 'Daniel Franklin', 'daniel.franklin@yahoo.com', '1983-02-08 00:00:00', 'Male')
('S9750803O', 'Gregory Preston', 'gregory.preston@gmail.com', '1972-05-20 00:00:00', 'Male')
('S6870168O', 'Hannah Baker', 'hannah.baker@yahoo.com', '1990-10-03 00:00:00', 'Male')
('S8064361S', 'Beth Wallace', 'beth.wallace@hotmail.com', '1974-08-14 00:00:00', 'Female')
('S5619666G', 'Matthew Russell', 'matthew.russell@gmail.com', '1945-02-05 00:00:00', 'Female')
('S8982135I', 'Andrew Bates', 'andrew.bates@yahoo.com', '2004-07-12 00:00:00', 'Male')
('S5856014Q', 'Kayla Fleming', 'kayla.fleming@yahoo.com', '1976-11-07 00:00:00', 'Female')
('S4578601I', 'Brian Pearson', 'brian.pearson@hotmail.com', '2005-12-07 00:00:00', 'Female')
('S7642598N', 'Mary Colon', 'mary.colon@gmail.com', '1980-09-24 00:00:00', 'Male')
('S5421955D', 'Dr. Erica Hansen', 'dr..erica.hansen@gmail.com', '2001-10-10 00:00:00', 'Female')
('T0428121S', 'Cindy Rivas', 'cindy.rivas@yahoo.com', '1958-09-10 00:00:00', 'Female')
('S8042180E', 'Margaret Morris', 'margaret.morris@gmail.com', '1967-01-24 00:00:00', 'Male')
('S8350438M', 'Marcus Luna', 'marcus.luna@gmail.com', '1986-11-21 00:00:00', 'Female')
('S7897471G', 'Marissa Owens', 'marissa.owens@yahoo.com', '1963-01-13 00:00:00', 'Female')
('T0341818A', 'Ellen Smith', 'ellen.smith@gmail.com', '1992-11-10 00:00:00', 'Male')
('S8081583X', 'Nicholas Thomas', 'nicholas.thomas@gmail.com', '1956-09-04 00:00:00', 'Male')
('T0242190J', 'Patricia Gilbert', 'patricia.gilbert@yahoo.com', '1980-10-14 00:00:00', 'Male')
('S7665524W', 'Laura Scott', 'laura.scott@hotmail.com', '1944-11-09 00:00:00', 'Male')
('S9922816H', 'David Jones', 'david.jones@yahoo.com', '1962-12-06 00:00:00', 'Female')
('S7778153B', 'Bruce Moreno', 'bruce.moreno@yahoo.com', '1961-08-08 00:00:00', 'Male')
('S4685742R', 'Stephanie Mccarty', 'stephanie.mccarty@gmail.com', '1949-02-23 00:00:00', 'Male')
('S6586458B', 'Todd Winters', 'todd.winters@hotmail.com', '1991-06-29 00:00:00', 'Male')
('S8776877D', 'Matthew Lynch', 'matthew.lynch@hotmail.com', '1952-05-06 00:00:00', 'Male')
('S4637490S', 'Raymond Figueroa MD', 'raymond.figueroa.md@hotmail.com', '1992-10-20 00:00:00', 'Male')
('S8460015L', 'Jennifer Lindsey', 'jennifer.lindsey@hotmail.com', '2002-01-13 00:00:00', 'Female')
('S7134349G', 'Deborah Abbott', 'deborah.abbott@hotmail.com', '1987-04-28 00:00:00', 'Male')
('S9871869A', 'Charles Floyd', 'charles.floyd@gmail.com', '1958-11-29 00:00:00', 'Female')
('S7793253F', 'Xavier Flores', 'xavier.flores@yahoo.com', '1986-01-19 00:00:00', 'Male')
('S4850237G', 'Sara Hays', 'sara.hays@yahoo.com', '1984-04-21 00:00:00', 'Female')
('S9087230Z', 'James Johnson', 'james.johnson@yahoo.com', '1952-03-19 00:00:00', 'Male')
('T0165401U', 'Michael Howell', 'michael.howell@hotmail.com', '1998-02-23 00:00:00', 'Male')
('S4780811X', 'Darren Murphy', 'darren.murphy@gmail.com', '1955-03-19 00:00:00', 'Male')
('S8154315V', 'Karen Moore', 'karen.moore@yahoo.com', '1965-02-21 00:00:00', 'Female')
('S6314316I', 'Mitchell English', 'mitchell.english@yahoo.com', '2002-01-19 00:00:00', 'Male')
('S8013309R', 'Ashley Williams', 'ashley.williams@hotmail.com', '1956-11-29 00:00:00', 'Male')
('S6345641H', 'Michael Cox', 'michael.cox@gmail.com', '1972-05-05 00:00:00', 'Male')
('T0025366G', 'Alexandra Brown', 'alexandra.brown@gmail.com', '1993-03-28 00:00:00', 'Female')
('S9947423J', 'April Miller', 'april.miller@hotmail.com', '1976-12-21 00:00:00', 'Male')
('S9774039T', 'Nicole Kim', 'nicole.kim@hotmail.com', '1976-02-23 00:00:00', 'Female')
('S7224003V', 'Sabrina Harris', 'sabrina.harris@gmail.com', '1957-07-09 00:00:00', 'Female')
('S4864664R', 'Troy Miller', 'troy.miller@hotmail.com', '2002-08-05 00:00:00', 'Female')
('S6976396Q', 'Kelly Hatfield', 'kelly.hatfield@gmail.com', '1969-08-13 00:00:00', 'Male')
('S5083426J', 'Jamie Nelson', 'jamie.nelson@yahoo.com', '2004-11-03 00:00:00', 'Male')
('S8528029N', 'Karina Brown', 'karina.brown@hotmail.com', '1956-05-02 00:00:00', 'Male')
('S7383044E', 'Rachel Hill', 'rachel.hill@gmail.com', '1955-12-06 00:00:00', 'Female')
('S8343720W', 'Curtis Frazier', 'curtis.frazier@yahoo.com', '1980-12-05 00:00:00', 'Female')
('S6136381M', 'Tammy Stewart', 'tammy.stewart@yahoo.com', '1978-04-05 00:00:00', 'Female')
('S5678854Z', 'Elizabeth Briggs', 'elizabeth.briggs@hotmail.com', '1966-03-15 00:00:00', 'Female')
('S7560654L', 'Kevin Strickland', 'kevin.strickland@yahoo.com', '1977-02-13 00:00:00', 'Male')
('S9872088Z', 'Kristina Keith', 'kristina.keith@yahoo.com', '1976-12-06 00:00:00', 'Male')
('T0269307T', 'Michael Martin', 'michael.martin@hotmail.com', '1952-07-23 00:00:00', 'Female')
('S5791729C', 'Carlos Howard', 'carlos.howard@yahoo.com', '1987-01-28 00:00:00', 'Female')
('S8731953T', 'April Campbell', 'april.campbell@hotmail.com', '2003-11-18 00:00:00', 'Female')
('S6956340J', 'Ann Willis', 'ann.willis@hotmail.com', '1989-06-23 00:00:00', 'Male')
('S8431012F', 'Scott Peterson', 'scott.peterson@yahoo.com', '1982-09-18 00:00:00', 'Male')
('S4477579Z', 'Mike Wang', 'mike.wang@yahoo.com', '1998-03-20 00:00:00', 'Female')
('S9271173S', 'Evelyn Lyons', 'evelyn.lyons@gmail.com', '1968-07-14 00:00:00', 'Female')
('S5664983I', 'Amanda Calderon', 'amanda.calderon@yahoo.com', '1977-03-06 00:00:00', 'Female')
('T0498095V', 'Ryan Garcia', 'ryan.garcia@hotmail.com', '1982-10-02 00:00:00', 'Female')
('S8264283N', 'Colleen Jones', 'colleen.jones@hotmail.com', '1956-07-22 00:00:00', 'Female')
('S9491395V', 'Sara Jenkins', 'sara.jenkins@hotmail.com', '1953-07-21 00:00:00', 'Female')
('T0511676S', 'Matthew Gonzalez', 'matthew.gonzalez@yahoo.com', '1976-07-24 00:00:00', 'Male')
('S7813475M', 'Veronica Beltran', 'veronica.beltran@yahoo.com', '1992-03-11 00:00:00', 'Female')
('S6237985F', 'Elizabeth Brown', 'elizabeth.brown@yahoo.com', '1983-01-02 00:00:00', 'Male')
('S4872887E', 'Logan Brooks', 'logan.brooks@hotmail.com', '1944-06-28 00:00:00', 'Male')
('S7274334C', 'Alexis Williams MD', 'alexis.williams.md@yahoo.com', '1987-05-31 00:00:00', 'Female')
('S6222247R', 'Jennifer Brewer', 'jennifer.brewer@gmail.com', '1981-07-16 00:00:00', 'Female')
('S5229768S', 'Joshua Mccormick', 'joshua.mccormick@gmail.com', '1971-01-31 00:00:00', 'Male')
('S5125710N', 'Ashley Smith', 'ashley.smith@yahoo.com', '1946-05-04 00:00:00', 'Male')
('S5536257J', 'Mark Morgan', 'mark.morgan@gmail.com', '2004-07-27 00:00:00', 'Female')
('S7373871M', 'Darius Walter', 'darius.walter@hotmail.com', '2001-05-23 00:00:00', 'Male')
('S5871635B', 'Stephen Meyer', 'stephen.meyer@hotmail.com', '1958-10-08 00:00:00', 'Male')
('S9950147X', 'Susan Graves', 'susan.graves@hotmail.com', '1998-10-27 00:00:00', 'Male')
('T0482981C', 'Mark Woods', 'mark.woods@gmail.com', '1961-06-19 00:00:00', 'Female')
('T0057733W', 'William Diaz', 'william.diaz@gmail.com', '2001-08-29 00:00:00', 'Male')
('S6238928B', 'Carla Smith', 'carla.smith@yahoo.com', '1989-07-28 00:00:00', 'Male')
('S7276245Q', 'Alexandra Rose', 'alexandra.rose@yahoo.com', '1985-01-28 00:00:00', 'Male')
('S6758645D', 'John Schneider', 'john.schneider@gmail.com', '1997-06-05 00:00:00', 'Male')
('S4460745I', 'Anthony Salas', 'anthony.salas@yahoo.com', '1962-07-07 00:00:00', 'Male')
('S4970882Y', 'Ashley Thomas', 'ashley.thomas@hotmail.com', '1946-01-14 00:00:00', 'Male')
('S5857431S', 'Kimberly Bell', 'kimberly.bell@gmail.com', '1968-09-25 00:00:00', 'Female')
('S9937927A', 'Tammy Paul', 'tammy.paul@gmail.com', '1965-08-20 00:00:00', 'Male')
('S8322228U', 'Eddie Hobbs', 'eddie.hobbs@yahoo.com', '1957-05-16 00:00:00', 'Male')
('S4596847Y', 'Stanley Williams', 'stanley.williams@hotmail.com', '2000-05-03 00:00:00', 'Male')
('S7624633A', 'Breanna Thompson', 'breanna.thompson@hotmail.com', '1978-03-09 00:00:00', 'Female')
('S7630569X', 'David Hammond', 'david.hammond@yahoo.com', '1981-03-28 00:00:00', 'Female')
('S9029526C', 'Jessica Ward', 'jessica.ward@yahoo.com', '1959-07-13 00:00:00', 'Male')
('T0458777F', 'Martin Hooper', 'martin.hooper@yahoo.com', '1972-02-07 00:00:00', 'Female')
('S5749609Y', 'Patricia Leonard', 'patricia.leonard@yahoo.com', '1986-02-09 00:00:00', 'Male')
('S6082123Z', 'Breanna Wallace', 'breanna.wallace@yahoo.com', '1948-02-27 00:00:00', 'Male')
('T0458782D', 'Tina Miles', 'tina.miles@hotmail.com', '1983-10-05 00:00:00', 'Male')
('S7796458T', 'Katelyn Hall', 'katelyn.hall@hotmail.com', '1950-02-04 00:00:00', 'Male')
('S6611465C', 'Laurie Burns', 'laurie.burns@gmail.com', '1980-02-09 00:00:00', 'Male')
('S4787101O', 'Adam Thompson', 'adam.thompson@hotmail.com', '1951-09-16 00:00:00', 'Male')
('S5213789O', 'David Fowler', 'david.fowler@gmail.com', '1944-08-17 00:00:00', 'Female')
('S8639849G', 'Dustin Snow', 'dustin.snow@gmail.com', '1994-06-14 00:00:00', 'Female')
('S7840167Z', 'Susan Wade', 'susan.wade@hotmail.com', '1985-09-07 00:00:00', 'Female')
('S9230948P', 'Suzanne Wilson', 'suzanne.wilson@gmail.com', '1961-10-03 00:00:00', 'Female')
('S5462971U', 'Thomas Williams', 'thomas.williams@gmail.com', '1966-12-07 00:00:00', 'Female')
('S6856939C', 'Gregory Lindsey', 'gregory.lindsey@hotmail.com', '1948-12-14 00:00:00', 'Male')
('S6883705H', 'Mr. Michael Kane', 'mr..michael.kane@yahoo.com', '1976-06-07 00:00:00', 'Male')
('S9225451F', 'Andrew Smith', 'andrew.smith@yahoo.com', '1962-04-20 00:00:00', 'Male')
('S5339815E', 'Nicole Barnes', 'nicole.barnes@hotmail.com', '2003-12-04 00:00:00', 'Male')
('S6742339G', 'Diane Galvan', 'diane.galvan@gmail.com', '1947-04-09 00:00:00', 'Female')
('S8778070Y', 'Samantha Martinez', 'samantha.martinez@yahoo.com', '1997-04-24 00:00:00', 'Female')
('S6452972K', 'Marissa Dillon', 'marissa.dillon@gmail.com', '1999-01-01 00:00:00', 'Female')
('S4825745U', 'Kristopher Douglas', 'kristopher.douglas@yahoo.com', '2000-10-20 00:00:00', 'Female')
('S4627257Q', 'Tyler Parker', 'tyler.parker@yahoo.com', '1945-12-24 00:00:00', 'Female')
('S4438882T', 'Cynthia Santiago', 'cynthia.santiago@gmail.com', '1948-08-15 00:00:00', 'Male')
('S7541416U', 'Gregory Kelly', 'gregory.kelly@gmail.com', '1957-07-13 00:00:00', 'Female')
('S9517201T', 'Robert Davis', 'robert.davis@gmail.com', '1952-11-09 00:00:00', 'Male')
('S5698420I', 'Veronica Payne', 'veronica.payne@gmail.com', '2003-10-30 00:00:00', 'Male')
('S9156894L', 'Frank Powell', 'frank.powell@hotmail.com', '1978-07-10 00:00:00', 'Female')
('S5248350Y', 'Cameron Conley', 'cameron.conley@hotmail.com', '1955-10-05 00:00:00', 'Female')
('S6220112P', 'Erin Fowler', 'erin.fowler@gmail.com', '1980-05-07 00:00:00', 'Female')
('T0234180N', 'Jessica Beltran', 'jessica.beltran@gmail.com', '1976-05-28 00:00:00', 'Female')
('S8014634E', 'Chris Hale', 'chris.hale@hotmail.com', '1999-10-02 00:00:00', 'Female')
('S5899712A', 'Brenda Chapman', 'brenda.chapman@gmail.com', '1968-11-11 00:00:00', 'Male')
('S8650967W', 'Brian Hood', 'brian.hood@hotmail.com', '1948-03-23 00:00:00', 'Male')
('S9266774Z', 'Dr. Yolanda Gonzales', 'dr..yolanda.gonzales@hotmail.com', '1960-07-15 00:00:00', 'Female')
('S8679070D', 'James Hess', 'james.hess@hotmail.com', '1951-05-16 00:00:00', 'Female')
('S5794993P', 'Philip Carroll', 'philip.carroll@gmail.com', '1971-08-08 00:00:00', 'Male')
('T0470925A', 'Justin Thompson', 'justin.thompson@hotmail.com', '1958-07-21 00:00:00', 'Female')
('S7489852O', 'Derrick Browning', 'derrick.browning@yahoo.com', '1999-07-03 00:00:00', 'Female')
('S8397631Z', 'Jason Young', 'jason.young@hotmail.com', '1971-03-05 00:00:00', 'Female')
('S8247150J', 'Johnathan Wright', 'johnathan.wright@hotmail.com', '1973-03-23 00:00:00', 'Male')
('S5191021N', 'Matthew Robinson', 'matthew.robinson@gmail.com', '1980-01-24 00:00:00', 'Female')
('S9081714G', 'Erica Lambert', 'erica.lambert@gmail.com', '1948-02-02 00:00:00', 'Female')
('S7143862M', 'Richard Gonzalez', 'richard.gonzalez@gmail.com', '1971-03-04 00:00:00', 'Female')
('S6124584H', 'Teresa Barton', 'teresa.barton@yahoo.com', '1946-03-04 00:00:00', 'Male')
('S9116317I', 'Ryan Pearson', 'ryan.pearson@yahoo.com', '1962-09-25 00:00:00', 'Female')
('S4486775R', 'Kelly White', 'kelly.white@hotmail.com', '1997-01-27 00:00:00', 'Female')
('S7796284G', 'Monica Davis', 'monica.davis@hotmail.com', '1975-07-17 00:00:00', 'Female')
('S6638882M', 'Heather Hall', 'heather.hall@gmail.com', '1948-04-29 00:00:00', 'Female')
('S7655814U', 'Gregory Franklin', 'gregory.franklin@hotmail.com', '1960-10-09 00:00:00', 'Female')
('S9361671O', 'Tammy Brooks', 'tammy.brooks@hotmail.com', '1977-05-10 00:00:00', 'Male')
('S7132932B', 'Brian Hendrix', 'brian.hendrix@hotmail.com', '1995-07-14 00:00:00', 'Male')
('S7191949I', 'Philip Gordon', 'philip.gordon@gmail.com', '1981-07-12 00:00:00', 'Female')
('S8194273C', 'Cesar Taylor', 'cesar.taylor@hotmail.com', '2004-01-23 00:00:00', 'Female')
('S7610856U', 'Melanie Bryant', 'melanie.bryant@hotmail.com', '1954-02-23 00:00:00', 'Female')
('S5790581F', 'Elijah Cruz', 'elijah.cruz@yahoo.com', '1957-12-21 00:00:00', 'Male')
('T0378152Z', 'Sharon Hampton MD', 'sharon.hampton.md@gmail.com', '1978-04-04 00:00:00', 'Female')
('S8980279Y', 'Jason Lee', 'jason.lee@hotmail.com', '1992-12-16 00:00:00', 'Male')
('S8049237N', 'Crystal Herring', 'crystal.herring@hotmail.com', '1969-12-05 00:00:00', 'Male')
('S9012135J', 'Reginald Oliver', 'reginald.oliver@gmail.com', '1969-01-08 00:00:00', 'Female')
('S8523857X', 'Michael Lopez', 'michael.lopez@yahoo.com', '1978-01-04 00:00:00', 'Male')
('S8782436X', 'Logan Williams', 'logan.williams@hotmail.com', '1975-11-25 00:00:00', 'Male')
('T0198912R', 'Jose Sheppard', 'jose.sheppard@yahoo.com', '1970-07-10 00:00:00', 'Male')
('S4534899N', 'Chelsey Gomez', 'chelsey.gomez@gmail.com', '1976-01-11 00:00:00', 'Male')
('S8255058V', 'James Evans', 'james.evans@yahoo.com', '1957-04-13 00:00:00', 'Male')
('S6553035H', 'Mary Shepherd', 'mary.shepherd@gmail.com', '1977-06-10 00:00:00', 'Female')
('S7816065L', 'Thomas White', 'thomas.white@yahoo.com', '1983-02-12 00:00:00', 'Male')
('S7298637A', 'Melissa Marshall', 'melissa.marshall@gmail.com', '1996-09-23 00:00:00', 'Female')
('T0077825L', 'Darin Gentry PhD', 'darin.gentry.phd@yahoo.com', '1973-01-13 00:00:00', 'Male')
('S9741534X', 'Melissa Smith', 'melissa.smith@gmail.com', '2005-03-14 00:00:00', 'Male')
('S8962909Z', 'Morgan Brock', 'morgan.brock@hotmail.com', '1972-01-08 00:00:00', 'Male')
('T0195932K', 'Allison Sanders', 'allison.sanders@hotmail.com', '1998-04-27 00:00:00', 'Male')
('S7248001F', 'Kristin Mendoza', 'kristin.mendoza@hotmail.com', '1997-11-28 00:00:00', 'Male')
('S9247222Y', 'Steven Stevens', 'steven.stevens@yahoo.com', '1995-07-12 00:00:00', 'Female')
('S7081744Y', 'Alejandro Howard', 'alejandro.howard@hotmail.com', '1987-09-09 00:00:00', 'Male')
('S9813264L', 'Michael Massey', 'michael.massey@gmail.com', '1981-11-26 00:00:00', 'Male')
('S8090050D', 'Andrea Santos', 'andrea.santos@gmail.com', '1989-09-05 00:00:00', 'Female')
('T0331529O', 'Mr. Wayne Nelson DDS', 'mr..wayne.nelson.dds@gmail.com', '1975-08-31 00:00:00', 'Male')
('S5833669M', 'Crystal Lamb', 'crystal.lamb@yahoo.com', '1997-04-11 00:00:00', 'Female')
('S5192656V', 'Daniel Winters', 'daniel.winters@yahoo.com', '1972-08-07 00:00:00', 'Male')
('S6089136V', 'Marissa Young', 'marissa.young@hotmail.com', '1999-12-05 00:00:00', 'Female')
('S9796862H', 'Scott Smith DDS', 'scott.smith.dds@yahoo.com', '2004-11-10 00:00:00', 'Female')
('S5138731I', 'Danielle Reynolds', 'danielle.reynolds@hotmail.com', '1944-06-10 00:00:00', 'Female')
('S6966517Q', 'Laura Jacobson', 'laura.jacobson@yahoo.com', '1980-04-05 00:00:00', 'Female')
('S7832961C', 'Julie Farley', 'julie.farley@gmail.com', '1982-10-17 00:00:00', 'Female')
('S8477164C', 'David Winters', 'david.winters@hotmail.com', '1990-02-15 00:00:00', 'Female')
('S9875031K', 'Chad Perez', 'chad.perez@yahoo.com', '1997-12-27 00:00:00', 'Female')
('S4897648J', 'Lisa Weaver', 'lisa.weaver@yahoo.com', '1945-09-24 00:00:00', 'Female')
('S7648917Y', 'Christopher Wilson', 'christopher.wilson@yahoo.com', '1947-07-03 00:00:00', 'Female')
('S7641305F', 'Vanessa Brooks', 'vanessa.brooks@hotmail.com', '1980-06-16 00:00:00', 'Male')
('S8169808F', 'April Bennett', 'april.bennett@hotmail.com', '1984-03-12 00:00:00', 'Male')
('S9741854Y', 'Christy Cervantes', 'christy.cervantes@hotmail.com', '1949-10-28 00:00:00', 'Male')
('S9525920Q', 'Alison Gomez', 'alison.gomez@hotmail.com', '2000-08-22 00:00:00', 'Male')

In [411]:
db_filename = "../data/vaccination_db.sqlite"

try:
    conn = sqlite3.connect(db_filename)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = [row[0] for row in cursor.fetchall()]

    print("Tables in the database:")
    for table_name in table_names:
        print(table_name)

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        conn.close()

Tables in the database:
Users
Vaccines
Polyclinics
BookingSlots
VaccineRecords
VaccineStockInventory