# Dummy Data Preparation

In [151]:
import random
import sqlite3
from datetime import datetime, timedelta

import pandas as pd
from faker import Faker
from IPython.display import display

In [152]:
fake = Faker()

Note:

The `id` column will be in string. This is to mimic the real life scenario, whereby the ids may consist of characters.

## Users Table

In [153]:
# Users Table
users_data = {
    "id": [i for i in range(1, 201)],
    "name": [fake.name() for _ in range(200)],
    "email": [fake.email() for _ in range(200)],
    "date_of_birth": [
        fake.date_of_birth(minimum_age=18, maximum_age=80) for _ in range(200)
    ],
    "gender": [fake.random_element(elements=["Male", "Female"]) for _ in range(200)],
}
users_df = pd.DataFrame(users_data)
users_df["id"] = users_df["id"].astype(str)
display(users_df)

,id,name,email,date_of_birth,gender
0,1,Alicia Phillips,richard15@example.org,1968-10-07,Male
1,2,Clayton Duarte,vanessa30@example.org,1960-08-15,Male
2,3,Cassandra Young,laurenhill@example.com,1946-09-12,Male
3,4,Scott Hill,bgriffin@example.com,1946-05-24,Male
4,5,Katie Davis,nnielsen@example.org,1990-11-29,Female
...,...,...,...,...,...
195,196,Margaret Gould,bryan12@example.net,1988-03-20,Male
196,197,Anthony Brown,michaelolsen@example.org,1973-09-18,Male
197,198,Julie Charles,andreacrawford@example.net,1951-06-26,Female
198,199,Ryan Thomas,reynoldschristopher@example.com,1985-10-05,Male
199,200,Ronald Swanson,xwhite@example.net,1962-02-03,Male

In [154]:
# Check that the names are all unique
print(users_df["name"].nunique())

# Check that dates are in range
start_date = "1920-01-01"
end_date = "2025-03-01"

users_df["date_of_birth"] = pd.to_datetime(users_df["date_of_birth"])
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

is_in_range = (users_df["date_of_birth"] >= start_date) & (
    users_df["date_of_birth"] <= end_date
)

# check if the date is under range
if is_in_range.all():
    print("All date are in range")
else:
    print("Some dates are not in range")

200
All date are in range

## Vaccines Table

In [155]:
# Vaccine Table
vaccines_data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8],
    "vaccine": [
        "Influenza (INF)",
        "Human Papillomavirus (HPV)",
        "Pneumococcal",
        "Human Immunodeficiency Viruses (HIV)",
        "Tetanus, Diphtheria, Pertussis (Tdap)",
        "Hepatitis B (HepB)",
        "Measles, Mumps, Rubella (MMR)",
        "Varicella (VAR)",
    ],
    "price": [9.0, 0.0, 16.0, 23.0, 10.0, 9.0, 9.0, 11.0],
    "doses_required": [2, 4, 1, 2, 1, 2, 1, 3],
    "age_criteria": [
        "18+ years old",
        "18+ years old",
        "65+ years old",
        "18-26 years old",
        "27-64 years old",
        "18+ years old",
        "18+ years old",
        "18+ years old",
    ],
    "gender_criteria": [
        "None",
        "None",
        "None",
        "Female",
        "Female",
        "None",
        "None",
        "None",
    ],
    # condition_crietria
}
vaccines_df = pd.DataFrame(vaccines_data)
vaccines_df["id"] = vaccines_df["id"].astype(str)
display(vaccines_df)

,id,vaccine,price,doses_required,age_criteria,gender_criteria
0,1,Influenza (INF),9.0,2,18+ years old,None
1,2,Human Papillomavirus (HPV),0.0,4,18+ years old,None
2,3,Pneumococcal,16.0,1,65+ years old,None
3,4,Human Immunodeficiency Viruses (HIV),23.0,2,18-26 years old,Female
4,5,"Tetanus, Diphtheria, Pertussis (Tdap)",10.0,1,27-64 years old,Female
5,6,Hepatitis B (HepB),9.0,2,18+ years old,None
6,7,"Measles, Mumps, Rubella (MMR)",9.0,1,18+ years old,None
7,8,Varicella (VAR),11.0,3,18+ years old,None

## Polyclinics Table

In [156]:
# Polyclinic Table
polyclinics_data = {
    "id": [i for i in range(1, 31)],  # 30 polyclinics
    "name": [fake.company() + " Polyclinic" for _ in range(30)],
    "address": [fake.address() for _ in range(30)],
}
polyclinics_df = pd.DataFrame(polyclinics_data)
polyclinics_df["id"] = polyclinics_df["id"].astype(str)
display(polyclinics_df)

,id,name,address
0,1,Riley Ltd Polyclinic,95509 Chavez Mission Apt. 305\nEast Matthewsid...
1,2,Williams-Lee Polyclinic,"10208 Jennifer Underpass\nEast Raymond, AZ 45168"
2,3,"Phillips, Larsen and Anderson Polyclinic","9210 Davis Wall\nKrystalport, VT 22598"
3,4,Dorsey-Ruiz Polyclinic,"959 Eaton Loaf\nWest Jennashire, AK 83915"
4,5,Cohen Ltd Polyclinic,"1724 Cowan Throughway\nGeorgeport, PW 46408"
5,6,Sawyer LLC Polyclinic,"241 Brown Village\nMarkhaven, NM 53988"
6,7,Anderson and Sons Polyclinic,"13457 William Garden\nLake Kristen, AR 59309"
7,8,Odom Inc Polyclinic,"943 Avery Forks Suite 506\nPort Brenda, MO 61245"
8,9,"Grant, Johnson and Thomas Polyclinic","360 Jimenez Knolls Suite 324\nJamesland, PW 15865"
9,10,Barker LLC Polyclinic,"483 Lisa Shoal\nGinafort, MA 92919"
10,11,White-Dorsey Polyclinic,"3118 Jerry Cliffs Apt. 120\nTylermouth, AS 22127"
11,12,Wilson-Payne Polyclinic,"35295 Murphy Court\nLake Bonnieborough, OR 65560"
12,13,Bell-Palmer Polyclinic,"7037 Johnson Knolls\nMartinhaven, FL 79539"
13,14,White PLC Polyclinic,"7478 Garrett Skyway\nRebeccaville, NV 94264"
14,15,"Cunningham, Hendrix and Martin Polyclinic","3254 Mary Lakes Apt. 035\nPort Ashley, OH 86692"
15,16,Collins Inc Polyclinic,0930 Marshall Hill Apt. 646\nPort Elizabethlan...
16,17,"Flores, Scott and Anderson Polyclinic","5686 Shannon Walks Suite 158\nNorth Mariaberg,..."
17,18,Riley Group Polyclinic,"9699 Amanda Brooks Suite 745\nChristinahaven, ..."
18,19,Nash-Lawson Polyclinic,"24042 Katelyn Valley\nLake Lindsaybury, IL 95556"
19,20,"Rhodes, Good and Johnson Polyclinic","107 Tracey Ways Suite 249\nMartinezbury, ME 62126"
20,21,"Powell, Lewis and Fleming Polyclinic","3546 Collins Circle\nLake Bradleyton, UT 02781"
21,22,"Jones, Cole and Kelly Polyclinic",USNS Greene\nFPO AA 96668
22,23,Elliott-Mercado Polyclinic,"0490 Kevin Ports Apt. 134\nLake Sarahside, OH ..."
23,24,"Figueroa, Burke and Silva Polyclinic","06329 Harris Branch Apt. 213\nSouth Stanley, C..."
24,25,Davis PLC Polyclinic,"58581 Tanya Expressway\nWest Kathryn, FM 05578"
25,26,Burke Inc Polyclinic,"7570 Gina Street\nSouth Jillianmouth, DE 61945"
26,27,"Moore, Collins and Braun Polyclinic","411 Daniel Via Suite 144\nOscarberg, NM 58634"
27,28,Smith-Fisher Polyclinic,"596 Tracy Passage\nAlexistown, AR 23629"
28,29,"Cox, Owens and West Polyclinic","31852 Flores Fork\nPort Kellystad, WA 18216"
29,30,Hoffman Group Polyclinic,"81025 Baker Crossroad\nKimberlyhaven, VT 90724"

In [157]:
# Check that the names are all unique
print(polyclinics_df["name"].nunique())

30

## Booking Slots Table

In [158]:
# 1 day: 5 slots
# 1 week (5 working days): 25 slots
# 30 polyclincs: 750
# Booking Slots Table

# Define the start and end dates for the range
start_date = datetime(2025, 3, 17)
end_date = datetime(2025, 3, 21)

# Booking Slots Table
booking_slots_data = {
    "id": [i for i in range(1, 751)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(750)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(750)],
    "slot_datetime": [
        # Generate random date between 17th March and 21st March
        (
            start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
        ).replace(
            hour=random.randint(9, 18),  # Random hour between 9 AM and 6 PM
            minute=0,  # Set minute to 0 for hourly slots
            second=0,  # Set second to 0
            microsecond=0,  # Set microsecond to 0
        )
        for _ in range(750)
    ],
    "is_booked": [random.choice([True, False]) for _ in range(750)],
}

booking_slots_df = pd.DataFrame(booking_slots_data)
booking_slots_df["id"] = booking_slots_df["id"].astype(str)
display(booking_slots_df)

      id  polyclinic_id  vaccine_id       slot_datetime  is_booked
0      1             29           1 2025-03-20 15:00:00      False
1      2             21           7 2025-03-19 11:00:00       True
2      3             14           2 2025-03-18 16:00:00       True
3      4             24           7 2025-03-18 18:00:00       True
4      5             21           7 2025-03-17 11:00:00       True
..   ...            ...         ...                 ...        ...
745  746              3           8 2025-03-19 18:00:00      False
746  747             14           7 2025-03-17 11:00:00      False
747  748             27           1 2025-03-17 16:00:00       True
748  749             18           1 2025-03-21 13:00:00       True
749  750             18           5 2025-03-20 16:00:00      False

[750 rows x 5 columns]

In [159]:
# Assign user_id only for booked slots
unique_bookings = set()  # To ensure uniqueness
user_ids = list(range(1, 201))  # User IDs from 1 to 200


def assign_user_id(row):
    if row["is_booked"]:
        random.shuffle(user_ids)  # Shuffle to randomize selection
        for user_id in user_ids:
            key = (row["polyclinic_id"], row["slot_datetime"], user_id)
            if key not in unique_bookings:
                unique_bookings.add(key)
                return str(user_id)
    return "None"


booking_slots_df["user_id"] = booking_slots_df.apply(assign_user_id, axis=1)
booking_slots_df["polyclinic_id"] = booking_slots_df["polyclinic_id"].astype(str)
booking_slots_df["vaccine_id"] = booking_slots_df["vaccine_id"].astype(str)
# Display the DataFrame
display(booking_slots_df)

      id polyclinic_id vaccine_id       slot_datetime  is_booked user_id
0      1            29          1 2025-03-20 15:00:00      False    None
1      2            21          7 2025-03-19 11:00:00       True      51
2      3            14          2 2025-03-18 16:00:00       True      72
3      4            24          7 2025-03-18 18:00:00       True     107
4      5            21          7 2025-03-17 11:00:00       True      82
..   ...           ...        ...                 ...        ...     ...
745  746             3          8 2025-03-19 18:00:00      False    None
746  747            14          7 2025-03-17 11:00:00      False    None
747  748            27          1 2025-03-17 16:00:00       True      26
748  749            18          1 2025-03-21 13:00:00       True     103
749  750            18          5 2025-03-20 16:00:00      False    None

[750 rows x 6 columns]

In [160]:
# Check balance
booking_slots_df["is_booked"].value_counts()

is_booked
False    392
True     358
Name: count, dtype: int64

## Vaccine Records Table

In [161]:
# Vaccine Records Table
vaccine_records_data = {
    "id": [i for i in range(1, 501)],
    "user_id": [random.choice(users_data["id"]) for _ in range(500)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(500)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(500)],
    "vaccination_date": [fake.date_this_year() for _ in range(500)],
}
vaccine_records_df = pd.DataFrame(vaccine_records_data)
vaccine_records_df["id"] = vaccine_records_df["id"].astype(str)
vaccine_records_df["user_id"] = vaccine_records_df["user_id"].astype(str)
vaccine_records_df["vaccine_id"] = vaccine_records_df["vaccine_id"].astype(str)
vaccine_records_df["polyclinic_id"] = vaccine_records_df["polyclinic_id"].astype(str)
display(vaccine_records_df)

      id user_id vaccine_id polyclinic_id vaccination_date
0      1       4          6            16       2025-02-16
1      2      32          6            25       2025-02-20
2      3     102          5            14       2025-02-16
3      4     173          2            12       2025-01-08
4      5      99          2            17       2025-01-29
..   ...     ...        ...           ...              ...
495  496       1          7            19       2025-03-07
496  497     136          8            10       2025-02-21
497  498     183          7            24       2025-02-27
498  499      45          2            18       2025-02-05
499  500     160          3            18       2025-03-16

[500 rows x 5 columns]

In [162]:
print(type(vaccine_records_df.iloc[0]["id"]))
print(type(vaccine_records_df.iloc[0]["user_id"]))
print(type(vaccine_records_df.iloc[0]["vaccine_id"]))
print(type(vaccine_records_df.iloc[0]["polyclinic_id"]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## Vaccine Stock Inventory Table

In [163]:
# 30 polyclinics
# 8 vaccines
# Vaccine Stock Inventory Table
# Number of records
total_records = 200

# Initialize a list to hold the vaccine stock data
vaccine_stock_data = {
    "id": [],
    "polyclinic_id": [],
    "vaccine_id": [],
    "stock_quantity": [],
}

# Initialize a set to track unique (polyclinic_id, vaccine_id) combinations
existing_combinations = set()

id_counter = 1

# Loop to create 200 records with random vaccine availability
while len(vaccine_stock_data["polyclinic_id"]) < total_records:
    polyclinic = random.choice(polyclinics_df["id"])  # Randomly choose a polyclinic
    available_vaccines = random.sample(
        vaccines_df["id"].tolist(), random.randint(1, len(vaccines_df))
    )  # Randomly pick some vaccines for the polyclinic

    for vaccine in available_vaccines:
        # Ensure the (polyclinic_id, vaccine_id) combination is unique
        combination = (polyclinic, vaccine)
        if combination not in existing_combinations:
            vaccine_stock_data["id"].append(id_counter)
            vaccine_stock_data["polyclinic_id"].append(polyclinic)  # Polyclinic ID
            vaccine_stock_data["vaccine_id"].append(vaccine)  # Vaccine ID
            vaccine_stock_data["stock_quantity"].append(
                random.randint(50, 200)
            )  # Random stock quantity
            existing_combinations.add(combination)  # Track the combination
            id_counter += 1  # Increment ID

# Convert to DataFrame
vaccine_stock_df = pd.DataFrame(vaccine_stock_data)
vaccine_stock_df["id"] = vaccine_stock_df["id"].astype(str)
# Display the resulting DataFrame
display(vaccine_stock_df)

      id polyclinic_id vaccine_id  stock_quantity
0      1            26          5              52
1      2            26          4             167
2      3            26          1              90
3      4            26          6             158
4      5            26          3             119
..   ...           ...        ...             ...
196  197            30          8             129
197  198            16          7              90
198  199            13          1             142
199  200            13          4              70
200  201            13          6              63

[201 rows x 4 columns]

In [164]:
# Group the dataframe by polyclinic_id and vaccine_id and count occurrences
grouped = (
    vaccine_stock_df.groupby(["polyclinic_id", "vaccine_id"])
    .size()
    .reset_index(name="count")
)

# Check if any combination appears more than once
duplicates = grouped[grouped["count"] > 1]

# Display the duplicates if any
if not duplicates.empty:
    print("Found duplicate entries:")
    display(duplicates)
else:
    print("All polyclinic_id and vaccine_id combinations are unique.")

All polyclinic_id and vaccine_id combinations are unique.

## Insert Vaccination Data into SQLite Database

Remember to delete the existing SQLite file before running the cell below.

In [165]:
# Define SQLite database file path again
sqlite_db_path = "../data/vaccination_db.sqlite"

# Reconnect to SQLite database
conn = sqlite3.connect(sqlite_db_path)
cursor = conn.cursor()


# Function to insert DataFrame data into SQLite
def insert_csv_to_sqlite(
    csv_data: pd.DataFrame, table_name: str, conn: sqlite3.Connection
):
    csv_data.to_sql(table_name, conn, if_exists="append", index=False)


# Insert data into SQLite tables
insert_csv_to_sqlite(users_df, "Users", conn)
insert_csv_to_sqlite(vaccines_df, "Vaccines", conn)
insert_csv_to_sqlite(polyclinics_df, "Polyclinics", conn)
insert_csv_to_sqlite(booking_slots_df, "BookingSlots", conn)
insert_csv_to_sqlite(vaccine_records_df, "VaccineRecords", conn)
insert_csv_to_sqlite(vaccine_stock_df, "VaccineStockInventory", conn)

# Commit changes and close connection
conn.commit()
conn.close()

## Query SQLite Database

In [166]:
conn = sqlite3.connect("../data/vaccination_db.sqlite")
cursor = conn.cursor()

In [167]:
# Example: Fetch all users
cursor.execute("SELECT * FROM Users")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

('1', 'Alicia Phillips', 'richard15@example.org', '1968-10-07 00:00:00', 'Male')
('2', 'Clayton Duarte', 'vanessa30@example.org', '1960-08-15 00:00:00', 'Male')
('3', 'Cassandra Young', 'laurenhill@example.com', '1946-09-12 00:00:00', 'Male')
('4', 'Scott Hill', 'bgriffin@example.com', '1946-05-24 00:00:00', 'Male')
('5', 'Katie Davis', 'nnielsen@example.org', '1990-11-29 00:00:00', 'Female')
('6', 'Meredith Sellers', 'jmason@example.com', '1954-12-05 00:00:00', 'Male')
('7', 'Glenda King', 'jillmartin@example.net', '1961-09-02 00:00:00', 'Female')
('8', 'Michael Howell', 'oliviadiaz@example.org', '1987-01-15 00:00:00', 'Female')
('9', 'Roger Thompson', 'andrew50@example.org', '1968-01-07 00:00:00', 'Male')
('10', 'Erin Hernandez', 'rickwalker@example.org', '1968-06-04 00:00:00', 'Female')
('11', 'Alan Cohen', 'shawn56@example.net', '1987-02-18 00:00:00', 'Female')
('12', 'Patricia Garcia', 'johnsonsamuel@example.net', '1965-09-23 00:00:00', 'Male')
('13', 'Wendy Taylor', 'melissabennett@example.org', '2005-03-05 00:00:00', 'Female')
('14', 'Robert Graham', 'emosley@example.net', '1992-11-25 00:00:00', 'Female')
('15', 'Trevor Davis', 'mgarcia@example.org', '1975-07-03 00:00:00', 'Female')
('16', 'Anthony Mcdonald', 'jaime33@example.org', '1981-07-24 00:00:00', 'Female')
('17', 'Virginia Santiago', 'ronald03@example.net', '1944-08-17 00:00:00', 'Female')
('18', 'James Ruiz', 'ronaldray@example.com', '1988-06-06 00:00:00', 'Male')
('19', 'Felicia Evans', 'chelseaolson@example.net', '1966-01-20 00:00:00', 'Female')
('20', 'Maria Larsen', 'erinanderson@example.org', '1976-09-13 00:00:00', 'Female')
('21', 'Katherine Guzman MD', 'timothymcdaniel@example.org', '1950-11-23 00:00:00', 'Female')
('22', 'Jacob Rose', 'emily86@example.net', '1950-12-31 00:00:00', 'Male')
('23', 'Sean Walker', 'amy54@example.com', '1954-10-30 00:00:00', 'Male')
('24', 'Joseph Bridges', 'adamsgary@example.com', '1962-11-20 00:00:00', 'Male')
('25', 'Brittany Brown', 'perryashley@example.net', '1990-11-16 00:00:00', 'Male')
('26', 'Angela Moore', 'sandersstanley@example.com', '1950-06-20 00:00:00', 'Female')
('27', 'Timothy Browning', 'ryoung@example.org', '1986-07-24 00:00:00', 'Male')
('28', 'Paul Koch', 'melissanelson@example.net', '2006-12-02 00:00:00', 'Male')
('29', 'Erika Singh', 'sanderstracy@example.com', '1970-03-02 00:00:00', 'Female')
('30', 'Noah Haynes', 'icruz@example.net', '1950-12-06 00:00:00', 'Female')
('31', 'Amanda Bell', 'alicia30@example.com', '1981-04-11 00:00:00', 'Female')
('32', 'Shannon Woodard', 'adamsmatthew@example.org', '1944-11-26 00:00:00', 'Female')
('33', 'John Marshall', 'rachel90@example.com', '1945-11-27 00:00:00', 'Male')
('34', 'Jordan Andrews', 'uvillanueva@example.net', '1948-09-05 00:00:00', 'Female')
('35', 'Catherine Ferguson', 'victor99@example.com', '1945-08-29 00:00:00', 'Female')
('36', 'Shane Freeman', 'daniellewade@example.com', '2003-09-26 00:00:00', 'Female')
('37', 'Richard Whitehead', 'robert35@example.org', '1973-01-03 00:00:00', 'Male')
('38', 'Veronica Parker', 'donnawebb@example.net', '1997-04-16 00:00:00', 'Female')
('39', 'Christine Sanchez', 'egarcia@example.net', '1988-12-04 00:00:00', 'Male')
('40', 'Miss Sherri Singh', 'hernandezmeghan@example.com', '1969-08-21 00:00:00', 'Male')
('41', 'David Freeman', 'krystalhawkins@example.net', '1957-04-02 00:00:00', 'Male')
('42', 'Anthony Powell', 'sarah31@example.net', '1986-02-15 00:00:00', 'Female')
('43', 'William Cardenas', 'gregory09@example.org', '1945-10-02 00:00:00', 'Male')
('44', 'Crystal Richardson', 'jason00@example.org', '1969-05-26 00:00:00', 'Female')
('45', 'Whitney Porter', 'bkim@example.org', '1965-01-22 00:00:00', 'Female')
('46', 'Rita Douglas', 'hmcknight@example.org', '2004-11-27 00:00:00', 'Male')
('47', 'Stephanie Baker', 'bautistaalexa@example.com', '1986-02-12 00:00:00', 'Female')
('48', 'Mary Rasmussen', 'kingmelissa@example.com', '1977-04-20 00:00:00', 'Male')
('49', 'Jason Norman', 'xtaylor@example.com', '1947-03-14 00:00:00', 'Female')
('50', 'Melissa Garcia', 'whaley@example.net', '1957-01-05 00:00:00', 'Female')
('51', 'Debra Lane', 'knorris@example.com', '1963-09-30 00:00:00', 'Male')
('52', 'Jose Walls', 'phillip49@example.net', '1997-02-03 00:00:00', 'Female')
('53', 'Jesse Ayala', 'jeffrey92@example.com', '1984-11-29 00:00:00', 'Female')
('54', 'Mark Adams', 'mendozaaaron@example.org', '1966-06-07 00:00:00', 'Male')
('55', 'Keith Lopez', 'sosacole@example.net', '1986-08-10 00:00:00', 'Male')
('56', 'Tammy Spencer', 'dianewilliams@example.net', '2005-05-11 00:00:00', 'Female')
('57', 'Rachel Miller', 'ereed@example.net', '1971-01-18 00:00:00', 'Female')
('58', 'Mark Martin', 'janeknox@example.org', '1997-07-31 00:00:00', 'Male')
('59', 'Amanda Wiley', 'williamzimmerman@example.org', '2001-01-16 00:00:00', 'Female')
('60', 'Aaron Duffy', 'mary21@example.com', '1973-11-06 00:00:00', 'Male')
('61', 'Anthony Ramos', 'zgiles@example.org', '1951-03-22 00:00:00', 'Female')
('62', 'Holly Boyd', 'jenniferwalsh@example.com', '1954-09-30 00:00:00', 'Female')
('63', 'Charles Sanders', 'marshallamanda@example.net', '1979-12-29 00:00:00', 'Female')
('64', 'Tracy Williams', 'hutchinsonbriana@example.com', '1947-06-06 00:00:00', 'Female')
('65', 'Robert Strickland', 'yford@example.net', '1964-11-12 00:00:00', 'Male')
('66', 'Savannah Holmes', 'wkelly@example.net', '1991-03-22 00:00:00', 'Male')
('67', 'Sydney Olsen', 'lwilson@example.com', '1960-03-28 00:00:00', 'Female')
('68', 'Joanne Shepard', 'carolscott@example.com', '1949-05-28 00:00:00', 'Male')
('69', 'Ashley Martin', 'kristenrogers@example.com', '1988-05-29 00:00:00', 'Male')
('70', 'Richard Nunez', 'victor13@example.net', '1992-07-15 00:00:00', 'Female')
('71', 'Allen Chen', 'tramsey@example.net', '1972-10-01 00:00:00', 'Female')
('72', 'George Fletcher', 'sotokyle@example.com', '1955-07-28 00:00:00', 'Male')
('73', 'Jasmine Thompson', 'joshuagentry@example.net', '1970-01-31 00:00:00', 'Female')
('74', 'Mr. Steven Arias PhD', 'nhill@example.net', '2001-05-03 00:00:00', 'Male')
('75', 'Regina Hill DDS', 'alexreed@example.org', '1986-06-25 00:00:00', 'Male')
('76', 'Sarah Roberts', 'tanya00@example.org', '1983-11-09 00:00:00', 'Female')
('77', 'Evan Johnson', 'marquezjoy@example.org', '1962-04-16 00:00:00', 'Male')
('78', 'Kathleen Arnold', 'danielle45@example.net', '1949-02-12 00:00:00', 'Male')
('79', 'Alicia King', 'valerie04@example.com', '1967-03-05 00:00:00', 'Female')
('80', 'Jack Jones', 'manderson@example.org', '1981-04-27 00:00:00', 'Female')
('81', 'Jason Elliott', 'glenda89@example.net', '1984-04-05 00:00:00', 'Male')
('82', 'Joe Mendoza', 'melissa85@example.org', '1979-09-18 00:00:00', 'Female')
('83', 'Karen Sanders', 'melissaandrews@example.org', '1958-06-01 00:00:00', 'Female')
('84', 'Patrick Garza', 'cory16@example.net', '1980-05-31 00:00:00', 'Female')
('85', 'Stephen Terrell', 'rollinsevan@example.org', '1974-07-30 00:00:00', 'Male')
('86', 'Felicia Phillips', 'danielsjohn@example.com', '1951-01-09 00:00:00', 'Female')
('87', 'Mark Cummings', 'lawrencerobert@example.net', '1944-07-02 00:00:00', 'Female')
('88', 'Billy Marshall', 'milleradriana@example.org', '2004-12-20 00:00:00', 'Female')
('89', 'Daniel Henry', 'tiffanystokes@example.com', '2003-04-11 00:00:00', 'Female')
('90', 'Angela Whitney', 'walshjuan@example.com', '2003-06-02 00:00:00', 'Male')
('91', 'Shelby Grant', 'sharonbaker@example.net', '1946-07-02 00:00:00', 'Female')
('92', 'Damon Wallace', 'hamiltonlucas@example.org', '1962-03-13 00:00:00', 'Female')
('93', 'Jennifer Richardson', 'lesliebailey@example.net', '1962-11-23 00:00:00', 'Female')
('94', 'Erik Silva', 'carrierobertson@example.org', '1951-03-21 00:00:00', 'Male')
('95', 'Rita Smith', 'tiffany09@example.net', '1976-10-27 00:00:00', 'Male')
('96', 'Spencer Patel', 'stephen89@example.com', '2006-09-02 00:00:00', 'Female')
('97', 'Jeffrey Fletcher', 'munozmichael@example.org', '1998-06-12 00:00:00', 'Female')
('98', 'Richard Gill', 'joyce39@example.com', '1967-11-15 00:00:00', 'Female')
('99', 'Robert Greer', 'fgalvan@example.com', '1984-05-12 00:00:00', 'Male')
('100', 'Kathy Tran', 'christylivingston@example.com', '1949-08-04 00:00:00', 'Female')
('101', 'Cheryl Hicks', 'morrismichele@example.net', '2000-03-28 00:00:00', 'Female')
('102', 'Fernando Walker', 'michael86@example.net', '1980-03-20 00:00:00', 'Female')
('103', 'Frederick Arnold', 'hburns@example.org', '1976-02-04 00:00:00', 'Female')
('104', 'Jill Kelley', 'kmontgomery@example.com', '1978-05-03 00:00:00', 'Male')
('105', 'Shelby Faulkner', 'matthewhall@example.com', '2006-08-10 00:00:00', 'Male')
('106', 'Cheyenne Tucker', 'phaynes@example.com', '1976-04-03 00:00:00', 'Male')
('107', 'Christopher Simon', 'kennethpennington@example.com', '1973-01-21 00:00:00', 'Female')
('108', 'Timothy Harris', 'robert83@example.com', '1999-08-18 00:00:00', 'Female')
('109', 'Adam Scott', 'blairelizabeth@example.net', '1947-03-20 00:00:00', 'Male')
('110', 'Jennifer Lewis', 'xware@example.com', '1994-11-18 00:00:00', 'Male')
('111', 'Stephanie Kelley', 'elaine33@example.org', '1960-10-27 00:00:00', 'Female')
('112', 'William Graham', 'todd81@example.com', '1958-01-16 00:00:00', 'Female')
('113', 'Gerald Gonzalez', 'crystal44@example.net', '1969-03-06 00:00:00', 'Female')
('114', 'Brian Jacobs', 'john03@example.com', '1986-04-13 00:00:00', 'Female')
('115', 'Kelsey Goodwin', 'stokeskayla@example.com', '1984-10-19 00:00:00', 'Male')
('116', 'Joseph Collins', 'stephanie54@example.net', '2003-10-29 00:00:00', 'Male')
('117', 'Patrick Norman', 'rphillips@example.com', '1959-01-08 00:00:00', 'Female')
('118', 'Christopher Singh', 'sanderson@example.com', '1989-11-30 00:00:00', 'Male')
('119', 'Eric Gomez', 'diazcharles@example.org', '1948-12-13 00:00:00', 'Male')
('120', 'Rachel Mccarthy', 'cwatkins@example.com', '2006-05-04 00:00:00', 'Female')
('121', 'Miranda Hudson', 'romanjason@example.com', '1992-08-02 00:00:00', 'Female')
('122', 'Danny Powers MD', 'newtonrachel@example.org', '1953-12-12 00:00:00', 'Female')
('123', 'Elizabeth Rodriguez', 'lawrenceandrew@example.net', '1952-05-16 00:00:00', 'Male')
('124', 'Travis Hardy', 'hlara@example.org', '1948-11-18 00:00:00', 'Male')
('125', 'Michael Vasquez', 'michaelheidi@example.net', '1950-01-05 00:00:00', 'Female')
('126', 'Andrea Nguyen', 'hbrown@example.com', '1992-10-27 00:00:00', 'Male')
('127', 'Chad Mcdaniel', 'jonespenny@example.org', '1967-05-22 00:00:00', 'Female')
('128', 'Jasmin Thomas', 'banksmichael@example.net', '1955-11-16 00:00:00', 'Male')
('129', 'Robert Fowler', 'sarahtorres@example.org', '1949-08-30 00:00:00', 'Female')
('130', 'Megan Gonzalez', 'dawsonheather@example.org', '1994-12-30 00:00:00', 'Female')
('131', 'Brandi Miller', 'joshua84@example.net', '1949-08-30 00:00:00', 'Female')
('132', 'Alex Velez', 'cabrerajoseph@example.org', '1965-12-28 00:00:00', 'Male')
('133', 'Jordan Turner', 'taylor97@example.org', '1996-04-02 00:00:00', 'Male')
('134', 'Ann Smith', 'chad65@example.net', '1961-02-28 00:00:00', 'Male')
('135', 'Bradley Vasquez', 'wflores@example.com', '2003-04-30 00:00:00', 'Male')
('136', 'David Mckinney', 'fgriffith@example.com', '1986-10-18 00:00:00', 'Male')
('137', 'Kenneth Benitez', 'crystal62@example.net', '1962-08-25 00:00:00', 'Male')
('138', 'Shelby Whitney', 'steven30@example.org', '1979-03-30 00:00:00', 'Female')
('139', 'Timothy Henderson', 'yduke@example.org', '1986-09-16 00:00:00', 'Female')
('140', 'James Ramos', 'stevehansen@example.org', '1960-08-05 00:00:00', 'Male')
('141', 'Ivan Anderson', 'jeremymcdaniel@example.com', '1977-09-19 00:00:00', 'Male')
('142', 'Susan Mccarthy', 'jerry42@example.com', '1957-08-18 00:00:00', 'Male')
('143', 'Christopher Fitzpatrick', 'michelle89@example.org', '1960-02-07 00:00:00', 'Female')
('144', 'Daniel Young', 'vjones@example.org', '1969-04-25 00:00:00', 'Female')
('145', 'Michelle Maxwell MD', 'wsalas@example.net', '2005-03-21 00:00:00', 'Male')
('146', 'Maria Chen', 'christycarroll@example.org', '1986-03-20 00:00:00', 'Female')
('147', 'Cameron Cook', 'meganbrewer@example.net', '1995-11-18 00:00:00', 'Male')
('148', 'Joseph Rivera', 'katherine42@example.net', '1970-02-17 00:00:00', 'Female')
('149', 'Felicia Orozco', 'donna65@example.org', '1989-05-27 00:00:00', 'Female')
('150', 'Juan Valencia', 'daviesmelissa@example.org', '1978-08-17 00:00:00', 'Female')
('151', 'Marco Murray', 'david91@example.net', '2002-08-05 00:00:00', 'Female')
('152', 'Allison Moyer', 'madelinemartin@example.net', '1981-03-10 00:00:00', 'Female')
('153', 'Jennifer Parker', 'ryan52@example.org', '2002-08-30 00:00:00', 'Female')
('154', 'Steven Baker', 'carrchristopher@example.org', '1986-09-10 00:00:00', 'Male')
('155', 'Michelle Wagner', 'tmendoza@example.com', '1982-04-18 00:00:00', 'Male')
('156', 'Sara Johnson', 'wbuck@example.org', '1950-10-13 00:00:00', 'Female')
('157', 'Leslie Lopez', 'cwhite@example.com', '1950-06-29 00:00:00', 'Male')
('158', 'Regina Bradley', 'martinezmartin@example.org', '2005-04-18 00:00:00', 'Male')
('159', 'Eric Johnson', 'veronica97@example.com', '1989-04-18 00:00:00', 'Female')
('160', 'Andrew Johnson', 'bradleyparker@example.net', '1998-04-18 00:00:00', 'Male')
('161', 'Travis Mosley', 'daniel77@example.net', '1952-09-15 00:00:00', 'Male')
('162', 'Kimberly Pugh', 'michaelosborne@example.com', '1953-08-13 00:00:00', 'Female')
('163', 'Joshua Solis', 'gsimpson@example.net', '1955-01-14 00:00:00', 'Female')
('164', 'Stanley Jones', 'jackhayes@example.net', '1997-07-27 00:00:00', 'Female')
('165', 'Cynthia Swanson', 'michael40@example.net', '1951-12-28 00:00:00', 'Female')
('166', 'Jacqueline Huff', 'patrick62@example.com', '1995-07-06 00:00:00', 'Male')
('167', 'Tonya Miller', 'heather92@example.org', '1949-09-25 00:00:00', 'Female')
('168', 'Bonnie Weaver', 'suttonjeremy@example.com', '1975-11-27 00:00:00', 'Male')
('169', 'Kelly Rodriguez', 'dsmith@example.org', '1991-04-18 00:00:00', 'Female')
('170', 'Mary Foster', 'livingstonchristian@example.org', '1971-10-31 00:00:00', 'Male')
('171', 'John Kelly', 'zhines@example.net', '1973-06-08 00:00:00', 'Male')
('172', 'Raven Smith', 'sean67@example.com', '1964-10-12 00:00:00', 'Female')
('173', 'Dustin Lawrence', 'austinstuart@example.com', '1994-10-20 00:00:00', 'Female')
('174', 'Hailey Perez', 'tracey55@example.com', '1987-12-22 00:00:00', 'Female')
('175', 'Brittany Maxwell', 'rsummers@example.com', '1957-06-30 00:00:00', 'Male')
('176', 'Erica Ibarra', 'vneal@example.com', '1945-07-14 00:00:00', 'Male')
('177', 'Bryan Hughes', 'tiffany97@example.net', '1967-08-12 00:00:00', 'Male')
('178', 'Mary Howe', 'santosjesse@example.com', '1978-02-10 00:00:00', 'Female')
('179', 'Douglas Sparks', 'tammie27@example.org', '1985-03-28 00:00:00', 'Female')
('180', 'Kevin Lawrence', 'zunigajohnathan@example.com', '1995-09-14 00:00:00', 'Male')
('181', 'Brandy Cole', 'plee@example.org', '1985-05-11 00:00:00', 'Female')
('182', 'Thomas Gregory', 'gloria12@example.net', '1980-08-03 00:00:00', 'Male')
('183', 'Ashley Campbell', 'ulittle@example.net', '1981-03-12 00:00:00', 'Female')
('184', 'Jacqueline Jackson', 'coxgabriel@example.net', '1983-04-26 00:00:00', 'Female')
('185', 'James Livingston', 'karenarroyo@example.com', '1985-03-08 00:00:00', 'Female')
('186', 'Michele Baker', 'pittsbeth@example.org', '1977-09-20 00:00:00', 'Female')
('187', 'Jacob Fields', 'mooneychristine@example.net', '2002-03-25 00:00:00', 'Male')
('188', 'Hannah Bridges', 'johnmartin@example.org', '1969-07-11 00:00:00', 'Male')
('189', 'Richard Diaz', 'cpowers@example.net', '1992-09-04 00:00:00', 'Female')
('190', 'Drew Cordova', 'tanyaruiz@example.org', '1974-05-22 00:00:00', 'Female')
('191', 'Carol Hayden', 'larrycarlson@example.org', '1969-02-19 00:00:00', 'Male')
('192', 'Lori King', 'brettthomas@example.net', '1947-10-28 00:00:00', 'Male')
('193', 'Amanda Barton', 'lynchmatthew@example.org', '1958-05-08 00:00:00', 'Male')
('194', 'Rebecca Garcia', 'marymaynard@example.com', '1949-12-08 00:00:00', 'Male')
('195', 'Mark Carlson', 'akline@example.com', '1956-03-22 00:00:00', 'Male')
('196', 'Margaret Gould', 'bryan12@example.net', '1988-03-20 00:00:00', 'Male')
('197', 'Anthony Brown', 'michaelolsen@example.org', '1973-09-18 00:00:00', 'Male')
('198', 'Julie Charles', 'andreacrawford@example.net', '1951-06-26 00:00:00', 'Female')
('199', 'Ryan Thomas', 'reynoldschristopher@example.com', '1985-10-05 00:00:00', 'Male')
('200', 'Ronald Swanson', 'xwhite@example.net', '1962-02-03 00:00:00', 'Male')

In [168]:
db_filename = "../data/vaccination_db.sqlite"

try:
    conn = sqlite3.connect(db_filename)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = [row[0] for row in cursor.fetchall()]

    print("Tables in the database:")
    for table_name in table_names:
        print(table_name)

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        conn.close()

Tables in the database:
Users
Vaccines
Polyclinics
BookingSlots
VaccineRecords
VaccineStockInventory