# Dummy Data Preparation

In [187]:
import random
import sqlite3
from datetime import datetime, timedelta

import pandas as pd
from faker import Faker
from IPython.display import display

In [188]:
fake = Faker()

Note:

The `id` column will be in string. This is to mimic the real life scenario, whereby the ids may consist of characters.

## Users Table

In [189]:
# Function to generate a name-based email
def generate_email(name):
    name_parts = name.lower().split()
    email_username = ".".join(
        name_parts
    )  # Convert name to lowercase and join with dots
    email_domain = fake.free_email_domain()  # Use a real email domain
    return f"{email_username}@{email_domain}"


# Users Table
users_data = {
    "id": [str(i) for i in range(1, 201)],
    "name": [fake.name() for _ in range(200)],
}

# Generate emails based on names
users_data["email"] = [generate_email(name) for name in users_data["name"]]

# Generate other attributes
users_data["date_of_birth"] = [
    fake.date_of_birth(minimum_age=18, maximum_age=80) for _ in range(200)
]
users_data["gender"] = [
    fake.random_element(elements=["Male", "Female"]) for _ in range(200)
]

users_df = pd.DataFrame(users_data)

display(users_df)

      id              name                         email date_of_birth  gender
0      1   Olivia Sullivan     olivia.sullivan@yahoo.com    1999-06-14    Male
1      2      Lauren Sloan        lauren.sloan@yahoo.com    1974-04-30  Female
2      3  Tiffany Thompson  tiffany.thompson@hotmail.com    1964-09-02    Male
3      4     Sherry Foster       sherry.foster@gmail.com    1986-04-14  Female
4      5    Brandi Robbins    brandi.robbins@hotmail.com    2000-08-10    Male
..   ...               ...                           ...           ...     ...
195  196     Lori Reynolds     lori.reynolds@hotmail.com    1964-03-12  Female
196  197    Alicia Swanson      alicia.swanson@gmail.com    1953-07-28    Male
197  198     Alexis Malone       alexis.malone@yahoo.com    1982-12-13    Male
198  199       Tyler Lopez         tyler.lopez@gmail.com    2004-08-17  Female
199  200       Kelly Yates         kelly.yates@gmail.com    1981-03-16  Female

[200 rows x 5 columns]

In [190]:
# Check that the names are all unique
print(users_df["name"].nunique())

# Check that dates are in range
start_date = "1920-01-01"
end_date = "2025-03-01"

users_df["date_of_birth"] = pd.to_datetime(users_df["date_of_birth"])
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

is_in_range = (users_df["date_of_birth"] >= start_date) & (
    users_df["date_of_birth"] <= end_date
)

# check if the date is under range
if is_in_range.all():
    print("All date are in range")
else:
    print("Some dates are not in range")

200
All date are in range

## Vaccines Table

In [191]:
# Vaccine Table
vaccines_data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8],
    "name": [
        "Influenza (INF)",
        "Human Papillomavirus (HPV)",
        "Pneumococcal",
        "Human Immunodeficiency Viruses (HIV)",
        "Tetanus, Diphtheria, Pertussis (Tdap)",
        "Hepatitis B (HepB)",
        "Measles, Mumps, Rubella (MMR)",
        "Varicella (VAR)",
    ],
    "price": [9.0, 0.0, 16.0, 23.0, 10.0, 9.0, 9.0, 11.0],
    "doses_required": [2, 4, 1, 2, 1, 2, 1, 3],
    "age_criteria": [
        "18+ years old",
        "18+ years old",
        "65+ years old",
        "18-26 years old",
        "27-64 years old",
        "18+ years old",
        "18+ years old",
        "18+ years old",
    ],
    "gender_criteria": [
        "None",
        "None",
        "None",
        "Female",
        "Female",
        "None",
        "None",
        "None",
    ],
    # condition_crietria
}
vaccines_df = pd.DataFrame(vaccines_data)
vaccines_df["id"] = vaccines_df["id"].astype(str)
display(vaccines_df)

,id,name,price,doses_required,age_criteria,gender_criteria
0,1,Influenza (INF),9.0,2,18+ years old,None
1,2,Human Papillomavirus (HPV),0.0,4,18+ years old,None
2,3,Pneumococcal,16.0,1,65+ years old,None
3,4,Human Immunodeficiency Viruses (HIV),23.0,2,18-26 years old,Female
4,5,"Tetanus, Diphtheria, Pertussis (Tdap)",10.0,1,27-64 years old,Female
5,6,Hepatitis B (HepB),9.0,2,18+ years old,None
6,7,"Measles, Mumps, Rubella (MMR)",9.0,1,18+ years old,None
7,8,Varicella (VAR),11.0,3,18+ years old,None

## Polyclinics Table

In [192]:
# Polyclinic Table
polyclinics_data = {
    "id": [i for i in range(1, 31)],  # 30 polyclinics
    "name": [fake.company() + " Polyclinic" for _ in range(30)],
    "address": [fake.address() for _ in range(30)],
}
polyclinics_df = pd.DataFrame(polyclinics_data)
polyclinics_df["id"] = polyclinics_df["id"].astype(str)
display(polyclinics_df)

,id,name,address
0,1,"Santiago, Medina and Wright Polyclinic",3934 Delgado Shoals Apt. 944\nNorth Samanthabo...
1,2,Huber and Sons Polyclinic,"PSC 8694, Box 2014\nAPO AP 08638"
2,3,Hernandez and Sons Polyclinic,"104 Anna Isle Apt. 017\nPort Codyfurt, FL 22360"
3,4,"Weeks, Jensen and Phelps Polyclinic",5478 Stevens Junction Suite 574\nNorth Lancemo...
4,5,Moody-Wood Polyclinic,"5103 Stanley Parkway Suite 168\nWest Robert, N..."
5,6,Williams-Gonzalez Polyclinic,024 Bennett Prairie Suite 445\nChristopherbury...
6,7,Dodson Ltd Polyclinic,"9551 Sanchez Union Suite 508\nPerkinsmouth, AS..."
7,8,Mccormick Inc Polyclinic,"878 Brian Fork Suite 124\nThompsonfurt, ME 42573"
8,9,Meyers-Paul Polyclinic,"5661 Mitchell Ridges Apt. 145\nMillermouth, NE..."
9,10,Smith Group Polyclinic,"824 Greer Street Apt. 038\nWilcoxland, MN 99377"
10,11,Rogers-Wyatt Polyclinic,"22140 Kristy Knoll\nLake Robert, CA 65007"
11,12,Hansen LLC Polyclinic,"PSC 9131, Box 3519\nAPO AP 08843"
12,13,Avila-Sawyer Polyclinic,"70555 Henry Estates Suite 094\nDavisside, PR 1..."
13,14,Wilson-Smith Polyclinic,"60040 Isabel Ridges\nWest Michelleland, SC 59418"
14,15,Myers Group Polyclinic,"PSC 1854, Box 4578\nAPO AA 21878"
15,16,Robinson Group Polyclinic,"3784 Amy Stream Suite 132\nOlsonborough, NJ 20344"
16,17,Guerrero-Haley Polyclinic,"919 Rebecca Shore\nBriannamouth, MO 69408"
17,18,"Hunter, Johnson and Holden Polyclinic","4767 Flynn Camp\nCourtneychester, DE 26954"
18,19,Perez and Sons Polyclinic,"20945 Terri Squares\nPort Theresastad, MA 99248"
19,20,"Arnold, Mckenzie and Zhang Polyclinic","0833 Wanda Heights Apt. 212\nLake Jill, AR 20699"
20,21,"Robinson, Garcia and Elliott Polyclinic","8232 Tina Bypass\nTylermouth, NH 68216"
21,22,Rogers-Delgado Polyclinic,59740 Walls Tunnel Apt. 249\nSouth Michaelfort...
22,23,Gallegos Inc Polyclinic,"05536 Ross Club\nLake Jillian, IA 92097"
23,24,Torres and Sons Polyclinic,"4128 Valdez Parkway Suite 795\nElizabethhaven,..."
24,25,"Thomas, Ellis and Wilson Polyclinic","PSC 8024, Box 2732\nAPO AA 87052"
25,26,Ramos Ltd Polyclinic,"251 Lisa Unions Suite 245\nDouglasborough, VA ..."
26,27,"Schroeder, Santana and Berry Polyclinic","1974 Megan Plains\nEast Josephshire, FM 22873"
27,28,"Patterson, Porter and Alvarez Polyclinic","5166 Thomas Bridge Suite 581\nLake Megan, OR 8..."
28,29,Lewis Group Polyclinic,"8317 Jonathan Mission\nEast Jasminbury, KS 28688"
29,30,Pham-Cabrera Polyclinic,"56504 Jacob Wells\nPort Terrifurt, TN 27598"

In [193]:
# Check that the names are all unique
print(polyclinics_df["name"].nunique())

30

## Booking Slots Table

In [194]:
# 1 day: 5 slots
# 1 week (5 working days): 25 slots
# 30 polyclincs: 750
# Booking Slots Table

# Define the start and end dates for the range
start_date = datetime(2025, 3, 17)
end_date = datetime(2025, 3, 21)

# Booking Slots Table
booking_slots_data = {
    "id": [i for i in range(1, 751)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(750)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(750)],
    "slot_datetime": [
        # Generate random date between 17th March and 21st March
        (
            start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
        ).replace(
            hour=random.randint(9, 18),  # Random hour between 9 AM and 6 PM
            minute=0,  # Set minute to 0 for hourly slots
            second=0,  # Set second to 0
            microsecond=0,  # Set microsecond to 0
        )
        for _ in range(750)
    ],
    "is_booked": [random.choice([True, False]) for _ in range(750)],
}

booking_slots_df = pd.DataFrame(booking_slots_data)
booking_slots_df["id"] = booking_slots_df["id"].astype(str)
display(booking_slots_df)

      id  polyclinic_id  vaccine_id       slot_datetime  is_booked
0      1             28           3 2025-03-21 17:00:00       True
1      2              5           7 2025-03-17 15:00:00       True
2      3             30           1 2025-03-21 16:00:00      False
3      4             30           1 2025-03-19 18:00:00       True
4      5             16           2 2025-03-21 16:00:00      False
..   ...            ...         ...                 ...        ...
745  746              7           2 2025-03-20 15:00:00      False
746  747             11           7 2025-03-19 09:00:00       True
747  748             24           2 2025-03-21 15:00:00      False
748  749             27           2 2025-03-18 11:00:00       True
749  750             19           3 2025-03-19 13:00:00       True

[750 rows x 5 columns]

In [195]:
# Assign user_id only for booked slots
unique_bookings = set()  # To ensure uniqueness
user_ids = list(range(1, 201))  # User IDs from 1 to 200


def assign_user_id(row):
    if row["is_booked"]:
        random.shuffle(user_ids)  # Shuffle to randomize selection
        for user_id in user_ids:
            key = (row["polyclinic_id"], row["slot_datetime"], user_id)
            if key not in unique_bookings:
                unique_bookings.add(key)
                return str(user_id)
    return "None"


booking_slots_df["user_id"] = booking_slots_df.apply(assign_user_id, axis=1)
booking_slots_df["polyclinic_id"] = booking_slots_df["polyclinic_id"].astype(str)
booking_slots_df["vaccine_id"] = booking_slots_df["vaccine_id"].astype(str)
# Display the DataFrame
display(booking_slots_df)

      id polyclinic_id vaccine_id       slot_datetime  is_booked user_id
0      1            28          3 2025-03-21 17:00:00       True      30
1      2             5          7 2025-03-17 15:00:00       True      99
2      3            30          1 2025-03-21 16:00:00      False    None
3      4            30          1 2025-03-19 18:00:00       True      40
4      5            16          2 2025-03-21 16:00:00      False    None
..   ...           ...        ...                 ...        ...     ...
745  746             7          2 2025-03-20 15:00:00      False    None
746  747            11          7 2025-03-19 09:00:00       True     137
747  748            24          2 2025-03-21 15:00:00      False    None
748  749            27          2 2025-03-18 11:00:00       True      57
749  750            19          3 2025-03-19 13:00:00       True      33

[750 rows x 6 columns]

In [196]:
# Check balance
booking_slots_df["is_booked"].value_counts()

is_booked
True     376
False    374
Name: count, dtype: int64

## Vaccine Records Table

In [197]:
# Vaccine Records Table
vaccine_records_data = {
    "id": [i for i in range(1, 501)],
    "user_id": [random.choice(users_data["id"]) for _ in range(500)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(500)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(500)],
    "vaccination_date": [fake.date_this_year() for _ in range(500)],
}
vaccine_records_df = pd.DataFrame(vaccine_records_data)
vaccine_records_df["id"] = vaccine_records_df["id"].astype(str)
vaccine_records_df["user_id"] = vaccine_records_df["user_id"].astype(str)
vaccine_records_df["vaccine_id"] = vaccine_records_df["vaccine_id"].astype(str)
vaccine_records_df["polyclinic_id"] = vaccine_records_df["polyclinic_id"].astype(str)
display(vaccine_records_df)

      id user_id vaccine_id polyclinic_id vaccination_date
0      1      48          8            20       2025-02-05
1      2     116          8            16       2025-01-03
2      3     117          2            29       2025-03-13
3      4      53          2            28       2025-02-18
4      5      88          7            13       2025-01-13
..   ...     ...        ...           ...              ...
495  496     144          5            21       2025-03-11
496  497     152          4            30       2025-02-03
497  498     182          3            22       2025-03-11
498  499      87          8             7       2025-03-03
499  500      77          7            23       2025-01-20

[500 rows x 5 columns]

In [198]:
print(type(vaccine_records_df.iloc[0]["id"]))
print(type(vaccine_records_df.iloc[0]["user_id"]))
print(type(vaccine_records_df.iloc[0]["vaccine_id"]))
print(type(vaccine_records_df.iloc[0]["polyclinic_id"]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## Vaccine Stock Inventory Table

In [199]:
# 30 polyclinics
# 8 vaccines
# Vaccine Stock Inventory Table
# Number of records
total_records = 200

# Initialize a list to hold the vaccine stock data
vaccine_stock_data = {
    "id": [],
    "polyclinic_id": [],
    "vaccine_id": [],
    "stock_quantity": [],
}

# Initialize a set to track unique (polyclinic_id, vaccine_id) combinations
existing_combinations = set()

id_counter = 1

# Loop to create 200 records with random vaccine availability
while len(vaccine_stock_data["polyclinic_id"]) < total_records:
    polyclinic = random.choice(polyclinics_df["id"])  # Randomly choose a polyclinic
    available_vaccines = random.sample(
        vaccines_df["id"].tolist(), random.randint(1, len(vaccines_df))
    )  # Randomly pick some vaccines for the polyclinic

    for vaccine in available_vaccines:
        # Ensure the (polyclinic_id, vaccine_id) combination is unique
        combination = (polyclinic, vaccine)
        if combination not in existing_combinations:
            vaccine_stock_data["id"].append(id_counter)
            vaccine_stock_data["polyclinic_id"].append(polyclinic)  # Polyclinic ID
            vaccine_stock_data["vaccine_id"].append(vaccine)  # Vaccine ID
            vaccine_stock_data["stock_quantity"].append(
                random.randint(50, 200)
            )  # Random stock quantity
            existing_combinations.add(combination)  # Track the combination
            id_counter += 1  # Increment ID

# Convert to DataFrame
vaccine_stock_df = pd.DataFrame(vaccine_stock_data)
vaccine_stock_df["id"] = vaccine_stock_df["id"].astype(str)
# Display the resulting DataFrame
display(vaccine_stock_df)

      id polyclinic_id vaccine_id  stock_quantity
0      1            27          3             179
1      2            27          8             154
2      3            27          1              53
3      4            17          1             129
4      5            17          3              93
..   ...           ...        ...             ...
195  196            13          8             125
196  197            24          7             188
197  198            24          5              65
198  199            24          6             185
199  200            28          1             161

[200 rows x 4 columns]

In [200]:
# Group the dataframe by polyclinic_id and vaccine_id and count occurrences
grouped = (
    vaccine_stock_df.groupby(["polyclinic_id", "vaccine_id"])
    .size()
    .reset_index(name="count")
)

# Check if any combination appears more than once
duplicates = grouped[grouped["count"] > 1]

# Display the duplicates if any
if not duplicates.empty:
    print("Found duplicate entries:")
    display(duplicates)
else:
    print("All polyclinic_id and vaccine_id combinations are unique.")

All polyclinic_id and vaccine_id combinations are unique.

## Insert Vaccination Data into SQLite Database

Remember to delete the existing SQLite file before running the cell below.

In [201]:
# Define SQLite database file path again
sqlite_db_path = "../data/vaccination_db.sqlite"

# Reconnect to SQLite database
conn = sqlite3.connect(sqlite_db_path)
cursor = conn.cursor()


# Function to insert DataFrame data into SQLite
def insert_csv_to_sqlite(
    csv_data: pd.DataFrame, table_name: str, conn: sqlite3.Connection
):
    csv_data.to_sql(table_name, conn, if_exists="append", index=False)


# Insert data into SQLite tables
insert_csv_to_sqlite(users_df, "Users", conn)
insert_csv_to_sqlite(vaccines_df, "Vaccines", conn)
insert_csv_to_sqlite(polyclinics_df, "Polyclinics", conn)
insert_csv_to_sqlite(booking_slots_df, "BookingSlots", conn)
insert_csv_to_sqlite(vaccine_records_df, "VaccineRecords", conn)
insert_csv_to_sqlite(vaccine_stock_df, "VaccineStockInventory", conn)

# Commit changes and close connection
conn.commit()
conn.close()

## Query SQLite Database

In [202]:
conn = sqlite3.connect("../data/vaccination_db.sqlite")
cursor = conn.cursor()

In [203]:
# Example: Fetch all users
cursor.execute("SELECT * FROM Users")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

('1', 'Olivia Sullivan', 'olivia.sullivan@yahoo.com', '1999-06-14 00:00:00', 'Male')
('2', 'Lauren Sloan', 'lauren.sloan@yahoo.com', '1974-04-30 00:00:00', 'Female')
('3', 'Tiffany Thompson', 'tiffany.thompson@hotmail.com', '1964-09-02 00:00:00', 'Male')
('4', 'Sherry Foster', 'sherry.foster@gmail.com', '1986-04-14 00:00:00', 'Female')
('5', 'Brandi Robbins', 'brandi.robbins@hotmail.com', '2000-08-10 00:00:00', 'Male')
('6', 'Mr. Nicholas Nelson', 'mr..nicholas.nelson@yahoo.com', '1966-11-01 00:00:00', 'Female')
('7', 'April Knight', 'april.knight@hotmail.com', '1961-11-15 00:00:00', 'Male')
('8', 'Sheila West', 'sheila.west@yahoo.com', '1953-05-15 00:00:00', 'Male')
('9', 'Lisa Oliver', 'lisa.oliver@yahoo.com', '1993-02-06 00:00:00', 'Male')
('10', 'Gerald Perkins', 'gerald.perkins@gmail.com', '1954-12-12 00:00:00', 'Female')
('11', 'Anita Reed', 'anita.reed@yahoo.com', '1995-12-07 00:00:00', 'Male')
('12', 'Kristin Griffin', 'kristin.griffin@hotmail.com', '1960-06-07 00:00:00', 'Male')
('13', 'Elizabeth Jefferson', 'elizabeth.jefferson@yahoo.com', '1947-05-21 00:00:00', 'Male')
('14', 'Michael King', 'michael.king@hotmail.com', '1950-11-05 00:00:00', 'Female')
('15', 'Elizabeth Russell', 'elizabeth.russell@gmail.com', '1948-04-29 00:00:00', 'Female')
('16', 'Ashley Thomas', 'ashley.thomas@gmail.com', '1971-11-24 00:00:00', 'Female')
('17', 'Brittany Lopez', 'brittany.lopez@yahoo.com', '1981-04-23 00:00:00', 'Male')
('18', 'Diane Williams', 'diane.williams@yahoo.com', '2003-05-05 00:00:00', 'Female')
('19', 'Jennifer Kane', 'jennifer.kane@yahoo.com', '1987-09-11 00:00:00', 'Male')
('20', 'Carolyn Alvarez', 'carolyn.alvarez@yahoo.com', '1947-05-14 00:00:00', 'Female')
('21', 'Kristina Nelson', 'kristina.nelson@gmail.com', '1986-11-15 00:00:00', 'Female')
('22', 'Sharon Padilla', 'sharon.padilla@gmail.com', '1974-10-06 00:00:00', 'Male')
('23', 'Michelle Mcdonald', 'michelle.mcdonald@gmail.com', '1991-05-27 00:00:00', 'Female')
('24', 'Katie Tran', 'katie.tran@yahoo.com', '2000-01-02 00:00:00', 'Female')
('25', 'Stephanie Gonzalez', 'stephanie.gonzalez@gmail.com', '1951-04-29 00:00:00', 'Female')
('26', 'Brandi Hahn', 'brandi.hahn@hotmail.com', '1951-06-07 00:00:00', 'Male')
('27', 'Lori Reyes', 'lori.reyes@yahoo.com', '1999-10-27 00:00:00', 'Male')
('28', 'Brandon Gutierrez', 'brandon.gutierrez@yahoo.com', '1947-08-05 00:00:00', 'Male')
('29', 'Beth Hicks', 'beth.hicks@hotmail.com', '1991-05-03 00:00:00', 'Female')
('30', 'Heather Gardner', 'heather.gardner@gmail.com', '1974-05-28 00:00:00', 'Female')
('31', 'Dustin Drake', 'dustin.drake@yahoo.com', '1998-10-25 00:00:00', 'Male')
('32', 'Mr. Tyler Harris', 'mr..tyler.harris@gmail.com', '1960-11-25 00:00:00', 'Female')
('33', 'Shannon Wilson', 'shannon.wilson@hotmail.com', '1974-12-14 00:00:00', 'Male')
('34', 'Michael Frazier', 'michael.frazier@gmail.com', '2006-06-10 00:00:00', 'Male')
('35', 'Deborah Klein', 'deborah.klein@hotmail.com', '2004-01-10 00:00:00', 'Male')
('36', 'Sue Johnson', 'sue.johnson@yahoo.com', '1977-02-05 00:00:00', 'Female')
('37', 'Megan Torres', 'megan.torres@yahoo.com', '1999-10-06 00:00:00', 'Male')
('38', 'Kim Hayes', 'kim.hayes@gmail.com', '2004-03-11 00:00:00', 'Female')
('39', 'Tammy Guzman', 'tammy.guzman@hotmail.com', '1987-06-09 00:00:00', 'Female')
('40', 'Diane Russell', 'diane.russell@gmail.com', '1953-07-08 00:00:00', 'Female')
('41', 'Timothy Jones', 'timothy.jones@yahoo.com', '1993-08-07 00:00:00', 'Male')
('42', 'Pam Schwartz', 'pam.schwartz@gmail.com', '1999-09-01 00:00:00', 'Male')
('43', 'Emily Olsen', 'emily.olsen@yahoo.com', '1947-11-12 00:00:00', 'Male')
('44', 'Brian Reed', 'brian.reed@gmail.com', '1969-07-11 00:00:00', 'Male')
('45', 'Taylor Mcdonald', 'taylor.mcdonald@yahoo.com', '1969-11-03 00:00:00', 'Male')
('46', 'Robert Adams', 'robert.adams@gmail.com', '1959-01-01 00:00:00', 'Male')
('47', 'Darius Scott', 'darius.scott@gmail.com', '1953-09-23 00:00:00', 'Male')
('48', 'Andrew Roberts', 'andrew.roberts@yahoo.com', '1966-08-15 00:00:00', 'Female')
('49', 'Mary Rhodes MD', 'mary.rhodes.md@gmail.com', '1962-12-11 00:00:00', 'Female')
('50', 'Anne Sampson', 'anne.sampson@gmail.com', '2001-12-13 00:00:00', 'Male')
('51', 'Thomas Reyes', 'thomas.reyes@gmail.com', '1954-12-30 00:00:00', 'Female')
('52', 'Laura Johnson', 'laura.johnson@hotmail.com', '2003-11-23 00:00:00', 'Male')
('53', 'Anita Phelps', 'anita.phelps@gmail.com', '1993-12-24 00:00:00', 'Female')
('54', 'Deborah Hudson', 'deborah.hudson@hotmail.com', '1982-06-24 00:00:00', 'Male')
('55', 'Carrie Rogers', 'carrie.rogers@gmail.com', '1964-12-29 00:00:00', 'Female')
('56', 'Brianna Craig', 'brianna.craig@yahoo.com', '1975-12-28 00:00:00', 'Male')
('57', 'Marc Stone', 'marc.stone@yahoo.com', '1979-08-13 00:00:00', 'Male')
('58', 'Jennifer Warren', 'jennifer.warren@gmail.com', '1976-01-05 00:00:00', 'Female')
('59', 'Jacqueline Lucero', 'jacqueline.lucero@yahoo.com', '1999-09-28 00:00:00', 'Male')
('60', 'Lisa Snyder', 'lisa.snyder@yahoo.com', '1983-02-19 00:00:00', 'Male')
('61', 'Amanda Sloan', 'amanda.sloan@yahoo.com', '1948-05-10 00:00:00', 'Female')
('62', 'Teresa Cooper', 'teresa.cooper@gmail.com', '1960-04-21 00:00:00', 'Male')
('63', 'Jennifer Lynch', 'jennifer.lynch@yahoo.com', '2006-08-25 00:00:00', 'Male')
('64', 'Ricky Thomas', 'ricky.thomas@gmail.com', '1998-04-07 00:00:00', 'Male')
('65', 'Johnny Thomas', 'johnny.thomas@gmail.com', '1984-02-08 00:00:00', 'Female')
('66', 'Andrew Nelson', 'andrew.nelson@yahoo.com', '1992-04-05 00:00:00', 'Male')
('67', 'Kimberly Miller', 'kimberly.miller@hotmail.com', '1987-04-11 00:00:00', 'Female')
('68', 'Kristen Johnson', 'kristen.johnson@yahoo.com', '1944-12-02 00:00:00', 'Male')
('69', 'Dana Welch', 'dana.welch@hotmail.com', '2004-02-22 00:00:00', 'Female')
('70', 'Sheila Jones', 'sheila.jones@gmail.com', '1984-08-29 00:00:00', 'Female')
('71', 'Jamie Brown', 'jamie.brown@yahoo.com', '2002-02-28 00:00:00', 'Male')
('72', 'Angela Bowman', 'angela.bowman@gmail.com', '2001-10-18 00:00:00', 'Female')
('73', 'Matthew Curry', 'matthew.curry@hotmail.com', '1991-05-07 00:00:00', 'Male')
('74', 'Jason Figueroa', 'jason.figueroa@hotmail.com', '1979-11-05 00:00:00', 'Male')
('75', 'Tonya Campbell', 'tonya.campbell@gmail.com', '1947-12-12 00:00:00', 'Female')
('76', 'Tiffany Salas', 'tiffany.salas@yahoo.com', '2005-07-28 00:00:00', 'Female')
('77', 'Jennifer Cannon', 'jennifer.cannon@hotmail.com', '1959-04-21 00:00:00', 'Female')
('78', 'Lisa Ramos', 'lisa.ramos@hotmail.com', '1994-06-02 00:00:00', 'Female')
('79', 'Cody Peters', 'cody.peters@yahoo.com', '1964-07-05 00:00:00', 'Male')
('80', 'Thomas Bender', 'thomas.bender@yahoo.com', '1952-03-28 00:00:00', 'Female')
('81', 'Dr. Patricia Moyer', 'dr..patricia.moyer@gmail.com', '1986-10-29 00:00:00', 'Female')
('82', 'Christina Mann', 'christina.mann@yahoo.com', '1978-03-08 00:00:00', 'Male')
('83', 'Brian Brooks', 'brian.brooks@gmail.com', '1993-06-13 00:00:00', 'Male')
('84', 'Michael Gonzalez', 'michael.gonzalez@yahoo.com', '1944-07-21 00:00:00', 'Male')
('85', 'Melissa Dodson', 'melissa.dodson@gmail.com', '1981-02-28 00:00:00', 'Female')
('86', 'James Olsen', 'james.olsen@gmail.com', '1978-01-07 00:00:00', 'Male')
('87', 'Charles Baxter', 'charles.baxter@gmail.com', '1997-07-16 00:00:00', 'Female')
('88', 'Laura Williams', 'laura.williams@hotmail.com', '1984-12-29 00:00:00', 'Female')
('89', 'Jose Smith', 'jose.smith@gmail.com', '1978-05-03 00:00:00', 'Female')
('90', 'Mrs. Diana Terry', 'mrs..diana.terry@hotmail.com', '2001-03-21 00:00:00', 'Female')
('91', 'Barbara Barnes', 'barbara.barnes@yahoo.com', '1982-03-19 00:00:00', 'Male')
('92', 'Kenneth Schaefer', 'kenneth.schaefer@yahoo.com', '1986-08-19 00:00:00', 'Female')
('93', 'James Le', 'james.le@yahoo.com', '1980-01-17 00:00:00', 'Male')
('94', 'Heather Lewis', 'heather.lewis@hotmail.com', '2004-07-21 00:00:00', 'Male')
('95', 'Samantha Chang', 'samantha.chang@hotmail.com', '1950-08-07 00:00:00', 'Female')
('96', 'Deborah Bright', 'deborah.bright@yahoo.com', '1994-08-13 00:00:00', 'Male')
('97', 'Phillip Mayer', 'phillip.mayer@hotmail.com', '1944-06-01 00:00:00', 'Male')
('98', 'Jason Cox', 'jason.cox@yahoo.com', '1947-12-07 00:00:00', 'Male')
('99', 'Michael Sullivan', 'michael.sullivan@yahoo.com', '1986-07-02 00:00:00', 'Female')
('100', 'Theresa Foley', 'theresa.foley@hotmail.com', '1975-10-12 00:00:00', 'Male')
('101', 'Sherry Taylor', 'sherry.taylor@yahoo.com', '1989-11-25 00:00:00', 'Male')
('102', 'Michael Good', 'michael.good@hotmail.com', '1999-09-13 00:00:00', 'Male')
('103', 'Jonathan Khan', 'jonathan.khan@gmail.com', '1995-09-07 00:00:00', 'Female')
('104', 'Barbara Herrera MD', 'barbara.herrera.md@gmail.com', '1945-06-26 00:00:00', 'Male')
('105', 'Lindsey Banks', 'lindsey.banks@yahoo.com', '1967-08-06 00:00:00', 'Female')
('106', 'Jessica Hoffman', 'jessica.hoffman@gmail.com', '2004-03-14 00:00:00', 'Male')
('107', 'Mark Scott', 'mark.scott@gmail.com', '1986-02-21 00:00:00', 'Female')
('108', 'Anthony Wallace', 'anthony.wallace@hotmail.com', '1954-11-07 00:00:00', 'Female')
('109', 'Mary Velasquez', 'mary.velasquez@yahoo.com', '1990-07-09 00:00:00', 'Female')
('110', 'Brandon Cole', 'brandon.cole@yahoo.com', '1960-05-28 00:00:00', 'Female')
('111', 'Samuel Page', 'samuel.page@gmail.com', '1944-07-04 00:00:00', 'Female')
('112', 'Kenneth Lutz', 'kenneth.lutz@gmail.com', '2001-09-18 00:00:00', 'Female')
('113', 'Mr. Juan Wallace', 'mr..juan.wallace@hotmail.com', '1992-09-15 00:00:00', 'Female')
('114', 'Christopher Kim', 'christopher.kim@gmail.com', '1963-05-26 00:00:00', 'Female')
('115', 'Erika Wright', 'erika.wright@hotmail.com', '1971-08-11 00:00:00', 'Female')
('116', 'Elizabeth Clark', 'elizabeth.clark@hotmail.com', '1953-03-20 00:00:00', 'Male')
('117', 'Austin Perry', 'austin.perry@gmail.com', '1971-03-27 00:00:00', 'Female')
('118', 'Sarah Davis', 'sarah.davis@yahoo.com', '1953-03-28 00:00:00', 'Female')
('119', 'Allison Watson', 'allison.watson@yahoo.com', '1982-07-04 00:00:00', 'Female')
('120', 'Jonathan Miller', 'jonathan.miller@yahoo.com', '1950-11-15 00:00:00', 'Female')
('121', 'Heather Hale', 'heather.hale@hotmail.com', '1983-03-18 00:00:00', 'Male')
('122', 'Cameron Ramsey', 'cameron.ramsey@gmail.com', '1957-01-17 00:00:00', 'Male')
('123', 'Mr. Jesse Ortiz', 'mr..jesse.ortiz@yahoo.com', '1960-07-13 00:00:00', 'Male')
('124', 'Paul Moore', 'paul.moore@hotmail.com', '2002-09-06 00:00:00', 'Male')
('125', 'Yolanda Hamilton MD', 'yolanda.hamilton.md@hotmail.com', '1977-09-13 00:00:00', 'Female')
('126', 'Jerry Munoz', 'jerry.munoz@hotmail.com', '1984-12-22 00:00:00', 'Male')
('127', 'Lisa Stephens', 'lisa.stephens@gmail.com', '1969-04-26 00:00:00', 'Female')
('128', 'Brian Melendez', 'brian.melendez@yahoo.com', '1969-06-08 00:00:00', 'Male')
('129', 'Chris Velazquez', 'chris.velazquez@hotmail.com', '1948-08-01 00:00:00', 'Male')
('130', 'Brandi Ramirez', 'brandi.ramirez@hotmail.com', '1962-08-10 00:00:00', 'Male')
('131', 'Joan Foster', 'joan.foster@gmail.com', '1964-12-29 00:00:00', 'Female')
('132', 'Leah Torres', 'leah.torres@gmail.com', '2002-06-25 00:00:00', 'Female')
('133', 'Julie Payne DDS', 'julie.payne.dds@yahoo.com', '1951-10-04 00:00:00', 'Female')
('134', 'Renee Bradley', 'renee.bradley@hotmail.com', '1970-12-09 00:00:00', 'Male')
('135', 'Sherry Stevenson', 'sherry.stevenson@hotmail.com', '2001-04-25 00:00:00', 'Male')
('136', 'Timothy Fernandez', 'timothy.fernandez@hotmail.com', '1952-06-20 00:00:00', 'Male')
('137', 'Steven Anderson', 'steven.anderson@hotmail.com', '1982-12-19 00:00:00', 'Female')
('138', 'Robert Zamora', 'robert.zamora@hotmail.com', '1969-12-04 00:00:00', 'Female')
('139', 'William Russell', 'william.russell@yahoo.com', '1964-08-06 00:00:00', 'Female')
('140', 'Anna Rodriguez', 'anna.rodriguez@yahoo.com', '1952-08-12 00:00:00', 'Female')
('141', 'Bradley Mejia', 'bradley.mejia@hotmail.com', '1977-07-28 00:00:00', 'Female')
('142', 'Tanya Bartlett', 'tanya.bartlett@gmail.com', '1970-09-05 00:00:00', 'Female')
('143', 'Aaron Hudson', 'aaron.hudson@hotmail.com', '1960-08-10 00:00:00', 'Female')
('144', 'Daniel Callahan', 'daniel.callahan@gmail.com', '1952-09-08 00:00:00', 'Female')
('145', 'Timothy Bautista', 'timothy.bautista@yahoo.com', '1964-06-21 00:00:00', 'Female')
('146', 'Valerie Orozco', 'valerie.orozco@hotmail.com', '1997-06-16 00:00:00', 'Male')
('147', 'Melinda Schmidt', 'melinda.schmidt@yahoo.com', '1953-06-22 00:00:00', 'Male')
('148', 'Alison Davies', 'alison.davies@yahoo.com', '1958-06-11 00:00:00', 'Male')
('149', 'Jennifer Martinez', 'jennifer.martinez@yahoo.com', '1964-05-10 00:00:00', 'Male')
('150', 'Nicholas Robinson', 'nicholas.robinson@yahoo.com', '1988-05-01 00:00:00', 'Male')
('151', 'Paul Lawson', 'paul.lawson@yahoo.com', '2003-12-12 00:00:00', 'Male')
('152', 'Phillip Adams', 'phillip.adams@hotmail.com', '1950-10-31 00:00:00', 'Female')
('153', 'Gregory Cruz', 'gregory.cruz@yahoo.com', '1994-05-31 00:00:00', 'Female')
('154', 'Renee Travis', 'renee.travis@gmail.com', '1952-05-29 00:00:00', 'Female')
('155', 'Debra Nolan', 'debra.nolan@hotmail.com', '1992-08-01 00:00:00', 'Male')
('156', 'Nicole Duncan', 'nicole.duncan@gmail.com', '1949-09-26 00:00:00', 'Male')
('157', 'Rachel Webster', 'rachel.webster@yahoo.com', '2004-08-09 00:00:00', 'Male')
('158', 'Jeremy King', 'jeremy.king@yahoo.com', '1993-12-20 00:00:00', 'Male')
('159', 'James Mills', 'james.mills@gmail.com', '2002-12-31 00:00:00', 'Female')
('160', 'Darrell Castaneda', 'darrell.castaneda@yahoo.com', '1945-10-31 00:00:00', 'Female')
('161', 'Samantha Nelson', 'samantha.nelson@gmail.com', '1951-02-08 00:00:00', 'Female')
('162', 'Kaitlyn Owens', 'kaitlyn.owens@yahoo.com', '1962-02-26 00:00:00', 'Female')
('163', 'Tanner Smith', 'tanner.smith@yahoo.com', '1968-05-08 00:00:00', 'Female')
('164', 'Mrs. Kathryn Brown', 'mrs..kathryn.brown@yahoo.com', '2001-04-04 00:00:00', 'Female')
('165', 'Lisa Gates', 'lisa.gates@gmail.com', '1956-05-27 00:00:00', 'Female')
('166', 'Jared Moore PhD', 'jared.moore.phd@hotmail.com', '1944-04-02 00:00:00', 'Male')
('167', 'Trevor Salinas', 'trevor.salinas@gmail.com', '1983-06-15 00:00:00', 'Female')
('168', 'Stephen Lozano', 'stephen.lozano@gmail.com', '1996-09-22 00:00:00', 'Male')
('169', 'Lindsey Schroeder', 'lindsey.schroeder@hotmail.com', '2005-12-30 00:00:00', 'Female')
('170', 'Brenda Velazquez', 'brenda.velazquez@hotmail.com', '1981-06-22 00:00:00', 'Female')
('171', 'Sarah Hamilton', 'sarah.hamilton@hotmail.com', '1984-01-07 00:00:00', 'Male')
('172', 'Bailey Bates', 'bailey.bates@gmail.com', '1965-06-17 00:00:00', 'Male')
('173', 'Joshua Foster', 'joshua.foster@gmail.com', '1998-02-07 00:00:00', 'Female')
('174', 'Nicole Miller', 'nicole.miller@hotmail.com', '1949-07-03 00:00:00', 'Female')
('175', 'Mark Porter', 'mark.porter@hotmail.com', '1959-09-10 00:00:00', 'Male')
('176', 'Reginald Lopez', 'reginald.lopez@gmail.com', '1977-10-11 00:00:00', 'Male')
('177', 'Patty Garza', 'patty.garza@yahoo.com', '1948-05-04 00:00:00', 'Female')
('178', 'Susan Alvarado', 'susan.alvarado@hotmail.com', '1978-08-16 00:00:00', 'Male')
('179', 'William Bishop', 'william.bishop@hotmail.com', '1991-01-02 00:00:00', 'Male')
('180', 'Norman Andrews', 'norman.andrews@yahoo.com', '1982-05-17 00:00:00', 'Male')
('181', 'Jean Carroll', 'jean.carroll@hotmail.com', '1952-11-01 00:00:00', 'Male')
('182', 'Sarah Christensen', 'sarah.christensen@gmail.com', '1945-12-15 00:00:00', 'Female')
('183', 'Nicole Jimenez', 'nicole.jimenez@hotmail.com', '1977-07-03 00:00:00', 'Female')
('184', 'Jennifer Patel', 'jennifer.patel@hotmail.com', '2001-02-01 00:00:00', 'Female')
('185', 'Pamela Jones', 'pamela.jones@hotmail.com', '1947-12-19 00:00:00', 'Female')
('186', 'David Barker', 'david.barker@hotmail.com', '1994-08-21 00:00:00', 'Male')
('187', 'Kristina Young', 'kristina.young@gmail.com', '1958-04-26 00:00:00', 'Male')
('188', 'Randall Yang', 'randall.yang@hotmail.com', '1978-02-01 00:00:00', 'Female')
('189', 'Michael Johnson', 'michael.johnson@hotmail.com', '2000-06-18 00:00:00', 'Female')
('190', 'Anthony Burns', 'anthony.burns@hotmail.com', '1947-01-20 00:00:00', 'Male')
('191', 'Kevin Bennett', 'kevin.bennett@hotmail.com', '1976-11-04 00:00:00', 'Female')
('192', 'James Huang', 'james.huang@yahoo.com', '1990-07-05 00:00:00', 'Female')
('193', 'Rachel Hall', 'rachel.hall@gmail.com', '1991-08-10 00:00:00', 'Female')
('194', 'Jeffrey Vaughn', 'jeffrey.vaughn@hotmail.com', '1950-05-27 00:00:00', 'Female')
('195', 'Dustin Brown', 'dustin.brown@hotmail.com', '1964-04-27 00:00:00', 'Female')
('196', 'Lori Reynolds', 'lori.reynolds@hotmail.com', '1964-03-12 00:00:00', 'Female')
('197', 'Alicia Swanson', 'alicia.swanson@gmail.com', '1953-07-28 00:00:00', 'Male')
('198', 'Alexis Malone', 'alexis.malone@yahoo.com', '1982-12-13 00:00:00', 'Male')
('199', 'Tyler Lopez', 'tyler.lopez@gmail.com', '2004-08-17 00:00:00', 'Female')
('200', 'Kelly Yates', 'kelly.yates@gmail.com', '1981-03-16 00:00:00', 'Female')

In [204]:
db_filename = "../data/vaccination_db.sqlite"

try:
    conn = sqlite3.connect(db_filename)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = [row[0] for row in cursor.fetchall()]

    print("Tables in the database:")
    for table_name in table_names:
        print(table_name)

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        conn.close()

Tables in the database:
Users
Vaccines
Polyclinics
BookingSlots
VaccineRecords
VaccineStockInventory