# Dummy Data Preparation

In [61]:
import random
import re
import sqlite3
from datetime import datetime, timedelta

import pandas as pd
from faker import Faker
from IPython.display import display

In [62]:
fake = Faker()

Note:

The `id` column will be in string. This is to mimic the real life scenario, whereby the ids may consist of characters.

## Users Table

In [63]:
# Regex pattern for nric
nric_regex = r"[STFGM]\d{7}[A-Z]"


def generate_nric(dob):
    year = dob.year
    year_suffix = str(year % 100).zfill(2)  # Extract last two digits of the year
    serial_number = str(random.randint(10000, 99999))  # Ensure exactly 7 digits
    checksum = random.choice("ABCDEFGHIJKLMNOPQRSTUVWXYZ")  # Random letter for checksum

    # Determine prefix based on birth year
    prefix = "S" if year < 2000 else "T"

    sample_nric = f"{prefix}{year_suffix}{serial_number}{checksum}"

    # Validate against regex before returning
    if not re.fullmatch(nric_regex, sample_nric):
        raise ValueError(
            f"Generated nric '{sample_nric}' does not match expected pattern."
        )

    return sample_nric


def generate_email(first_name, last_name):
    email_username = f"{first_name.lower()}.{last_name.lower()}"
    email_domain = fake.free_email_domain()  # Use a real email domain
    return f"{email_username}@{email_domain}"

In [64]:
# Users Table
users_data = {
    "nric": [],
    "first_name": [],
    "last_name": [],
    "email": [],
    "date_of_birth": [],
    "gender": [],
}

# Gender (50% Male and 50% Female)
users_data["gender"] = ["Male" if i % 2 == 0 else "Female" for i in range(200)]
# Gender-specific names based on the gender
for gender in users_data["gender"]:
    if gender == "Male":
        first_name = fake.first_name_male()
        last_name = fake.last_name()  # Last name is gender-neutral
    else:
        first_name = fake.first_name_female()
        last_name = fake.last_name()  # Last name is gender-neutral

    # Append to the lists
    users_data["first_name"].append(first_name)
    users_data["last_name"].append(last_name)

# Date of Birth
users_data["date_of_birth"] = [
    fake.date_of_birth(minimum_age=18, maximum_age=80) for _ in range(200)
]
# NRIC based on date of birth
dob_list = users_data["date_of_birth"]
users_data["nric"] = [generate_nric(dob) for dob in dob_list]

# Emails based on first and last name
users_data["email"] = [
    generate_email(first_name, last_name)
    for first_name, last_name in zip(users_data["first_name"], users_data["last_name"])
]

# Create DataFrame
users_df = pd.DataFrame(users_data)

# Verify all nrics match the expected pattern
if all(re.fullmatch(nric_regex, nric) for nric in users_df["nric"]):
    print("All nrics match the expected format.")
else:
    print("Some nrics do not match the expected format.")
    print(
        users_df.loc[~users_df["nric"].str.match(nric_regex), ["nric"]]
    )  # Show incorrect nrics

display(users_df)

All nrics match the expected format.

,nric,first_name,last_name,email,date_of_birth,gender
0,T0559380W,Jordan,Johnson,jordan.johnson@hotmail.com,2005-11-21,Male
1,S7835832Z,Michelle,Price,michelle.price@gmail.com,1978-03-31,Female
2,S5149482R,William,Murphy,william.murphy@gmail.com,1951-08-10,Male
3,S8833428Z,Dawn,Robinson,dawn.robinson@gmail.com,1988-06-19,Female
4,S5289849B,Troy,Mcintyre,troy.mcintyre@yahoo.com,1952-03-11,Male
...,...,...,...,...,...,...
195,S6543701W,Judy,Meyer,judy.meyer@yahoo.com,1965-02-06,Female
196,S6071393C,Nathaniel,Ballard,nathaniel.ballard@hotmail.com,1960-01-10,Male
197,S9978308E,Anna,Brock,anna.brock@hotmail.com,1999-02-26,Female
198,T0343443A,Kevin,Whitehead,kevin.whitehead@gmail.com,2003-04-12,Male
199,S4879016H,Barbara,Gregory,barbara.gregory@gmail.com,1948-02-22,Female

In [ ]:
# Combine first name and last name into a full name for checking uniqueness
check_fullName = users_df["first_name"] + " " + users_df["last_name"]
# Check that the full names are all unique
print(f"Number of unique full names: {check_fullName.nunique()}")

# Check that dates are in range
start_date = "1920-01-01"
end_date = "2025-03-01"

users_df["date_of_birth"] = pd.to_datetime(users_df["date_of_birth"])
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

is_in_range = (users_df["date_of_birth"] >= start_date) & (
    users_df["date_of_birth"] <= end_date
)

# check if the date is under range
if is_in_range.all():
    print("All date are in range")
else:
    print("Some dates are not in range")

Number of unique full names: 200
All date are in range

## Vaccines Table

In [66]:
# Vaccine Table
vaccines_data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8],
    "name": [
        "Influenza (INF)",
        "Human Papillomavirus (HPV)",
        "Pneumococcal",
        "Human Immunodeficiency Viruses (HIV)",
        "Tetanus, Diphtheria, Pertussis (Tdap)",
        "Hepatitis B (HepB)",
        "Measles, Mumps, Rubella (MMR)",
        "Varicella (VAR)",
    ],
    "price": [9.0, 0.0, 16.0, 23.0, 10.0, 9.0, 9.0, 11.0],
    "doses_required": [2, 4, 1, 2, 1, 2, 1, 3],
    "age_criteria": [
        "18+ years old",
        "18+ years old",
        "65+ years old",
        "18-26 years old",
        "27-64 years old",
        "18+ years old",
        "18+ years old",
        "18+ years old",
    ],
    "gender_criteria": [
        "None",
        "None",
        "None",
        "Female",
        "Female",
        "None",
        "None",
        "None",
    ],
    # condition_crietria
}
vaccines_df = pd.DataFrame(vaccines_data)
display(vaccines_df)

,id,name,price,doses_required,age_criteria,gender_criteria
0,1,Influenza (INF),9.0,2,18+ years old,None
1,2,Human Papillomavirus (HPV),0.0,4,18+ years old,None
2,3,Pneumococcal,16.0,1,65+ years old,None
3,4,Human Immunodeficiency Viruses (HIV),23.0,2,18-26 years old,Female
4,5,"Tetanus, Diphtheria, Pertussis (Tdap)",10.0,1,27-64 years old,Female
5,6,Hepatitis B (HepB),9.0,2,18+ years old,None
6,7,"Measles, Mumps, Rubella (MMR)",9.0,1,18+ years old,None
7,8,Varicella (VAR),11.0,3,18+ years old,None

## Polyclinics Table

In [67]:
# Polyclinic Table
polyclinics_data = {
    "id": [i for i in range(1, 31)],  # 30 polyclinics
    "name": [fake.company() + " Polyclinic" for _ in range(30)],
    "address": [fake.address() for _ in range(30)],
}
polyclinics_df = pd.DataFrame(polyclinics_data)
display(polyclinics_df)

,id,name,address
0,1,Sutton-Fox Polyclinic,"0419 Jeremy Islands\nAnthonyborough, AR 35395"
1,2,Romero-Henderson Polyclinic,Unit 8408 Box 0111\nDPO AE 46596
2,3,Lee Group Polyclinic,"4129 Tiffany Shoal Suite 129\nPort Shawn, IL 8..."
3,4,Carter-Sparks Polyclinic,"431 Castillo Hill Suite 272\nJoannborough, NC ..."
4,5,Silva-Avila Polyclinic,"186 Meghan View Apt. 062\nNew Ninamouth, SC 38674"
5,6,Michael Inc Polyclinic,"101 Morse Estates\nLake Kurtmouth, MH 09042"
6,7,Salazar-Salinas Polyclinic,"6614 Chelsea Valley\nNielsenfort, AL 39533"
7,8,Greer-Liu Polyclinic,Unit 2876 Box 5544\nDPO AP 53595
8,9,"Russo, Collins and Cooper Polyclinic","02236 Charles Pass\nWest Brandon, SD 44613"
9,10,Williams-Mcguire Polyclinic,"53946 Mcclure Rapids\nEmilyfort, KY 56712"
10,11,Mcneil-Ponce Polyclinic,2825 Santiago Flats Suite 570\nSouth Chasemout...
11,12,Allen Ltd Polyclinic,"04186 Francis Mall Apt. 050\nNorth Jennifer, N..."
12,13,Martinez-Avery Polyclinic,"0453 Lisa Common Apt. 821\nLake Nicholeland, A..."
13,14,Baker-Cardenas Polyclinic,"3804 Joseph Shoal\nBartontown, AS 88113"
14,15,Smith Inc Polyclinic,"89990 Garrett Tunnel\nPort Laura, MH 39423"
15,16,Johnson and Sons Polyclinic,"161 Brittany Shores\nLake Barbaraland, IN 33669"
16,17,"Hart, Wright and Miller Polyclinic","610 Lisa Hill\nKevinland, SC 47403"
17,18,"Jones, Krause and Bentley Polyclinic","107 Miller Station\nSouth Paula, ID 35590"
18,19,"Coleman, Manning and Chapman Polyclinic","0633 Sanchez Divide\nWest Danielleton, MS 67866"
19,20,"Sanders, Torres and Simon Polyclinic","687 Patrick Squares\nVelazquezton, AS 73737"
20,21,"Mendez, Brown and Braun Polyclinic","24773 Anthony Flats Suite 238\nPort Brittany, ..."
21,22,Russo and Sons Polyclinic,"749 Carolyn Rapid\nPort Michael, OH 02556"
22,23,Williams PLC Polyclinic,19378 Stephens Cove Apt. 560\nWest Rodneyshire...
23,24,"Foster, Mcpherson and Garcia Polyclinic","430 Annette Creek\nNew Mark, OR 52571"
24,25,Mitchell-Joseph Polyclinic,"104 Jeffrey Circles\nHarveymouth, MP 93792"
25,26,Cook PLC Polyclinic,"52884 Jones Port\nEast Cheryl, SC 68905"
26,27,Ruiz LLC Polyclinic,"97421 Phillip Junctions Suite 494\nLitown, MD ..."
27,28,"Cook, Johnson and Davis Polyclinic","1918 Sharon Coves\nLake Henrybury, CT 07298"
28,29,"Nixon, Jackson and Rodriguez Polyclinic","2484 Vargas Stravenue\nLake Deborah, PA 31639"
29,30,Armstrong-Ellis Polyclinic,3992 Meredith Junctions Suite 027\nEast Daniel...

In [68]:
# Check that the names are all unique
print(polyclinics_df["name"].nunique())

30

## Booking Slots Table

In [69]:
# 1 day: 5 slots
# 1 week (5 working days): 25 slots
# 30 polyclincs: 750
# Booking Slots Table

# Define the start and end dates for the range
start_date = datetime(2025, 3, 17)
end_date = datetime(2025, 3, 21)

# Booking Slots Table
booking_slots_data = {
    "id": [i for i in range(1, 751)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(750)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(750)],
    "datetime": [
        # Generate random date between 17th March and 21st March
        (
            start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
        ).replace(
            hour=random.randint(9, 18),  # Random hour between 9 AM and 6 PM
            minute=0,  # Set minute to 0 for hourly slots
            second=0,  # Set second to 0
            microsecond=0,  # Set microsecond to 0
        )
        for _ in range(750)
    ],
    "is_booked": [random.choice([True, False]) for _ in range(750)],
}

booking_slots_df = pd.DataFrame(booking_slots_data)

# Assign user_id only for booked slots
unique_bookings = set()  # To ensure uniqueness
user_nrics = users_df["nric"]


def assign_user_id(row):
    if row["is_booked"]:
        random.shuffle(user_nrics)  # Shuffle to randomize selection
        for user_id in user_nrics:
            key = (row["polyclinic_id"], row["datetime"], user_id)
            if key not in unique_bookings:
                unique_bookings.add(key)
                return user_id
    return None


booking_slots_df["user_nric"] = booking_slots_df.apply(assign_user_id, axis=1)

# Display the DataFrame
display(booking_slots_df)

      id  polyclinic_id  vaccine_id            datetime  is_booked  user_nric
0      1              2           5 2025-03-18 09:00:00       True  S4656854K
1      2             14           1 2025-03-18 15:00:00       True  S9671626H
2      3             21           2 2025-03-17 10:00:00      False       None
3      4              9           8 2025-03-18 16:00:00      False       None
4      5             28           6 2025-03-18 16:00:00       True  S9671626H
..   ...            ...         ...                 ...        ...        ...
745  746             16           4 2025-03-19 09:00:00       True  S5018775A
746  747             20           8 2025-03-19 11:00:00       True  S7258804H
747  748             15           6 2025-03-17 09:00:00       True  S5343224D
748  749             12           4 2025-03-18 09:00:00      False       None
749  750              8           1 2025-03-20 11:00:00       True  S8938686B

[750 rows x 6 columns]

In [70]:
# Check balance
booking_slots_df["is_booked"].value_counts()

is_booked
False    395
True     355
Name: count, dtype: int64

## Vaccine Records Table

In [71]:
# Vaccine Records Table
vaccine_records_data = {
    "id": [i for i in range(1, 501)],
    "user_nric": [random.choice(users_data["nric"]) for _ in range(500)],
    "vaccine_id": [random.choice(vaccines_data["id"]) for _ in range(500)],
    "polyclinic_id": [random.choice(polyclinics_data["id"]) for _ in range(500)],
    "vaccination_date": [fake.date_this_year() for _ in range(500)],
}
vaccine_records_df = pd.DataFrame(vaccine_records_data)
display(vaccine_records_df)

      id  user_nric  vaccine_id  polyclinic_id vaccination_date
0      1  S7546104H           3             27       2025-01-23
1      2  S4857156I           8              8       2025-02-11
2      3  S7352939I           5              3       2025-02-01
3      4  S6054081N           7              4       2025-01-10
4      5  S7546104H           3             26       2025-02-15
..   ...        ...         ...            ...              ...
495  496  S5018775A           8             14       2025-03-18
496  497  S4857156I           2             13       2025-03-03
497  498  S5149482R           6             12       2025-01-03
498  499  S7659285Q           1             28       2025-02-02
499  500  S7279862C           3             25       2025-02-27

[500 rows x 5 columns]

## Vaccine Stock Inventory Table

In [72]:
# 30 polyclinics
# 8 vaccines
# Vaccine Stock Inventory Table
# Number of records
total_records = 200

# Initialize a list to hold the vaccine stock data
vaccine_stock_data = {
    "id": [],
    "polyclinic_id": [],
    "vaccine_id": [],
    "stock_quantity": [],
}

# Initialize a set to track unique (polyclinic_id, vaccine_id) combinations
existing_combinations = set()

id_counter = 1

# Loop to create 200 records with random vaccine availability
while len(vaccine_stock_data["polyclinic_id"]) < total_records:
    polyclinic = random.choice(polyclinics_df["id"])  # Randomly choose a polyclinic
    available_vaccines = random.sample(
        vaccines_df["id"].tolist(), random.randint(1, len(vaccines_df))
    )  # Randomly pick some vaccines for the polyclinic

    for vaccine in available_vaccines:
        # Ensure the (polyclinic_id, vaccine_id) combination is unique
        combination = (polyclinic, vaccine)
        if combination not in existing_combinations:
            vaccine_stock_data["id"].append(id_counter)
            vaccine_stock_data["polyclinic_id"].append(polyclinic)  # Polyclinic ID
            vaccine_stock_data["vaccine_id"].append(vaccine)  # Vaccine ID
            vaccine_stock_data["stock_quantity"].append(
                random.randint(50, 200)
            )  # Random stock quantity
            existing_combinations.add(combination)  # Track the combination
            id_counter += 1  # Increment ID

# Convert to DataFrame
vaccine_stock_df = pd.DataFrame(vaccine_stock_data)
# Display the resulting DataFrame
display(vaccine_stock_df)

      id  polyclinic_id  vaccine_id  stock_quantity
0      1              4           6             177
1      2              4           3             161
2      3              4           7             164
3      4              4           2              98
4      5              4           5              96
..   ...            ...         ...             ...
197  198             23           2             196
198  199             24           5              91
199  200             24           6             157
200  201             24           3              89
201  202             24           1              61

[202 rows x 4 columns]

In [73]:
# Group the dataframe by polyclinic_id and vaccine_id and count occurrences
grouped = (
    vaccine_stock_df.groupby(["polyclinic_id", "vaccine_id"])
    .size()
    .reset_index(name="count")
)

# Check if any combination appears more than once
duplicates = grouped[grouped["count"] > 1]

# Display the duplicates if any
if not duplicates.empty:
    print("Found duplicate entries:")
    display(duplicates)
else:
    print("All polyclinic_id and vaccine_id combinations are unique.")

All polyclinic_id and vaccine_id combinations are unique.

## Insert Vaccination Data into SQLite Database

Remember to delete the existing SQLite file before running the cell below.

In [74]:
# Define SQLite database file path again
sqlite_db_path = "../data/vaccination_db.sqlite"

# Reconnect to SQLite database
conn = sqlite3.connect(sqlite_db_path)
cursor = conn.cursor()


# Function to insert DataFrame data into SQLite
def insert_csv_to_sqlite(
    csv_data: pd.DataFrame, table_name: str, conn: sqlite3.Connection
):
    csv_data.to_sql(table_name, conn, if_exists="append", index=False)


# Insert data into SQLite tables
insert_csv_to_sqlite(users_df, "Users", conn)
insert_csv_to_sqlite(vaccines_df, "Vaccines", conn)
insert_csv_to_sqlite(polyclinics_df, "Polyclinics", conn)
insert_csv_to_sqlite(booking_slots_df, "BookingSlots", conn)
insert_csv_to_sqlite(vaccine_records_df, "VaccineRecords", conn)
insert_csv_to_sqlite(vaccine_stock_df, "VaccineStockInventory", conn)

# Commit changes and close connection
conn.commit()
conn.close()

## Query SQLite Database

In [75]:
conn = sqlite3.connect("../data/vaccination_db.sqlite")
cursor = conn.cursor()

In [76]:
# Example: Fetch all users
cursor.execute("SELECT * FROM Users")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

('S8938686B', 'Jordan', 'Johnson', 'jordan.johnson@hotmail.com', '2005-11-21 00:00:00', 'Male')
('S8236775O', 'Michelle', 'Price', 'michelle.price@gmail.com', '1978-03-31 00:00:00', 'Female')
('S9968741O', 'William', 'Murphy', 'william.murphy@gmail.com', '1951-08-10 00:00:00', 'Male')
('S6795239E', 'Dawn', 'Robinson', 'dawn.robinson@gmail.com', '1988-06-19 00:00:00', 'Female')
('S4879016H', 'Troy', 'Mcintyre', 'troy.mcintyre@yahoo.com', '1952-03-11 00:00:00', 'Male')
('S6913264W', 'Maria', 'Estes', 'maria.estes@yahoo.com', '1996-03-27 00:00:00', 'Female')
('S8921285X', 'Bobby', 'Allen', 'bobby.allen@gmail.com', '1976-04-08 00:00:00', 'Male')
('S5227967Y', 'Kristi', 'Randall', 'kristi.randall@yahoo.com', '2003-11-20 00:00:00', 'Female')
('S8847851P', 'Joshua', 'Castillo', 'joshua.castillo@yahoo.com', '1987-01-16 00:00:00', 'Male')
('S9129141X', 'Ashley', 'Wong', 'ashley.wong@yahoo.com', '1969-07-11 00:00:00', 'Female')
('S9747465H', 'Joel', 'Warren', 'joel.warren@hotmail.com', '1987-03-11 00:00:00', 'Male')
('T0528285T', 'Melissa', 'Young', 'melissa.young@yahoo.com', '1952-01-14 00:00:00', 'Female')
('S9564595V', 'Angel', 'Newman', 'angel.newman@yahoo.com', '1995-07-01 00:00:00', 'Male')
('S5572649R', 'Jennifer', 'Williams', 'jennifer.williams@hotmail.com', '1988-03-17 00:00:00', 'Female')
('S9529136R', 'Malik', 'Nolan', 'malik.nolan@gmail.com', '1954-11-21 00:00:00', 'Male')
('S5757788S', 'Brenda', 'Olsen', 'brenda.olsen@hotmail.com', '2005-08-03 00:00:00', 'Female')
('S7058032M', 'Cory', 'Murphy', 'cory.murphy@gmail.com', '1951-10-10 00:00:00', 'Male')
('S9978308E', 'Margaret', 'Howard', 'margaret.howard@yahoo.com', '2002-03-31 00:00:00', 'Female')
('S9623938B', 'Nathan', 'Carter', 'nathan.carter@hotmail.com', '1988-07-09 00:00:00', 'Male')
('S7976096Z', 'Sara', 'Lopez', 'sara.lopez@yahoo.com', '2003-03-16 00:00:00', 'Female')
('S6362817A', 'Chad', 'Sanchez', 'chad.sanchez@gmail.com', '1984-03-01 00:00:00', 'Male')
('S5310688O', 'Whitney', 'Caldwell', 'whitney.caldwell@gmail.com', '1945-08-15 00:00:00', 'Female')
('S9586487J', 'David', 'Camacho', 'david.camacho@gmail.com', '1995-06-23 00:00:00', 'Male')
('S4994749H', 'Erin', 'Johnson', 'erin.johnson@yahoo.com', '1979-01-11 00:00:00', 'Female')
('S6965760O', 'Chad', 'Robertson', 'chad.robertson@yahoo.com', '1946-03-12 00:00:00', 'Male')
('S9299982Z', 'Frances', 'Randall', 'frances.randall@gmail.com', '1997-02-27 00:00:00', 'Female')
('S7323206I', 'Eric', 'Hartman', 'eric.hartman@yahoo.com', '1959-09-20 00:00:00', 'Male')
('S9526810U', 'Heather', 'Jones', 'heather.jones@hotmail.com', '1949-09-28 00:00:00', 'Female')
('S7930804S', 'Maxwell', 'Miller', 'maxwell.miller@hotmail.com', '1991-04-12 00:00:00', 'Male')
('S7869740H', 'Stacey', 'Sanders', 'stacey.sanders@gmail.com', '1966-10-26 00:00:00', 'Female')
('S8253821B', 'Gregory', 'Pollard', 'gregory.pollard@yahoo.com', '1990-02-25 00:00:00', 'Male')
('S7845568T', 'Kathleen', 'Garrett', 'kathleen.garrett@gmail.com', '1997-09-14 00:00:00', 'Female')
('S5176975D', 'Timothy', 'Brown', 'timothy.brown@gmail.com', '1970-09-10 00:00:00', 'Male')
('T0549547L', 'Monica', 'Peterson', 'monica.peterson@yahoo.com', '1967-07-23 00:00:00', 'Female')
('S7546104H', 'Andrew', 'Rivera', 'andrew.rivera@hotmail.com', '1950-03-03 00:00:00', 'Male')
('S8746830X', 'Anna', 'Cervantes', 'anna.cervantes@hotmail.com', '1975-03-19 00:00:00', 'Female')
('S4994047N', 'Scott', 'Long', 'scott.long@yahoo.com', '2001-03-06 00:00:00', 'Male')
('S6680505G', 'Amanda', 'Hahn', 'amanda.hahn@hotmail.com', '1992-10-16 00:00:00', 'Female')
('S5195061W', 'Paul', 'Brooks', 'paul.brooks@gmail.com', '1987-10-18 00:00:00', 'Male')
('S8033507A', 'Barbara', 'Barron', 'barbara.barron@hotmail.com', '1954-06-18 00:00:00', 'Female')
('S9787041O', 'Kyle', 'James', 'kyle.james@gmail.com', '1955-03-03 00:00:00', 'Male')
('S6489409C', 'Wanda', 'Mcdonald', 'wanda.mcdonald@hotmail.com', '1945-01-10 00:00:00', 'Female')
('S9526677L', 'Gregory', 'Burnett', 'gregory.burnett@gmail.com', '1982-07-05 00:00:00', 'Male')
('S5460605T', 'Carolyn', 'Thomas', 'carolyn.thomas@yahoo.com', '1986-12-19 00:00:00', 'Female')
('S6310561D', 'Matthew', 'King', 'matthew.king@yahoo.com', '1992-04-24 00:00:00', 'Male')
('S8789810T', 'Susan', 'Dillon', 'susan.dillon@hotmail.com', '1993-06-09 00:00:00', 'Female')
('S7522939Z', 'Kevin', 'Fisher', 'kevin.fisher@hotmail.com', '1951-04-27 00:00:00', 'Male')
('S9453441E', 'Lisa', 'Bennett', 'lisa.bennett@hotmail.com', '1984-07-27 00:00:00', 'Female')
('S9831017X', 'Jon', 'Thomas', 'jon.thomas@gmail.com', '1958-12-17 00:00:00', 'Male')
('S7314998B', 'Michelle', 'Jones', 'michelle.jones@yahoo.com', '1946-06-20 00:00:00', 'Female')
('S5258521S', 'Victor', 'Walker', 'victor.walker@hotmail.com', '1994-09-28 00:00:00', 'Male')
('S7416377U', 'Allison', 'Lutz', 'allison.lutz@hotmail.com', '1988-11-26 00:00:00', 'Female')
('S4711115B', 'Jason', 'Adams', 'jason.adams@hotmail.com', '1963-07-04 00:00:00', 'Male')
('S6543701W', 'Deborah', 'Fernandez', 'deborah.fernandez@gmail.com', '1992-05-03 00:00:00', 'Female')
('S6089479N', 'Kenneth', 'Williams', 'kenneth.williams@yahoo.com', '1989-07-09 00:00:00', 'Male')
('S8477047M', 'Amy', 'Frye', 'amy.frye@yahoo.com', '1967-04-09 00:00:00', 'Female')
('S9484663U', 'Joseph', 'Leach', 'joseph.leach@hotmail.com', '1998-01-29 00:00:00', 'Male')
('S5969532H', 'Adrienne', 'Hicks', 'adrienne.hicks@hotmail.com', '1962-07-04 00:00:00', 'Female')
('S5089581A', 'Miguel', 'Little', 'miguel.little@gmail.com', '1989-03-12 00:00:00', 'Male')
('S4436997T', 'Victoria', 'Dean', 'victoria.dean@yahoo.com', '2000-09-08 00:00:00', 'Female')
('S9989346N', 'Dennis', 'Coleman', 'dennis.coleman@yahoo.com', '1997-09-08 00:00:00', 'Male')
('S9850975Q', 'Kiara', 'Joyce', 'kiara.joyce@hotmail.com', '1949-11-15 00:00:00', 'Female')
('S8438242Y', 'Rodney', 'Norman', 'rodney.norman@hotmail.com', '1958-06-15 00:00:00', 'Male')
('S5434066Q', 'Diane', 'Ali', 'diane.ali@gmail.com', '1999-04-22 00:00:00', 'Female')
('S9560548X', 'Daniel', 'Rice', 'daniel.rice@hotmail.com', '1986-03-04 00:00:00', 'Male')
('S4695576S', 'Barbara', 'Johnston', 'barbara.johnston@yahoo.com', '1970-04-26 00:00:00', 'Female')
('S7013041I', 'James', 'Robinson', 'james.robinson@gmail.com', '1970-05-21 00:00:00', 'Male')
('S7552384U', 'Linda', 'Perez', 'linda.perez@gmail.com', '1948-09-13 00:00:00', 'Female')
('S9132039F', 'Jeffrey', 'Jones', 'jeffrey.jones@yahoo.com', '1971-04-27 00:00:00', 'Male')
('S4456551A', 'Jennifer', 'Clark', 'jennifer.clark@yahoo.com', '1987-03-03 00:00:00', 'Female')
('S9945781B', 'Nathan', 'Davis', 'nathan.davis@hotmail.com', '1999-10-19 00:00:00', 'Male')
('T0166785Z', 'Paige', 'King', 'paige.king@hotmail.com', '1959-01-09 00:00:00', 'Female')
('S6621639F', 'Troy', 'Myers', 'troy.myers@hotmail.com', '1975-01-11 00:00:00', 'Male')
('S6283119D', 'Tammy', 'Vasquez', 'tammy.vasquez@yahoo.com', '1999-09-25 00:00:00', 'Female')
('S5343224D', 'Randall', 'Andrade', 'randall.andrade@yahoo.com', '1991-09-19 00:00:00', 'Male')
('S9120191X', 'Karen', 'Harris', 'karen.harris@gmail.com', '1959-11-03 00:00:00', 'Female')
('S7026317L', 'James', 'Adams', 'james.adams@yahoo.com', '2000-02-17 00:00:00', 'Male')
('S9370309Q', 'Katie', 'Stewart', 'katie.stewart@hotmail.com', '1960-10-13 00:00:00', 'Female')
('S9493042T', 'Benjamin', 'Mercer', 'benjamin.mercer@yahoo.com', '1996-07-03 00:00:00', 'Male')
('S4734564V', 'Jessica', 'Silva', 'jessica.silva@gmail.com', '1978-07-31 00:00:00', 'Female')
('S5493619K', 'William', 'Moore', 'william.moore@gmail.com', '1972-08-11 00:00:00', 'Male')
('S9352145H', 'Jennifer', 'Little', 'jennifer.little@hotmail.com', '1992-09-19 00:00:00', 'Female')
('S7566325G', 'Scott', 'Goodman', 'scott.goodman@hotmail.com', '1960-08-11 00:00:00', 'Male')
('T0012736B', 'Kathleen', 'Reilly', 'kathleen.reilly@gmail.com', '1976-11-28 00:00:00', 'Female')
('S8693786N', 'Michael', 'Smith', 'michael.smith@gmail.com', '1995-09-18 00:00:00', 'Male')
('S5923037C', 'Shari', 'Dickerson', 'shari.dickerson@gmail.com', '1972-06-11 00:00:00', 'Female')
('S9835618B', 'Tanner', 'Stanton', 'tanner.stanton@hotmail.com', '1951-10-27 00:00:00', 'Male')
('S7580917R', 'Kimberly', 'Snyder', 'kimberly.snyder@yahoo.com', '1996-07-25 00:00:00', 'Female')
('S7830146H', 'Benjamin', 'Alvarez', 'benjamin.alvarez@yahoo.com', '1972-03-03 00:00:00', 'Male')
('S6531175D', 'Sara', 'Williamson', 'sara.williamson@hotmail.com', '1960-06-19 00:00:00', 'Female')
('S8232756V', 'William', 'Solis', 'william.solis@gmail.com', '1974-05-01 00:00:00', 'Male')
('S4510924M', 'Amy', 'Galloway', 'amy.galloway@hotmail.com', '2003-06-30 00:00:00', 'Female')
('S6022941Z', 'Stuart', 'Klein', 'stuart.klein@yahoo.com', '1962-08-21 00:00:00', 'Male')
('S5299880I', 'Molly', 'Hunt', 'molly.hunt@gmail.com', '1964-03-04 00:00:00', 'Female')
('S6595637B', 'Donald', 'Cox', 'donald.cox@hotmail.com', '1996-08-28 00:00:00', 'Male')
('S7384059A', 'Lauren', 'Suarez', 'lauren.suarez@hotmail.com', '1993-12-27 00:00:00', 'Female')
('S8865155J', 'Robert', 'Collins', 'robert.collins@gmail.com', '1994-11-16 00:00:00', 'Male')
('S7317217G', 'Kelly', 'Becker', 'kelly.becker@gmail.com', '1977-02-04 00:00:00', 'Female')
('S6492476O', 'Michael', 'Brennan', 'michael.brennan@hotmail.com', '1982-10-10 00:00:00', 'Male')
('S6113642N', 'Kellie', 'Perkins', 'kellie.perkins@yahoo.com', '1952-09-02 00:00:00', 'Female')
('S5345693C', 'Eric', 'Avila', 'eric.avila@yahoo.com', '1982-01-31 00:00:00', 'Male')
('S4825854J', 'Carrie', 'Lopez', 'carrie.lopez@hotmail.com', '1994-02-26 00:00:00', 'Female')
('S7033744H', 'Wesley', 'Scott', 'wesley.scott@gmail.com', '1950-10-01 00:00:00', 'Male')
('S7659285Q', 'Wendy', 'Lee', 'wendy.lee@gmail.com', '2006-07-07 00:00:00', 'Female')
('S5511888B', 'Joel', 'Baker', 'joel.baker@gmail.com', '1965-04-24 00:00:00', 'Male')
('S4986130W', 'Betty', 'Martinez', 'betty.martinez@gmail.com', '1973-03-21 00:00:00', 'Female')
('S9250093F', 'Alejandro', 'Brown', 'alejandro.brown@hotmail.com', '1970-10-03 00:00:00', 'Male')
('S5952338G', 'Melissa', 'Perez', 'melissa.perez@yahoo.com', '1950-11-05 00:00:00', 'Female')
('S4857156I', 'Scott', 'Odom', 'scott.odom@gmail.com', '1991-05-23 00:00:00', 'Male')
('S4656854K', 'Erika', 'Martinez', 'erika.martinez@yahoo.com', '1995-05-19 00:00:00', 'Female')
('S4672340D', 'Charles', 'Lam', 'charles.lam@hotmail.com', '1986-11-01 00:00:00', 'Male')
('S7761580E', 'Katie', 'Nelson', 'katie.nelson@gmail.com', '1955-04-25 00:00:00', 'Female')
('S6642646S', 'Joseph', 'Campbell', 'joseph.campbell@yahoo.com', '1957-12-05 00:00:00', 'Male')
('S5873581H', 'Jessica', 'Tyler', 'jessica.tyler@hotmail.com', '1944-06-16 00:00:00', 'Female')
('S5876507O', 'Nathan', 'Boyd', 'nathan.boyd@hotmail.com', '1948-05-01 00:00:00', 'Male')
('S6834081E', 'Christina', 'Ramirez', 'christina.ramirez@yahoo.com', '1960-08-27 00:00:00', 'Female')
('S4569566M', 'Brandon', 'Morgan', 'brandon.morgan@gmail.com', '1980-01-16 00:00:00', 'Male')
('S7551444E', 'Jamie', 'Kennedy', 'jamie.kennedy@yahoo.com', '1975-07-30 00:00:00', 'Female')
('S4557455L', 'Donald', 'Miller', 'donald.miller@gmail.com', '1953-04-17 00:00:00', 'Male')
('T0269017D', 'Shannon', 'Simmons', 'shannon.simmons@yahoo.com', '1961-12-18 00:00:00', 'Female')
('S7228980P', 'William', 'Vega', 'william.vega@yahoo.com', '1978-11-20 00:00:00', 'Male')
('S9267164I', 'Melissa', 'Ward', 'melissa.ward@yahoo.com', '2002-11-24 00:00:00', 'Female')
('T0210186N', 'Joseph', 'Porter', 'joseph.porter@gmail.com', '1983-09-29 00:00:00', 'Male')
('S7755668U', 'Renee', 'Miller', 'renee.miller@gmail.com', '1970-10-23 00:00:00', 'Female')
('S6554840Q', 'Robert', 'Gregory', 'robert.gregory@hotmail.com', '1973-01-03 00:00:00', 'Male')
('S9481210W', 'Veronica', 'Dougherty', 'veronica.dougherty@gmail.com', '1944-04-15 00:00:00', 'Female')
('S6034840F', 'Bryan', 'Henry', 'bryan.henry@hotmail.com', '1973-03-01 00:00:00', 'Male')
('S5538215A', 'Judy', 'Morris', 'judy.morris@hotmail.com', '2002-01-30 00:00:00', 'Female')
('S4521102Q', 'Steve', 'Rodriguez', 'steve.rodriguez@hotmail.com', '1947-10-11 00:00:00', 'Male')
('S9661006E', 'Katie', 'Warren', 'katie.warren@yahoo.com', '1975-09-20 00:00:00', 'Female')
('S6475342D', 'Shawn', 'Humphrey', 'shawn.humphrey@yahoo.com', '1954-10-21 00:00:00', 'Male')
('S6071393C', 'Amy', 'Harris', 'amy.harris@gmail.com', '1969-09-10 00:00:00', 'Female')
('S8352006D', 'Rick', 'Sellers', 'rick.sellers@hotmail.com', '1953-08-07 00:00:00', 'Male')
('T0559380W', 'Donna', 'Bell', 'donna.bell@gmail.com', '2005-07-15 00:00:00', 'Female')
('S8555008S', 'Cory', 'Valdez', 'cory.valdez@hotmail.com', '1977-09-29 00:00:00', 'Male')
('T0343443A', 'Martha', 'Mendez', 'martha.mendez@yahoo.com', '1957-01-09 00:00:00', 'Female')
('S9992593A', 'Martin', 'Mason', 'martin.mason@yahoo.com', '1982-07-24 00:00:00', 'Male')
('S6766998M', 'Stephanie', 'Adams', 'stephanie.adams@yahoo.com', '2000-09-09 00:00:00', 'Female')
('T0563940Y', 'Ian', 'Martin', 'ian.martin@yahoo.com', '1953-02-17 00:00:00', 'Male')
('S5767379P', 'Laura', 'Ray', 'laura.ray@yahoo.com', '1985-08-26 00:00:00', 'Female')
('S9914236E', 'Gerald', 'Day', 'gerald.day@gmail.com', '1992-01-04 00:00:00', 'Male')
('S7258804H', 'Jordan', 'Baker', 'jordan.baker@hotmail.com', '1966-11-13 00:00:00', 'Female')
('S8925335N', 'Tyler', 'Luna', 'tyler.luna@hotmail.com', '1946-08-08 00:00:00', 'Male')
('T0633297V', 'Kelly', 'Dunn', 'kelly.dunn@gmail.com', '1995-03-06 00:00:00', 'Female')
('S9722418F', 'Antonio', 'Kemp', 'antonio.kemp@gmail.com', '1995-11-05 00:00:00', 'Male')
('S8619565W', 'Ashley', 'Smith', 'ashley.smith@yahoo.com', '1968-04-18 00:00:00', 'Female')
('S7835832Z', 'James', 'Jennings', 'james.jennings@hotmail.com', '1975-02-26 00:00:00', 'Male')
('S4559246Y', 'Hailey', 'Mendoza', 'hailey.mendoza@gmail.com', '1954-03-27 00:00:00', 'Female')
('S9089217F', 'Richard', 'Tucker', 'richard.tucker@hotmail.com', '2005-05-27 00:00:00', 'Male')
('S4923688B', 'Elizabeth', 'Olson', 'elizabeth.olson@hotmail.com', '2005-12-27 00:00:00', 'Female')
('S9671626H', 'Patrick', 'Thomas', 'patrick.thomas@yahoo.com', '2001-04-26 00:00:00', 'Male')
('S4755493Z', 'Michelle', 'Gonzalez', 'michelle.gonzalez@hotmail.com', '1963-03-11 00:00:00', 'Female')
('S6054081N', 'John', 'Rodriguez', 'john.rodriguez@hotmail.com', '1966-07-13 00:00:00', 'Male')
('S9295822U', 'Diane', 'Murphy', 'diane.murphy@hotmail.com', '1993-11-26 00:00:00', 'Female')
('T0311082L', 'John', 'Golden', 'john.golden@hotmail.com', '1999-06-10 00:00:00', 'Male')
('S8690328T', 'Lauren', 'Odom', 'lauren.odom@hotmail.com', '1964-04-29 00:00:00', 'Female')
('S5018775A', 'Antonio', 'Banks', 'antonio.banks@yahoo.com', '1954-08-11 00:00:00', 'Male')
('S5252721G', 'Karen', 'Knight', 'karen.knight@yahoo.com', '1981-10-15 00:00:00', 'Female')
('S5469862U', 'John', 'Petty', 'john.petty@hotmail.com', '1947-05-16 00:00:00', 'Male')
('S9162375F', 'Andrea', 'Wilson', 'andrea.wilson@gmail.com', '1948-01-18 00:00:00', 'Female')
('S5781609Q', 'Bruce', 'Rodgers', 'bruce.rodgers@hotmail.com', '1947-07-05 00:00:00', 'Male')
('S6255411O', 'Susan', 'Watson', 'susan.watson@gmail.com', '1972-05-15 00:00:00', 'Female')
('S5420899F', 'Joshua', 'Hampton', 'joshua.hampton@gmail.com', '1998-02-11 00:00:00', 'Male')
('T0364008E', 'Sandy', 'Kim', 'sandy.kim@hotmail.com', '1975-03-08 00:00:00', 'Female')
('S5099110P', 'David', 'Reynolds', 'david.reynolds@yahoo.com', '1947-03-07 00:00:00', 'Male')
('S9282982G', 'Alicia', 'Raymond', 'alicia.raymond@gmail.com', '2002-11-16 00:00:00', 'Female')
('S8735165F', 'Bruce', 'Harris', 'bruce.harris@yahoo.com', '1965-01-23 00:00:00', 'Male')
('T0525598C', 'Samantha', 'Simmons', 'samantha.simmons@hotmail.com', '1957-07-03 00:00:00', 'Female')
('S7157915Y', 'Anthony', 'Park', 'anthony.park@gmail.com', '1945-11-03 00:00:00', 'Male')
('T0316302O', 'Lindsey', 'Allen', 'lindsey.allen@hotmail.com', '1998-04-27 00:00:00', 'Female')
('S7456077L', 'Scott', 'Ortega', 'scott.ortega@yahoo.com', '1979-08-07 00:00:00', 'Male')
('T0277998P', 'Amber', 'Johnson', 'amber.johnson@yahoo.com', '1965-09-07 00:00:00', 'Female')
('S5289849B', 'Kenneth', 'Smith', 'kenneth.smith@yahoo.com', '1955-03-11 00:00:00', 'Male')
('T0030335R', 'Angela', 'Willis', 'angela.willis@gmail.com', '1978-02-16 00:00:00', 'Female')
('S9537059P', 'Jonathan', 'Bruce', 'jonathan.bruce@yahoo.com', '1964-09-30 00:00:00', 'Male')
('S7279862C', 'Danielle', 'Robinson', 'danielle.robinson@gmail.com', '1973-01-24 00:00:00', 'Female')
('S7591511S', 'Joseph', 'Smith', 'joseph.smith@hotmail.com', '1999-03-22 00:00:00', 'Male')
('S7618880L', 'Misty', 'Garcia', 'misty.garcia@gmail.com', '1989-03-20 00:00:00', 'Female')
('T0114587P', 'Samuel', 'Wiley', 'samuel.wiley@hotmail.com', '1995-02-23 00:00:00', 'Male')
('T0237277W', 'Meghan', 'Rogers', 'meghan.rogers@hotmail.com', '1991-09-13 00:00:00', 'Female')
('S8255345S', 'Kevin', 'Blanchard', 'kevin.blanchard@yahoo.com', '1949-01-28 00:00:00', 'Male')
('S9356128W', 'Leslie', 'Walker', 'leslie.walker@gmail.com', '1984-10-30 00:00:00', 'Female')
('S5149482R', 'Darin', 'Smith', 'darin.smith@gmail.com', '1975-02-11 00:00:00', 'Male')
('S8140503J', 'Stephanie', 'Beltran', 'stephanie.beltran@hotmail.com', '1995-05-18 00:00:00', 'Female')
('S9595111E', 'Andrew', 'Young', 'andrew.young@hotmail.com', '1949-09-11 00:00:00', 'Male')
('T0036784F', 'Tina', 'Fleming', 'tina.fleming@yahoo.com', '1952-07-01 00:00:00', 'Female')
('S9544817B', 'Mike', 'Leonard', 'mike.leonard@gmail.com', '1944-10-08 00:00:00', 'Male')
('S7036017F', 'Jessica', 'Mcbride', 'jessica.mcbride@yahoo.com', '1952-11-24 00:00:00', 'Female')
('S8881861D', 'Cristian', 'Wright', 'cristian.wright@hotmail.com', '1945-08-15 00:00:00', 'Male')
('S9110749I', 'Janet', 'Howe', 'janet.howe@yahoo.com', '1945-11-22 00:00:00', 'Female')
('S4421832B', 'Danny', 'Calhoun', 'danny.calhoun@gmail.com', '1973-11-23 00:00:00', 'Male')
('S8436717Z', 'Lauren', 'Richardson', 'lauren.richardson@yahoo.com', '1995-01-04 00:00:00', 'Female')
('S8721135B', 'Earl', 'Nichols', 'earl.nichols@yahoo.com', '1991-04-27 00:00:00', 'Male')
('S4821322Y', 'Danielle', 'Barnes', 'danielle.barnes@yahoo.com', '1994-08-12 00:00:00', 'Female')
('S8833428Z', 'Todd', 'Lee', 'todd.lee@hotmail.com', '1974-11-28 00:00:00', 'Male')
('S9644589B', 'Judy', 'Meyer', 'judy.meyer@yahoo.com', '1965-02-06 00:00:00', 'Female')
('S5170921M', 'Nathaniel', 'Ballard', 'nathaniel.ballard@hotmail.com', '1960-01-10 00:00:00', 'Male')
('S7235562G', 'Anna', 'Brock', 'anna.brock@hotmail.com', '1999-02-26 00:00:00', 'Female')
('S7352939I', 'Kevin', 'Whitehead', 'kevin.whitehead@gmail.com', '2003-04-12 00:00:00', 'Male')
('S4712096C', 'Barbara', 'Gregory', 'barbara.gregory@gmail.com', '1948-02-22 00:00:00', 'Female')

In [77]:
db_filename = "../data/vaccination_db.sqlite"

try:
    conn = sqlite3.connect(db_filename)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = [row[0] for row in cursor.fetchall()]

    print("Tables in the database:")
    for table_name in table_names:
        print(table_name)

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    if conn:
        conn.close()

Tables in the database:
Users
Vaccines
Polyclinics
BookingSlots
VaccineRecords
VaccineStockInventory